Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(validation): stabilize local runtime e2e flows
  .github/workflows/full-validation.yml
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-web/apps/web-e2e/README.md
Due: prettier --write

fix(validation): stabilize local runtime e2e flows (#505)
  .github/workflows/full-validation.yml
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-web/apps/web-e2e/README.md
Due: prettier --write

fix(validation): stabilize web contracts and Slack fallback
  .github/workflows/full-validation.yml
  tchalanet-infra/docs/architecture/ENV-ARCHITECTURE.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/proposal.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/specs/nightly-validation/spec.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/tasks.md
  tchalanet-web/apps/web-e2e/src/admin-portal/operational-surface-contract.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

fix(validation): stabilize web contracts and Slack fallback (#506)
  .github/workflows/full-validation.yml
  tchalanet-infra/docs/architecture/ENV-ARCHITECTURE.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/proposal.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/specs/nightly-validation/spec.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/tasks.md
  tchalanet-web/apps/web-e2e/src/admin-portal/operational-surface-contract.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

fix(notification): route platform alerts to Slack
  tchalanet-server/openspec/changes/notification-external-delivery-v1/proposal.md
  tchalanet-server/openspec/changes/notification-external-delivery-v1/specs/platform-communication/spec.md
  tchalanet-server/openspec/changes/notification-external-delivery-v1/tasks.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/communication/internal/event/NotificationPublishedCommunicationListener.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/event/NotificationDomainEventRouter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/rule/AbstractNotificationRule.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/rule/NotificationIntent.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/communication/internal/event/NotificationPublishedCommunicationListenerTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/event/NotificationDomainEventRouterTest.java
Due: prettier --write

fix(server): patch OWASP CVEs — bump 7 deps, suppress 3 unfixable
  VERSIONS.md
  tchalanet-server/dependency-check-suppressions.xml
  tchalanet-server/pom.xml
Due: prettier --write

fix(notification): align role audiences and tenant scope
  tchalanet-server/openspec/changes/notification-audience-role-parity/.openspec.yaml
  tchalanet-server/openspec/changes/notification-audience-role-parity/design.md
  tchalanet-server/openspec/changes/notification-audience-role-parity/proposal.md
  tchalanet-server/openspec/changes/notification-audience-role-parity/specs/platform-notification/spec.md
  tchalanet-server/openspec/changes/notification-audience-role-parity/tasks.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/bootstrap/privateruntime/app/RuntimeBootstrapService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/repository/AppUserJpaRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/api/NotificationApi.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/api/model/request/GetNotificationSummaryRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/api/model/request/ListNotificationsRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/persistence/NotificationJpaRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/persistence/NotificationPersistenceService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/DefaultNotificationApi.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationReader.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/NotificationAdminGate.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/SellerTerminalNotificationController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/TenantNotificationController.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/persistence/repository/AppUserJpaRepositoryNotificationAudienceQueryTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/persistence/NotificationJpaRepositoryScopeQueryTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/service/NotificationServiceTest.java
Due: prettier --write

fix(server): align full fasterxml jackson 2.22 suite in dependencyManagement
  tchalanet-server/pom.xml
Due: none

docs(notification): define draw and ticket lifecycle policy
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/.openspec.yaml
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/design.md
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/proposal.md
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/specs/platform-notification/spec.md
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/DOMAIN_DRAW.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/DOMAIN_SALES.md
Due: prettier --write

fix(infra): bootstrap staging SSH through root (#504)
  tchalanet-infra/scripts/hcloud/03-create-server.sh
Due: none

fix(server): always use synthetic credentials for firebase-emulator provider
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseAdminConfig.java
Due: none

feat(notification): alert delayed draw settlement
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/design.md
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/specs/platform-notification/spec.md
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/DOMAIN_DRAW.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/event/DrawSettlementAttentionEvent.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/service/ResultedDrawProcessor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/config/DrawProperties.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/event/DrawSettlementAttentionNotificationListener.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/service/ResultedDrawProcessorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/event/DrawSettlementAttentionNotificationListenerTest.java
Due: prettier --write

fix(infra): use emulator credentials in dev api
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/tasks.md
Due: prettier --write

test(notification): cover tenant audience visibility
  tchalanet-server/openspec/changes/notification-lifecycle-policy-v1/tasks.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/PlatformTenantNotificationController.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/web/PlatformTenantNotificationControllerTest.java
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/scripts_agent_run.sh
  tchalanet-server/testing/e2e/tch_e2e/config.py
  tchalanet-server/testing/e2e/tests/notifications/__init__.py
  tchalanet-server/testing/e2e/tests/notifications/test_notification_audiences.py
Due: prettier --write

fix(infra): use emulator credentials in dev api (#509)
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/tasks.md
Due: prettier --write

fix(server): patch OWASP CVE deps + firebase-emulator credentials bypass (#510)
  VERSIONS.md
  tchalanet-server/dependency-check-suppressions.xml
  tchalanet-server/pom.xml
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseAdminConfig.java
Due: prettier --write

chore(server): apply spotless formatting
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/event/DrawSettlementAttentionNotificationListener.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/event/DrawSettlementAttentionNotificationListenerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseAdminConfig.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/event/NotificationDomainEventRouter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/persistence/NotificationPersistenceService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/persistence/NotificationJpaRepositoryScopeQueryTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/web/PlatformTenantNotificationControllerTest.java
Due: none

refactor(platform): split notifications page into composer + table components
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-composer/notification-composer.component.html
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-composer/notification-composer.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-composer/notification-composer.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-table/notification-table.component.html
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-table/notification-table.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-table/notification-table.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/notifications/pages/list/platform-notifications.page.html
  tchalanet-web/apps/platform-portal/src/app/features/notifications/pages/list/platform-notifications.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/notifications/pages/list/platform-notifications.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/notifications/pages/notifications-crud/platform-notifications.page.html
  tchalanet-web/apps/platform-portal/src/app/features/notifications/pages/notifications-crud/platform-notifications.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform.routes.ts
Due: nx affected:lint --fix, prettier --write

refactor(platform): split access-users page into ts/html/scss files
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-access-users.page.html
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-access-users.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-access-users.page.ts
Due: nx affected:lint --fix, prettier --write

test(draw): use valid settlement schedule fixture
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/service/ResultedDrawProcessorTest.java
Due: none

refactor(platform): extract CreateDrawChannelDialog to its own file
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/create-draw-channel.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channels/platform-catalog-draw-channels.page.ts
Due: nx affected:lint --fix, prettier --write

fix(platform): rename cancel output and type targets in notification-table
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-composer/notification-composer.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-table/notification-table.component.html
  tchalanet-web/apps/platform-portal/src/app/features/notifications/components/notification-table/notification-table.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/notifications/pages/list/platform-notifications.page.html
Due: nx affected:lint --fix, prettier --write

refactor(platform): split remaining inline templates and extract create dialogs
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-permissions.page.html
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-permissions.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-permissions.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-roles.page.html
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-roles.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/access/pages/platform-roles.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/create-plan.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/create-result-slot.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/create-theme.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/plans/platform-catalog-plans.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/result-slots/platform-catalog-result-slots.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/themes/platform-catalog-themes.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-detail.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-detail.page.ts
Due: nx affected:lint --fix, prettier --write

fix(mobile): stop recreating GoRouter on every auth/runtime change
  tchalanet-mobile/lib/app/app_router.dart
Due: none

fix(mobile): satisfy architecture guard's ban on ChangeNotifier
  tchalanet-mobile/lib/app/app_router.dart
Due: none

fix(mobile): address ergonomics/UX findings from code review
  tchalanet-mobile/assets/i18n/en/feature-auth.json
  tchalanet-mobile/assets/i18n/fr/feature-auth.json
  tchalanet-mobile/assets/i18n/ht/feature-auth.json
  tchalanet-mobile/lib/design_system/theme/theme_builder.dart
  tchalanet-mobile/lib/design_system/tokens/tch_colors.dart
  tchalanet-mobile/lib/features/auth/presentation/views/change_pin_page.dart
  tchalanet-mobile/lib/features/auth/presentation/views/login_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
Due: prettier --write

fix(mobile): finish ergonomics backlog — POS scaling, readability, i18n
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/design_system/components/online_badge.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/send_receipt_sheet.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
