Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

fix(ci): run nightly e2e against real firebase
  .github/workflows/full-validation.yml
  tchalanet-server/testing/e2e/.env.example
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: prettier --write

fix(ci): prepare disposable nightly e2e runtime
  .github/workflows/full-validation.yml
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/proposal.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/specs/nightly-validation/spec.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/tasks.md
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: prettier --write

fix(server): tolerate firebase issuer drift after validation
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/ExternalIdentityAppUserResolver.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/ExternalIdentityAppUserResolverTest.java
Due: none

fix(infra): provide signing keys for disposable validation runtime
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

fix(ci): stabilize nightly e2e validation
  .github/workflows/full-validation.yml
  tchalanet-server/testing/e2e/tch_e2e/client.py
  tchalanet-server/testing/e2e/tests/harness/test_client.py
Due: none

fix(ci): allow firebase emulator e2e bootstrap
  .github/workflows/full-validation.yml
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

fix(infra): deploy edge runtime from ghcr image
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

fix(ci): stabilize firebase emulator e2e identity
  .github/workflows/full-validation.yml
  tchalanet-server/testing/e2e/conftest.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tests/harness/test_auth.py
Due: none

fix(ci): unblock nightly validation setup
  .github/workflows/full-validation.yml
  tchalanet-server/testing/e2e/pyproject.toml
Due: none

fix(ci): avoid preinstall e2e auth probe
  .github/workflows/full-validation.yml
Due: none

fix(infra): pass validation signing keys to api container
  tchalanet-infra/compose/docker-compose-api.yml
Due: none

chore(server): log firebase identity fallback resolution
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/ExternalIdentityAppUserResolver.java
Due: none

fix(e2e): send sales currency code object
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tests/auth_context/test_cashier_security.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_ticket_sizes.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: none

fix(server): confirm implicit prepared sales
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/sale/SaleAcceptanceEvaluator.java
Due: none

fix(e2e): use prepared sale flow
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleLineRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleResponse.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleRequestTest.java
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/data_factory.py
  tchalanet-server/testing/e2e/tch_e2e/ticket_matrix.py
  tchalanet-server/testing/e2e/tests/auth_context/test_cashier_security.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_idempotency.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_ticket_sizes.py
  tchalanet-server/testing/e2e/tests/concurrency/test_pos_concurrency.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: none

fix(e2e): accept forbidden over-limit preparations
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: none

fix(e2e): avoid firebase emulator port dependency
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/TenantUserAdministrationService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/TenantUserAdministrationServiceTest.java
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: none

fix(e2e): restore cashier ticket sale aliases
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleLineRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleResponse.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/model/PosTicketSaleRequestTest.java
Due: none

fix(server): validate implicit sale selections
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidator.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
Due: none

fix(e2e): stabilize local firebase POS validation
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/query/handler/ListCashierNextDrawsQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/identity/CoreSellerTerminalIdentityLookupAdapter.java
  tchalanet-server/testing/e2e/conftest.py
  tchalanet-server/testing/e2e/fixtures/pos_context.py
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tch_e2e/client.py
  tchalanet-server/testing/e2e/tch_e2e/data_factory.py
  tchalanet-server/testing/e2e/tch_e2e/ticket_matrix.py
  tchalanet-server/testing/e2e/tests/auth_context/test_cashier_security.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_cashier_pos.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_idempotency.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_ticket_sizes.py
  tchalanet-server/testing/e2e/tests/concurrency/test_pos_concurrency.py
  tchalanet-server/testing/e2e/tests/dashboard/test_dashboard_pagemodels.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-server/testing/e2e/tests/public/test_public.py
  tchalanet-server/testing/e2e/tests/seller_terminal/test_seller_terminal.py
Due: none

fix(e2e): include sale line numbers
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/data_factory.py
  tchalanet-server/testing/e2e/tch_e2e/ticket_matrix.py
  tchalanet-server/testing/e2e/tests/auth_context/test_cashier_security.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: none

fix(e2e): use implicit bet options
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/ticket_matrix.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: none

fix(ci): run nightly e2e on disposable firebase-emulator runtime (#316)
  .github/workflows/full-validation.yml
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/proposal.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/specs/nightly-validation/spec.md
  tchalanet-infra/openspec/changes/nightly-e2e-disposable-validation/tasks.md
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/query/handler/ListCashierNextDrawsQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/sale/SaleAcceptanceEvaluator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/identity/CoreSellerTerminalIdentityLookupAdapter.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/ExternalIdentityAppUserResolver.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/TenantUserAdministrationService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/ExternalIdentityAppUserResolverTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/TenantUserAdministrationServiceTest.java
  tchalanet-server/testing/e2e/.env.example
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/conftest.py
  tchalanet-server/testing/e2e/fixtures/pos_context.py
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/pyproject.toml
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tch_e2e/client.py
  tchalanet-server/testing/e2e/tch_e2e/data_factory.py
  tchalanet-server/testing/e2e/tch_e2e/ticket_matrix.py
  tchalanet-server/testing/e2e/tests/auth_context/test_cashier_security.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_cashier_pos.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_idempotency.py
  tchalanet-server/testing/e2e/tests/cashier_pos/test_pos_ticket_sizes.py
  tchalanet-server/testing/e2e/tests/concurrency/test_pos_concurrency.py
  tchalanet-server/testing/e2e/tests/dashboard/test_dashboard_pagemodels.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-server/testing/e2e/tests/harness/test_auth.py
  tchalanet-server/testing/e2e/tests/harness/test_client.py
  tchalanet-server/testing/e2e/tests/public/test_public.py
  tchalanet-server/testing/e2e/tests/seller_terminal/test_seller_terminal.py
Due: prettier --write

feat(mobile): remove potential gain from cashier ticket surfaces (#254)
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
Due: none

feat(mobile): remove potential gain from cashier ticket surfaces (#254) (#322)
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
Due: none

docs(infra): add RB-04 release smoke & rollback runbook (#250)
  tchalanet-infra/docs/operations/DEPLOYMENT.md
  tchalanet-infra/docs/operations/runbooks/RB-04-release-rollback.md
Due: prettier --write

docs(infra): add RB-04 release smoke & rollback runbook (#250) (#323)
  tchalanet-infra/docs/operations/DEPLOYMENT.md
  tchalanet-infra/docs/operations/runbooks/RB-04-release-rollback.md
Due: prettier --write

fix(ops): stabilize admin dashboards and observability
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/docs/operations/OBSERVABILITY.md
  tchalanet-infra/envs/common/compose.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-infra/envs/prod/compose.env
  tchalanet-infra/envs/staging/compose.env
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.html
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.scss
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.html
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.scss
Due: nx affected:lint --fix, prettier --write

fix(ops): stabilize admin dashboards and observability (#324)
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/docs/operations/OBSERVABILITY.md
  tchalanet-infra/envs/common/compose.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-infra/envs/prod/compose.env
  tchalanet-infra/envs/staging/compose.env
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.html
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.scss
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.html
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.scss
Due: nx affected:lint --fix, prettier --write

feat(auth): support username login
  openspec/changes/username-login-v0/proposal.md
  openspec/changes/username-login-v0/specs/auth-username-login/spec.md
  openspec/changes/username-login-v0/tasks.md
  tchalanet-docs/docs/02-functional/domains/sales/sell-ticket/00-index.md
  tchalanet-docs/docs/02-functional/flows/admin-pos-selection.md
  tchalanet-docs/docs/02-functional/flows/sell-ticket.md
  tchalanet-docs/docs/02-functional/flows/seller-onboarding.md
  tchalanet-docs/docs/04-operations/super-admin-operations.md
  tchalanet-server/docs/conventions/context/request-context.md
  tchalanet-server/docs/conventions/context/role-flows.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V103__create_indexes.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/DOMAIN_SELLERTERMINAL.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/adapter/AppUserJpaAdapter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/repository/AppUserJpaRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/PublicLoginIdentifierService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/web/me/PublicLoginIdentifierController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/web/me/PublicLoginIdentifierRateLimiter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/web/me/ResolveLoginIdentifierRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/web/me/ResolveLoginIdentifierResponse.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/PublicLoginIdentifierServiceTest.java
  tchalanet-web/docs/auth-flow.md
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.spec.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
Due: nx affected:lint --fix, prettier --write

feat(web): add mobile install manifests
  tchalanet-web/apps/admin-portal/public/manifest.webmanifest
  tchalanet-web/apps/admin-portal/src/index.html
  tchalanet-web/apps/platform-portal/public/manifest.webmanifest
  tchalanet-web/apps/platform-portal/src/index.html
  tchalanet-web/apps/public-portal/public/manifest.webmanifest
  tchalanet-web/apps/public-portal/src/index.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
Due: nx affected:lint --fix, prettier --write

docs(auth): specify passkey login
  openspec/changes/admin-passkey-login-v1/proposal.md
  openspec/changes/admin-passkey-login-v1/specs/auth-passkey-login/spec.md
  openspec/changes/admin-passkey-login-v1/tasks.md
Due: prettier --write

docs(auth): harden passkey login spec
  openspec/changes/admin-passkey-login-v1/proposal.md
  openspec/changes/admin-passkey-login-v1/specs/auth-passkey-login/spec.md
  openspec/changes/admin-passkey-login-v1/tasks.md
Due: prettier --write

fix(auth): align seeded usernames
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V202__seed_iam_roles_permissions.sql
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseBootstrapProperties.java
Due: none

fix(web): default runtime configs to local api
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.json
Due: prettier --write

fix(web): use dev proxy for local runtime
  tchalanet-web/README.md
  tchalanet-web/libs/shared-assets/public/assets/config/README.md
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.local-ide-emulator.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.local-ide.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.local-ide-emulator.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.local-ide.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.local-ide-emulator.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.local-ide.json
Due: prettier --write

fix(server): allow local ide cors ports
  tchalanet-server/tchalanet-app/src/main/resources/application-local-ide.yaml
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/config/security/CorsConfigTest.java
Due: none

fix(web): align login form icons
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.scss
Due: nx affected:lint --fix, prettier --write
