Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

docs: align error handling conventions
  tchalanet-server/docs/conventions/api/api_response.md
  tchalanet-web/.agents/skills/angular-developer/SKILL.md
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/operations/pages/archive/platform-archive.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/operations/pages/archive/trigger-archive.dialog.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/operations/pages/archive/trigger-archive.dialog.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/data-access/platform-tenants-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/admin-create/platform-tenant-admin-create.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/admin-create/platform-tenant-admin-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/admins/platform-tenant-admins.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/admins/platform-tenant-admins.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/admins/platform-tenant-admins.page.ts
  tchalanet-web/docs/conventions/error-management.md
  tchalanet-web/docs/conventions/http-api.md
  tchalanet-web/docs/conventions/i18n.md
  tchalanet-web/openspec/changes/web-error-management-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix: localize platform tenant lifecycle errors
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/data-access/platform-tenants-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/list/platform-tenants.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/list/platform-tenants.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/tenants/pages/list/platform-tenants.page.ts
  tchalanet-web/docs/conventions/error-management.md
  tchalanet-web/openspec/changes/web-error-management-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix: localize platform draw lifecycle errors
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/platform-ops-draw-lifecycle.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/platform-ops-draw-lifecycle.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/platform-ops-draw-lifecycle.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/platform-ops-api.service.ts
  tchalanet-web/docs/conventions/error-management.md
  tchalanet-web/openspec/changes/web-error-management-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix: localize platform batch errors
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/dialogs/execution-details.dialog.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/dialogs/execution-details.dialog.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/dialogs/execution-details.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/dialogs/start-job.dialog.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/dialogs/start-job.dialog.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/dialogs/start-job.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/platform-ops-batch.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/pages/ops/platform-ops-batch.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/platform-ops-api.service.ts
  tchalanet-web/docs/conventions/error-management.md
  tchalanet-web/openspec/changes/web-error-management-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

docs(web): document multi-portal architecture
  tchalanet-web/docs/ARCHITECTURE.md
  tchalanet-web/docs/conventions/README.md
  tchalanet-web/docs/conventions/feature-structure.md
  tchalanet-web/docs/conventions/naming.md
  tchalanet-web/docs/conventions/placement-guide.md
Due: prettier --write

chore(web): remove legacy tch portal app
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/data-access/admin-promotions-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/pages/campaigns/admin-promotion-campaigns.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/pages/campaigns/admin-promotion-campaigns.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/pages/campaigns/admin-promotion-campaigns.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/seller-terminals/pages/sell-entry/admin-sell-entry.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/seller-terminals/pages/sell-entry/admin-sell-entry.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/seller-terminals/pages/sell-entry/admin-sell-entry.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): use shared tchalanet favicon
  tchalanet-web/apps/admin-portal/public/favicon.ico
  tchalanet-web/apps/admin-portal/src/index.html
  tchalanet-web/apps/platform-portal/public/favicon.ico
  tchalanet-web/apps/platform-portal/src/index.html
  tchalanet-web/apps/public-portal/public/favicon.ico
  tchalanet-web/apps/public-portal/src/index.html
Due: nx affected:lint --fix, prettier --write

feat(web): restore split portal features
  tchalanet-web/apps/admin-portal/src/app/app.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/data-access/admin-promotions-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/pages/campaigns/admin-promotion-campaigns.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/pages/campaigns/admin-promotion-campaigns.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/pages/campaigns/admin-promotion-campaigns.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminal-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/dialogs/create-seller-terminal.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/new/admin-seller-terminal-new.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/pos/admin-seller-terminal-pos.page.ts
  tchalanet-web/apps/platform-portal/src/app/app.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/archive-view.model.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-purge-panel/archive-purge-panel.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-purge-panel/archive-purge-panel.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-purge-panel/archive-purge-panel.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-raw-record-list/archive-raw-record-list.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-raw-record-list/archive-raw-record-list.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-raw-record-list/archive-raw-record-list.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-run-table/archive-run-table.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-run-table/archive-run-table.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-run-table/archive-run-table.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-summary-bar/archive-summary-bar.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-summary-bar/archive-summary-bar.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-summary-bar/archive-summary-bar.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-trigger-run-dialog/archive-trigger-run-dialog.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-trigger-run-dialog/archive-trigger-run-dialog.component.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/components/archive-trigger-run-dialog/archive-trigger-run-dialog.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/platform-archive.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/platform-archive.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/platform-archive.page.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/platform-archive.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/archive/trigger-archive.dialog.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/platform-operations.routes.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/platform.routes.ts
  tchalanet-web/apps/public-portal/src/app/app.spec.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): centralize paged api responses
  tchalanet-web/apps/admin-portal/src/app/features/admin/notifications/admin-notifications-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/notifications/admin-notifications.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/data-access/admin-promotions-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminal-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/support-tenant/platform-support-tenant.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/data-access/platform-tenants-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/list/platform-tenants.page.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.ts
  tchalanet-web/libs/api/src/lib/contracts/api.types.ts
  tchalanet-web/libs/api/src/lib/http/api-response.spec.ts
  tchalanet-web/libs/api/src/lib/http/api-response.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notifications-api.service.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notifications.store.ts
Due: nx affected:lint --fix, prettier --write

refactor(api): keep page normalization inside backend client
  tchalanet-web/apps/admin-portal/src/app/features/admin/notifications/admin-notifications-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/promotions/data-access/admin-promotions-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminal-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/data-access/platform-tenants-api.service.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.spec.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.ts
  tchalanet-web/libs/api/src/lib/http/api-response.spec.ts
  tchalanet-web/libs/api/src/lib/http/api-response.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notifications-api.service.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): use backend page navigation flags
  tchalanet-web/apps/admin-portal/src/app/features/admin/notifications/admin-notifications.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/notifications/admin-notifications.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/pages/payouts/admin-payouts.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/pages/payouts/admin-payouts.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/pages/support/admin-tickets.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/pages/support/admin-tickets.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/draw-channels/platform-catalog-draw-channels.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/draw-channels/platform-catalog-draw-channels.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/games/platform-catalog-games.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/games/platform-catalog-games.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/settings/platform-catalog-settings.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/settings/platform-catalog-settings.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/translations/platform-catalog-i18n-overrides.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/pages/translations/platform-catalog-i18n-overrides.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/audit/platform-audit.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/audit/platform-audit.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/communication/platform-communication-outbox.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/communication/platform-communication-outbox.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/communication/platform-communication.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/communication/platform-communication.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/entity-history/platform-entity-history.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/entity-history/platform-entity-history.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draw-lifecycle.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draw-lifecycle.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draws.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draws.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/contact-requests/platform-contact-requests.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/contact-requests/platform-contact-requests.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/notifications/platform-notifications.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/notifications/platform-notifications.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/support-tenant/platform-support-tenant.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/pages/support-tenant/platform-support-tenant.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenant-admins/pages/list/platform-tenant-admins-global.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenant-admins/pages/list/platform-tenant-admins-global.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/list/platform-tenants.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/list/platform-tenants.page.ts
Due: nx affected:lint --fix, prettier --write

fix(runtime): bootstrap private portals without tenant scope
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/internal/service/DefaultAuditApi.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/audit/internal/service/DefaultAuditApiTest.java
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.service.ts
Due: nx affected:lint --fix, prettier --write

fix(auth): derive portal roles from runtime space
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.ts
Due: nx affected:lint --fix, prettier --write

fix(auth): keep platform activation in platform portal
  tchalanet-web/apps/admin-portal/src/app/app.routes.ts
  tchalanet-web/apps/platform-portal/src/app/app.routes.ts
  tchalanet-web/libs/core/auth/src/lib/auth-redirect.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-redirect.service.ts
Due: nx affected:lint --fix, prettier --write

fix(auth): tolerate partial private runtime bootstrap
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.model.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-runtime-initializer.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-runtime-initializer.ts
Due: nx affected:lint --fix, prettier --write

fix(auth): unwrap private runtime bootstrap envelope
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.service.ts
Due: nx affected:lint --fix, prettier --write

fix(i18n): register shared angular locale data
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/apps/public-portal/src/app/app.config.ts
  tchalanet-web/libs/core/i18n/src/index.ts
  tchalanet-web/libs/core/i18n/src/lib/angular-locale.providers.ts
Due: nx affected:lint --fix, prettier --write

refactor(auth): keep private bootstrap unwrapped
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.service.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-runtime-initializer.ts
Due: nx affected:lint --fix, prettier --write

fix(api): prevent nested api response trace wrapping
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/advice/ApiResponseBodyAdvice.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/web/advice/ApiResponseBodyAdviceTest.java
Due: none

fix(web): wrap private portals in shell layout
  tchalanet-web/apps/admin-portal/src/app/app.html
  tchalanet-web/apps/admin-portal/src/app/app.ts
  tchalanet-web/apps/platform-portal/src/app/app.html
  tchalanet-web/apps/platform-portal/src/app/app.ts
Due: nx affected:lint --fix, prettier --write

fix(identity): materialize tenant membership page results
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/adapter/TenantMembershipJpaAdapter.java
Due: none

chore(deps): weekly Dependabot review 2026-06-30
  .agents/dependabot-reports/2026-06-30.md
Due: prettier --write

chore(infra): deployment plans, runbooks, env cleanup, log aggregator, CF+Hetzner MCP
  .agents/mcp-activations.md
  .agents/skills/mcp-on-demand/SKILL.md
  .github/workflows/deploy-staging.yml
  .github/workflows/infra-check.yml
  .mcp.json
  tchalanet-infra/AGENTS.md
  tchalanet-infra/compose/alloy/config.alloy
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/compose/docker-compose-logging.yml
  tchalanet-infra/compose/docker-compose-otel.yml
  tchalanet-infra/compose/docker-compose.index.md
  tchalanet-infra/compose/otel/grafana-datasources.yaml
  tchalanet-infra/compose/otel/loki-config.yaml
  tchalanet-infra/compose/otel/otel-collector-config.yaml
  tchalanet-infra/docs/operations/DEPLOYMENT.md
  tchalanet-infra/docs/operations/IMAGES-DEPLOYMENT.md
  tchalanet-infra/docs/operations/OPERATIONS.md
  tchalanet-infra/docs/operations/mobile-distribution-v0.md
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-01-staging-provision.md
  tchalanet-infra/docs/operations/runbooks/RB-02-web-cf-pages.md
  tchalanet-infra/docs/operations/runbooks/RB-03-mobile-distribution.md
  tchalanet-infra/docs/reference/scripts-index.md
  tchalanet-infra/envs/common/api.env
  tchalanet-infra/envs/common/compose.env
  tchalanet-infra/envs/common/postgres.env
  tchalanet-infra/openspec/changes/web-deployment-plans/proposal.md
  tchalanet-infra/openspec/changes/web-deployment-plans/tasks.md
  tchalanet-infra/scripts/utils/up-seq.sh
  tchalanet-infra/traefik/dynamic-src/common/02-middlewares.yaml
  tchalanet-infra/traefik/dynamic/10-routers.yaml
  tchalanet-infra/traefik/dynamic/common/02-middlewares.yaml
  tchalanet-infra/traefik/env/dev.yaml
  tchalanet-infra/traefik/env/prod.yaml
  tchalanet-infra/traefik/env/staging.yaml
Due: prettier --write

docs: align web and server versions
  VERSIONS.md
Due: prettier --write

feat(admin-portal): limits policy CRUD with 4 scoped tabs
  tchalanet-web/apps/admin-portal/src/app/features/admin/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/admin-limits.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/limit-assignments-table/limit-assignments-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/limit-assignments-table/limit-assignments-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/limit-assignments-table/limit-assignments-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/data-access/admin-limits-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/data-access/admin-limits.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/agent/admin-limits-agent.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/agent/admin-limits-agent.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/agent/admin-limits-agent.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/draw/admin-limits-draw.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/draw/admin-limits-draw.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/draw/admin-limits-draw.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/global/admin-limits-global.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/global/admin-limits-global.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/global/admin-limits-global.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/limits-child-page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/number/admin-limits-number.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/shell/admin-limits-shell.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/shell/admin-limits-shell.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/shell/admin-limits-shell.page.ts
Due: nx affected:lint --fix, prettier --write

feat(admin-portal): phase 2 UX — active-only table, add dialog, system tab, seller search
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/admin-limits.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/limit-assignments-table/limit-assignments-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/agent/admin-limits-agent.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/agent/admin-limits-agent.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/agent/admin-limits-agent.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/draw/admin-limits-draw.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/draw/admin-limits-draw.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/global/admin-limits-global.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/global/admin-limits-global.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/shell/admin-limits-shell.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/system/admin-limits-system.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/system/admin-limits-system.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/system/admin-limits-system.page.ts
Due: nx affected:lint --fix, prettier --write

fix(limits): chip input for selections, remove auto-WARN, nav cleanup, simulation
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/admin-limits.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/data-access/admin-limits.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/shell/admin-limits-shell.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/shell/admin-limits-shell.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/system/admin-limits-system.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/system/admin-limits-system.page.ts
Due: nx affected:lint --fix, prettier --write
