Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(web) - update project.json
  vercel.json
Due: prettier --write

feat(web) - update vercel.json
  vercel.json
Due: prettier --write

feat(web) - update nxw.js
  .nx/nxw.js
Due: none

feat(web) - update nxw.js
  vercel.json
Due: prettier --write

Dev (#16)
  .nx/nxw.js
  vercel.json
Due: prettier --write

feat(web) - update nxw.js
  libs/shared/config/src/lib/environments/environment.ts
Due: nx affected:lint --fix, prettier --write

feat(web) - update nxw.js
  libs/shared/config/src/lib/environments/environment-prod.ts
Due: nx affected:lint --fix, prettier --write

Dev (#17)
  libs/shared/config/src/lib/environments/environment-prod.ts
  libs/shared/config/src/lib/environments/environment.ts
Due: nx affected:lint --fix, prettier --write

feat(web) - fix lint styles
  apps/tchalanet-mobile/src/styles.scss
  libs/ui/layout/src/lib/footer/footer.component.scss
  libs/ui/layout/src/lib/grid-layout/grid-layout.component.scss
  libs/ui/layout/src/lib/lang-switcher/lang-switcher.component.scss
  libs/ui/layout/src/lib/overlay-nav/overlay-nav.component.scss
  libs/ui/plans/src/lib/plan-item/plan-item.scss
  libs/ui/plans/src/lib/plan-list/plan-list.scss
  libs/ui/styles/src/index.scss
  libs/ui/styles/src/lib/_mixins.scss
  libs/ui/styles/src/lib/_overlay.scss
  libs/ui/styles/src/lib/_typography.scss
  libs/ui/styles/src/lib/_utilities.scss
  libs/ui/styles/src/lib/components/_footer.scss
  libs/ui/styles/src/lib/components/_header.scss
  libs/ui/styles/src/lib/components/carte.scss
  libs/ui/styles/src/lib/primitives/_button.scss
  libs/ui/theme/src/lib/scss/_theme-presets.scss
  libs/ui/theme/src/lib/scss/tchalanet/_theme-colors.scss
  libs/web/private-pages/src/lib/admin-page/admin.page.scss
  libs/web/private-pages/src/lib/dashboard-page/dashboard.page.scss
  libs/web/private-pages/src/lib/draws-page/draws.page.scss
  libs/web/private-pages/src/lib/private-shell/private-shell.component.scss
  libs/web/private-pages/src/lib/profile-page/profile.page.scss
  libs/web/private-pages/src/lib/reports-page/reports.page.scss
  libs/web/private-pages/src/lib/results-page/results.page.scss
  libs/web/private-pages/src/lib/tickets-page/tickets.page.scss
  libs/web/public-pages/src/lib/plans-page/plans.page.scss
  libs/web/widgets/src/lib/draw-card/draw-card.component.scss
  libs/web/widgets/src/lib/draw-switcher/draw-switcher.component.scss
  libs/web/widgets/src/lib/feature-card/feature-card.component.scss
  libs/web/widgets/src/lib/hero/hero.component.scss
  libs/web/widgets/src/lib/lottery-carousel/lottery-carousel.component.scss
  libs/web/widgets/src/lib/news-banner/news-banner.component.scss
Due: prettier --write

feat(web) - fix es styles
  libs/shared/facades/src/lib/page.facade.ts
  libs/shared/types/src/index.ts
  libs/shared/types/src/lib/lottery.model.ts
  libs/shared/types/src/lib/widget.model.ts
  libs/ui/search/src/lib/search-results.page.ts
  libs/web/widgets/src/lib/buildin-widgets.provider.ts
  libs/web/widgets/src/lib/draw-card/draw-card.component.ts
  libs/web/widgets/src/lib/draw-switcher/draw-switcher.component.ts
  libs/web/widgets/src/lib/info-widget/info-widget.component.ts
  libs/web/widgets/src/lib/kpi/kpi.component.ts
  libs/web/widgets/src/lib/news-banner/news-banner.component.ts
  libs/web/widgets/src/lib/quick-actions/quick-actions.component.ts
  libs/web/widgets/src/lib/search-results/search-results.component.ts
  libs/web/widgets/src/lib/search-results/search.service.ts
  package.json
Due: nx affected:lint --fix, prettier --write

monter env
  apps/tchalanet-web/.env
  apps/tchalanet-web/.env.development
  apps/tchalanet-web/.env.production
  apps/tchalanet-web/API-PROXY-FIX.md
  apps/tchalanet-web/DEV-MODES.md
  apps/tchalanet-web/ENV-MIGRATION-SUMMARY.md
  apps/tchalanet-web/ENVIRONMENT-CONFIG.md
  apps/tchalanet-web/I18N-ASSETS-FIX.md
  apps/tchalanet-web/PORTS-CONFIG.md
  apps/tchalanet-web/SESSION-RECAP.md
  apps/tchalanet-web/STYLES-FIX.md
  apps/tchalanet-web/copy-i18n.sh
  apps/tchalanet-web/index.html
  apps/tchalanet-web/project.json
  apps/tchalanet-web/src/app/app.config.ts
  apps/tchalanet-web/src/app/app.ts
  apps/tchalanet-web/src/main.ts
  apps/tchalanet-web/src/styles.scss
  apps/tchalanet-web/start-dev.sh
  apps/tchalanet-web/vite.config.mts
  libs/shared/config/src/lib/environments/environment-local-ide.ts
  libs/shared/config/src/lib/environments/environment.ts
  libs/shared/config/src/vite-env.d.ts
  libs/shared/config/tsconfig.json
  tchalanet-infra/keycloak/Dockerfile
  tchalanet-infra/keycloak/realms/overlays/local.json
  tchalanet-infra/keycloak/realms/overlays/staging.json
  tchalanet-infra/keycloak/realms/templates/realm.base.json
  tchalanet-infra/scripts/keycloak/get-realm.sh
  tchalanet-infra/traefik/dynamic/10-routers.yaml
  tchalanet-infra/traefik/dynamic/common/01-tls.yaml
  tchalanet-infra/traefik/dynamic/common/02-middlewares.yaml
  tchalanet-infra/traefik/env/dev.yaml
  tchalanet-infra/traefik/traefik.yml
  tchalanet-server/scripts/setup-mkcert-truststore.sh
  tchalanet-server/src/main/java/com/tchalanet/server/config/InsecureJwtDecoderConfig.java
Due: nx affected:lint --fix, prettier --write

add keycloak config
  tchalanet-infra/keycloak/realms/overlays/dev.json
  tchalanet-infra/keycloak/realms/overlays/local.json
  tchalanet-infra/keycloak/realms/overlays/prod.json
  tchalanet-infra/keycloak/realms/overlays/staging.json
  tchalanet-infra/keycloak/realms/templates/realm.base.json
  tchalanet-infra/keycloak/tchalanet-keycloak-provider/src/main/java/com/tchalanet/keycloak/TchJsonClaimProtocolMapper.java
  tchalanet-infra/scripts/keycloak/get-realm.sh
Due: prettier --write

add keycloak config
  tchalanet-server/src/main/java/com/tchalanet/server/api/I18nController.java
  tchalanet-server/src/main/java/com/tchalanet/server/api/MeController.java
  tchalanet-server/src/main/java/com/tchalanet/server/api/PageController.java
  tchalanet-server/src/main/java/com/tchalanet/server/api/ThemeCrudController.java
  tchalanet-server/src/main/java/com/tchalanet/server/config/ApiWebConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/config/CorsConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/config/SecurityConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/config/properties/ApiProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/config/resolver/TenantResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/context/CurrentContext.java
  tchalanet-server/src/main/java/com/tchalanet/server/context/CurrentContextArgumentResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/context/RequestContextHolder.java
  tchalanet-server/src/main/java/com/tchalanet/server/context/TchRequestContext.java
  tchalanet-server/src/main/java/com/tchalanet/server/filter/ApiMetaFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/filter/DbTenantRlsFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/filter/RequestUserContextFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/properties/ApiProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/resolver/TenantResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/services/I18nConfigurationService.java
  tchalanet-server/src/main/resources/application-dev.yaml
  tchalanet-server/src/main/resources/application-local-ide.yaml
  tchalanet-server/src/main/resources/application.yaml
  tchalanet-server/src/main/resources/static/config/home-cashier.json
  tchalanet-server/src/main/resources/static/config/home-super-admin.json
  tchalanet-server/src/main/resources/static/config/home-tenant-admin.json
  tchalanet-server/src/main/resources/static/config/private-cashier.json
  tchalanet-server/src/main/resources/static/config/private-super-admin.json
  tchalanet-server/src/main/resources/static/config/private-tenant-admin.json
Due: prettier --write

add keycloak config
  libs/web/private-pages/src/index.ts
  libs/web/private-pages/src/lib/admin-dashboard/admin.page.ts
  libs/web/private-pages/src/lib/admin-page/admin.page.ts
  libs/web/private-pages/src/lib/cashier-dashboard/cashier-dashboard.page.ts
  libs/web/private-pages/src/lib/dashboard-container/dashboard-container.component.ts
  libs/web/private-pages/src/lib/dashboard-container/role-dashboard-routing.ts
  libs/web/private-pages/src/lib/private-shell/private-shell.component.ts
  libs/web/private-pages/src/lib/private.routes.ts
  libs/web/private-pages/src/lib/profile-page/profile.page.html
  libs/web/private-pages/src/lib/profile-page/profile.page.ts
  libs/web/private-pages/src/lib/reports-page/reports.page.ts
  libs/web/private-pages/src/lib/super-admin-dashboard/super-admin-dashboard.page.ts
  libs/web/private-pages/src/lib/tenant-admin-dashboard/tenant-admin-dashboard.page.ts
Due: nx affected:lint --fix, prettier --write

Add keycloak config
  apps/tchalanet-web/ENVIRONMENT-CONFIG.md
  apps/tchalanet-web/src/app/app.config.ts
  libs/i18n/locales/en.json
  libs/i18n/locales/fr.json
  libs/i18n/locales/ht.json
  libs/shared/auth/src/lib/services/auth.service.ts
  libs/shared/facades/src/index.ts
  libs/shared/facades/src/lib/session.facade.ts
  libs/ui/layout/src/lib/header/private-header/private-header.component.html
  libs/ui/layout/src/lib/header/private-header/private-header.component.ts
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/ApiWebConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/CorsConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/InsecureJwtDecoderConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/OpenApiConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/SecurityConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/domain/TchRole.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/domain/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/error/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/dto/ContextDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/dto/MeThemeResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/dto/PublicConfigResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/dto/TenantFeaturesDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/reporting/web/dto/DrawSummaryDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/reporting/web/dto/KpisDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/domain/model/BillingProvider.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/domain/model/SubscriptionStatus.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/domain/ports/BillingResult.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/web/dto/PlanDTO.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/web/dto/SubscriptionDTO.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/web/dto/ThemeCreateDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/web/dto/ThemeDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/web/dto/ThemeRefDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/tenant/web/dto/ThemeUpdateDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/user/web/dto/PreferenceUpdateDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/user/web/dto/UserPrefDto.java
Due: nx affected:lint --fix, prettier --write

Add keycloak config
  .copilot/tchalanet-backend-code-style.md
  .copilot/tchalanet-backend-context.md
  .copilot/tchalanet-frontend-angular-guide.md
  .copilot/tchalanet-mobile-ionic-guide.md
  FIX-OPENID-CONFIGURATION-URL.md
  MEILISEARCH-REMOVAL-SUMMARY.md
  tchalanet-edge-service/README.md
  tchalanet-edge-service/package-lock.json
  tchalanet-edge-service/package.json
  tchalanet-edge-service/rules/ticket.created.json
  tchalanet-edge-service/src/channels/bird-sms.ts
  tchalanet-edge-service/src/channels/mailgun-email.ts
  tchalanet-edge-service/src/channels/web-message.ts
  tchalanet-edge-service/src/config/env.ts
  tchalanet-edge-service/src/core/communication-handler.ts
  tchalanet-edge-service/src/core/decision-types.ts
  tchalanet-edge-service/src/core/event-handler.ts
  tchalanet-edge-service/src/core/rule-engine.ts
  tchalanet-edge-service/src/core/template-engine.ts
  tchalanet-edge-service/src/index.ts
  tchalanet-edge-service/src/routes/communications.ts
  tchalanet-edge-service/src/routes/events.ts
  tchalanet-edge-service/src/routes/health.ts
  tchalanet-edge-service/src/routes/preview.ts
  tchalanet-edge-service/src/routes/rules.ts
  tchalanet-edge-service/templates/email_ticket_created_fr.liquid
  tchalanet-edge-service/templates/sms_ticket_created_fr.liquid
  tchalanet-edge-service/templates/web_banner_winner_fr.liquid
  tchalanet-edge-service/tsconfig.json
  tchalanet-infra/keycloak/realms/templates/realm.base.json
  tchalanet-infra/keycloak/tchalanet-keycloak-provider/src/main/java/com/tchalanet/keycloak/TchJsonClaimProtocolMapper.java
Due: nx affected:lint --fix, prettier --write

add keycloak config - news
  tchalanet-server/pom.xml
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/admin/AdminNewsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/admin/AdminNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/admin/dto/AdminNewsItemDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/admin/dto/AdminNewsListResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/admin/dto/AdminUpsertNewsRequest.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/admin/dto/ChangeStatusRequest.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/application/ListPublicNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/application/RefreshPublicNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/application/ports/in/ListPublicNewsUseCase.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/application/ports/in/RefreshPublicNewsUseCase.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/application/ports/out/RefreshPublicNewsUseCase.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/batch/NewsRefreshScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/cache/CombinedNewsCacheAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/config/NewsCacheConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/config/NewsConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/config/NewsConfigProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/domain/model/NewsArticle.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/domain/ports/out/NewsProviderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/external/LotteryDailyRssClient.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/external/RomeNewsMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/infra/NewsProviderHttpAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/infra/adapter/NewsProviderHttpAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/publicnews/PublicNewsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/publicnews/PublicNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/LotteryNewsModels.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/NewsStatus.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/port/NewsCachePort.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/port/NewsProviderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/service/ExternalNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/service/HiddenNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/service/InternalNewsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/shared/service/NewsAggregationService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/web/AdminNewsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/web/NewsPublicController.java
Due: none

add keycloak config - i18n-notification
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/DOMAIN_NOTIFICATION.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/SendNotificationCommand.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/SendNotificationHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/domain/InvalidNotificationException.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/domain/NotificationChannel.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/domain/NotificationTarget.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/domain/NotificationType.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/domain/SendNotificationPayload.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/config/NodeNotificationConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/config/NodeNotificationConfigProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/external/NodeNotificationGatewayAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/port/NotificationGatewayPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/i18n/DOMAIN_I18N.md
  tchalanet-server/src/main/java/com/tchalanet/server/features/i18n/TenantI18nOverrideController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/i18n/TenantI18nOverrideService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/news/DOMAIN_NEWS.md
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/list_my_notifications/ListMyNotificationsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/list_my_notifications/ListMyNotificationsQuery.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/list_my_notifications/ListMyNotificationsService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/mark_all_notifications_read/MarkAllNotificationsReadCommand.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/mark_all_notifications_read/MarkAllNotificationsReadController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/mark_all_notifications_read/MarkAllNotificationsReadService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/mark_notification_read/MarkNotificationReadController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/mark_notification_read/MarkNotificationReadService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationDisplayType.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationDto.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationEntity.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationJpaRepository.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/notifications/shared/NotificationType.java
Due: prettier --write

fet(server) refactor tchalanet server
  tchalanet-server/docs/API_RESPONSE_STANDARDIZATION.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/advice/ApiResponseBodyAdvice.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/advice/ApiResponseConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/advice/ApiResponseContext.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/advice/ApiResponseContextFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/advice/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/ApiNotice.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/ApiResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/ApiStatus.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/NoticeSeverity.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/ServiceHealth.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/ServiceStatus.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/web/api/package-info.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/SellTicketCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/model/SellTicketResult.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/infra/web/TicketController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/private_dashboard/PrivateDashboardController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/private_dashboard/PrivateDashboardResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/private_dashboard/PrivateDashboardService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/publichome/PublicHomeController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/publichome/PublicHomeResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/publichome/PublicHomeService.java
Due: prettier --write

fet(server) refactor tchalanet server
  tchalanet-server/src/main/java/com/tchalanet/server/core/billing/infra/persistence/mapper/SubscriptionPersistenceMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/web/mapper/DrawAdminWebMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/limitpolicy/application/query/handler/GetLimitAssignmentsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/payout/application/command/handler/ExecutePayoutCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/payout/application/command/handler/RegisterPayoutCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/CancelSaleCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/MarkPaymentPendingCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/MarkTicketPaidCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/PrintTicketCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/RecordTicketResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/port/out/TicketReaderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/query/handler/GetTicketDetailsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/query/handler/VerifyPublicTicketQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/query/model/ListRecentTicketsForCashierQuery.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/infra/persistence/adapter/JpaTicketRepositoryAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/infra/web/PosSessionTotalsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/tenant/infra/listener/TenantCreatedInitListener.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/theme/application/query/model/ThemeView.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/theme/infra/web/ThemeController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/application/command/handler/CreateUserCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/application/query/handler/GetCurrentUserQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/application/query/handler/GetUserDetailsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/application/query/handler/GetUserQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/infra/persistence/AppUserPersistenceAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/infra/web/admin/UserAdminController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/pagemodel/shared/dynamic/SharedResultsByGameAggregator.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/pagemodel/shared/dynamic/SharedResultsByGameProvider.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/private_dashboard/dynamic/CashierDashboardService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/stats/aggregates/application/StatsDrawUpdater.java
Due: none

fet(server) refactor tchalanet server
  tchalanet-server/src/test/java/com/tchalanet/features/stats/aggregates/application/RecomputeDailyStatsUseCaseTest.java
  tchalanet-server/src/test/java/com/tchalanet/features/stats/aggregates/persistence/StatsRepositoriesDataJpaTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/TchalanetApiApplicationTests.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/ledger/application/command/handler/RecordPayoutLedgerCommandHandlerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/ledger/application/command/handler/RecordTicketSaleLedgerCommandHandlerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/payout/infra/event/PayoutLedgerListenerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/sales/infra/event/SalesLedgerListenerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/integration/RlsIntegrationTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/integration/RlsPoliciesIntegrationTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/integration/TransactionLocalRlsTest.java
Due: none
