Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(web): ajoute tchalanet as nx project
  apps/tchalanet-web/src/app/nx-welcome.ts
  apps/tchalanet-web/src/index.html
  apps/tchalanet-web/src/styles.scss
  apps/tchalanet-web/tailwind.config.js
  apps/tchalanet-web/tailwind.config.mjs
  package.json
Due: nx affected:lint --fix, prettier --write

feat(web): ajoute tchalanet mobile as nx project
  apps/tchalanet-mobile/capacitor.config.ts
  apps/tchalanet-mobile/src/app/app.config.ts
  apps/tchalanet-mobile/src/app/app.routes.ts
  apps/tchalanet-mobile/src/app/app.spec.ts
  apps/tchalanet-mobile/src/app/app.ts
  apps/tchalanet-mobile/src/app/nx-welcome.ts
  apps/tchalanet-mobile/src/app/register-icons.ts
  apps/tchalanet-mobile/src/features/tab1/tab1.page.ts
  apps/tchalanet-mobile/src/features/tab2/tab2.page.ts
  apps/tchalanet-mobile/src/features/tab3/tab3.page.ts
  apps/tchalanet-mobile/src/features/tabs/tabs.spec.ts
  apps/tchalanet-mobile/src/features/tabs/tabs.ts
  apps/tchalanet-mobile/src/index.html
  apps/tchalanet-mobile/src/main.ts
  apps/tchalanet-mobile/src/styles.scss
  apps/tchalanet-mobile/tailwind.config.js
  apps/tchalanet-mobile/tailwind.config.mjs
  nx.json
  package-lock.json
  package.json
Due: nx affected:lint --fix, prettier --write

feat(web): enhance theme toggle and navigation styles
  libs/ui/layout/src/lib/lang-theme-group/lang-theme-group.component.ts
  libs/ui/styles/src/lib/components/_header.scss
  libs/web/widgets/src/lib/lang-switcher/lang-switcher.component.scss
Due: nx affected:lint --fix, prettier --write

feat(web): WIP - enhance theme toggle and navigation styles
  libs/ui/layout/src/lib/footer/footer.component.html
  libs/ui/styles/src/lib/components/_footer.scss
Due: nx affected:lint --fix, prettier --write

Delete .DS_Store
  .DS_Store
Due: none

Delete .DS_Store (#9)
  .DS_Store
Due: none

feat(infra) - ci config
  .github/workflows/ci-web.yml
  .github/workflows/docs.yml
  .github/workflows/infra_ci.yml
  .github/workflows/server_dev.yml
  .github/workflows/server_prod.yml
  .github/workflows/web.yml
  nx.json
  package.json
Due: prettier --write

feat(infra) - ci config (#10)
  .github/workflows/ci-web.yml
  .github/workflows/docs.yml
  .github/workflows/infra_ci.yml
  .github/workflows/server_dev.yml
  .github/workflows/server_prod.yml
  .github/workflows/web.yml
  nx.json
  package.json
Due: prettier --write

Update web.yml
  .github/workflows/web.yml
Due: none

Update web.yml (#12)
  .github/workflows/web.yml
Due: none

Update package.json
  package.json
Due: prettier --write

feat(infra) -update pnpm
  pnpm-lock.yaml
Due: none

feat(infra) - remove eslint config. keep only one
  .gitignore
  tchalanet-docs/requirements.txt
Due: none

feat(infra) - remove eslint config. keep only one
  tchalanet-docs/mkdocs.yml
Due: none

feat(infra) - update ci
  .github/workflows/docs.yml
  .github/workflows/server_dev.yml
  .github/workflows/server_prod.yml
Due: none

feat(infra) - update ci (#13)
  .github/workflows/docs.yml
  .github/workflows/server_dev.yml
  .github/workflows/server_prod.yml
Due: none

styleslint fix
  .stylelintrc.cjs
  apps/tchalanet-web/src/styles.scss
  libs/ui/breadcrumb/src/lib/breadcrumb/breadcrumb.component.scss
  libs/ui/layout/src/lib/grid-layout/grid-layout.component.scss
  libs/ui/layout/src/lib/header/private-header/private-header.component.scss
  libs/ui/layout/src/lib/header/public-header/public-header.component.scss
  libs/ui/layout/src/lib/lang-switcher/lang-switcher.component.scss
  libs/ui/layout/src/lib/nav/nav.component.scss
  libs/ui/layout/src/lib/overlay-nav/overlay-nav.component.scss
  libs/ui/layout/src/lib/sidebar-nav/sidebar-nav.component.scss
  libs/ui/styles/src/index.scss
  libs/ui/styles/src/lib/_breakpoints.scss
  libs/ui/styles/src/lib/_mixins.scss
  libs/ui/styles/src/lib/_overlay.scss
  libs/ui/styles/src/lib/_tokens.scss
  libs/ui/styles/src/lib/_typography.scss
  libs/ui/styles/src/lib/_utilities.scss
  libs/ui/styles/src/lib/components/_footer.scss
  libs/ui/styles/src/lib/components/_header.scss
  libs/ui/styles/src/lib/primitives/_badge.scss
  libs/ui/styles/src/lib/primitives/_button.scss
  libs/ui/styles/src/lib/primitives/_card.scss
  libs/ui/styles/src/lib/primitives/_index.scss
  libs/ui/styles/src/lib/primitives/_input.scss
  libs/ui/styles/src/lib/primitives/_link.scss
  libs/ui/theme/src/lib/scss/_theme-presets.scss
  libs/ui/theme/src/lib/scss/runtime-root.scss
  libs/ui/theme/src/lib/scss/runtime-vars.scss
  libs/ui/theme/src/lib/scss/tchalanet/_theme-colors.scss
  libs/ui/theme/src/lib/scss/theme-presets.scss
  libs/web/shell/src/lib/shell/shell.component.scss
  libs/web/widgets/src/lib/feature-card/feature-card.component.scss
  libs/web/widgets/src/lib/hero/hero.component.scss
  package.json
  pnpm-lock.yaml
Due: prettier --write

styleslint fix (#14)
  .stylelintrc.cjs
  apps/tchalanet-web/src/styles.scss
  libs/ui/breadcrumb/src/lib/breadcrumb/breadcrumb.component.scss
  libs/ui/layout/src/lib/grid-layout/grid-layout.component.scss
  libs/ui/layout/src/lib/header/private-header/private-header.component.scss
  libs/ui/layout/src/lib/header/public-header/public-header.component.scss
  libs/ui/layout/src/lib/lang-switcher/lang-switcher.component.scss
  libs/ui/layout/src/lib/nav/nav.component.scss
  libs/ui/layout/src/lib/overlay-nav/overlay-nav.component.scss
  libs/ui/layout/src/lib/sidebar-nav/sidebar-nav.component.scss
  libs/ui/styles/src/index.scss
  libs/ui/styles/src/lib/_breakpoints.scss
  libs/ui/styles/src/lib/_mixins.scss
  libs/ui/styles/src/lib/_overlay.scss
  libs/ui/styles/src/lib/_tokens.scss
  libs/ui/styles/src/lib/_typography.scss
  libs/ui/styles/src/lib/_utilities.scss
  libs/ui/styles/src/lib/components/_footer.scss
  libs/ui/styles/src/lib/components/_header.scss
  libs/ui/styles/src/lib/primitives/_badge.scss
  libs/ui/styles/src/lib/primitives/_button.scss
  libs/ui/styles/src/lib/primitives/_card.scss
  libs/ui/styles/src/lib/primitives/_index.scss
  libs/ui/styles/src/lib/primitives/_input.scss
  libs/ui/styles/src/lib/primitives/_link.scss
  libs/ui/theme/src/lib/scss/_theme-presets.scss
  libs/ui/theme/src/lib/scss/runtime-root.scss
  libs/ui/theme/src/lib/scss/runtime-vars.scss
  libs/ui/theme/src/lib/scss/tchalanet/_theme-colors.scss
  libs/ui/theme/src/lib/scss/theme-presets.scss
  libs/web/shell/src/lib/shell/shell.component.scss
  libs/web/widgets/src/lib/feature-card/feature-card.component.scss
  libs/web/widgets/src/lib/hero/hero.component.scss
  package.json
  pnpm-lock.yaml
Due: prettier --write

New files from Fly.io Launch
  tchalanet-server/fly.toml
Due: none

feat(web) - update project.json
  apps/tchalanet-web/project.json
Due: prettier --write

feat(web) - update project.json
  apps/tchalanet-web/project.json
  vercel.json
Due: prettier --write
