Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

debug(server): temporary logging to diagnose lottery proxy interceptor not applying
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

debug(server): temporary logging to diagnose lottery proxy interceptor not applying (#404)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

debug(server): bump lottery proxy debug logs to WARN (app log level is WARN in staging)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

debug(server): log actual response status after execution.execute in lottery proxy interceptor
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

debug(server): log actual response status after execution.execute in lottery proxy interceptor (#405)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

debug(server): log actual forwarded headers for lottery proxy diagnosis
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

debug(server): log actual forwarded headers for lottery proxy diagnosis (#406)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

fix(server): strip Content-Length/Host before forwarding to lottery proxy
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

fix(server): strip Content-Length/Host before forwarding to lottery proxy (#407)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

debug(server): dump response Server/cf-ray headers to prove whether the call actually reaches the Worker
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

debug(server): dump response Server/cf-ray headers to prove whether the call actually reaches the Worker (#408)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

fix(web): point admin help link at deployed public docs instead of localhost
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

fix(web): point admin help link at deployed public docs instead of localhost (#409)
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

refactor(admin): separate tenant config and settings services
  openspec/changes/error-contract-bff-web-v1/tasks.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/overview/TenantSetupView.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssembler.java
  tchalanet-web/apps/admin-portal/src/app/app.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/data-access/tenant-admin-overview-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/data-access/tenant-commercial-config-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/data-access/tenant-general-config-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/data-access/tenant-parameters-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

test(tenantadmin): lock setup readiness gates
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssemblerTest.java
Due: none

fix(admin): clarify tenant parameter readiness
  tchalanet-web/apps/admin-portal/src/app/features/setup/data-access/tenant-parameters-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): clarify receipt settings card
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(tenant): disable ticket delivery by default
  tchalanet-server/tchalanet-platform/src/main/resources/tenantconfig/fees_config.json
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): point admin help link at public docs domain instead of Worker URL
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

fix(tenant): align receipt and currency defaults
  tchalanet-server/tchalanet-platform/src/main/resources/tenantconfig/document_config.json
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): point admin help link at public docs domain instead of Worker URL (#410)
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): localize ticket delivery settings
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): show seller terminal code and readable game name in Financials report
  tchalanet-web/apps/admin-portal/src/app/features/reports/data-access/admin-reports-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): clarify sales calendar settings
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): show seller terminal code and readable game name in Financials report (#411)
  tchalanet-web/apps/admin-portal/src/app/features/reports/data-access/admin-reports-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): clarify tenant language settings
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

refactor(admin): align tenant runtime with async resources
  tchalanet-web/apps/admin-portal/src/app/features/setup/data-access/runtime-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): stop leaking support-session id in override reason header
  tchalanet-web/libs/core/auth/src/lib/support/support-access.interceptor.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notifications-realtime.service.ts
Due: nx affected:lint --fix, prettier --write

fix(web): stop leaking support-session id in override reason header (#412)
  tchalanet-web/libs/core/auth/src/lib/support/support-access.interceptor.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notifications-realtime.service.ts
Due: nx affected:lint --fix, prettier --write

fix: stop TENANT_ADMIN admin-access polling and fix NPE on global draw events
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/persistence/ProcessedEventJdbcAdapter.java
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

fix: stop TENANT_ADMIN admin-access polling and fix NPE on global draw events (#413)
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/persistence/ProcessedEventJdbcAdapter.java
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

fix(web): resolve AuthSessionService lazily in SupportAccessStore to avoid NG0200
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

fix(web): resolve AuthSessionService lazily in SupportAccessStore to avoid NG0200 (#414)
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

fix: block GCP service-account key naming convention anywhere in the tree
  .gitignore
Due: none

fix: gitignore GCP service-account keys anywhere in the tree (#415)
  .gitignore
Due: none

fix(server): fix stale /app/admin/sellers links in tenant-admin nav and dashboard
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
Due: prettier --write

fix(server): fix stale /app/admin/sellers links in tenant-admin nav and dashboard (#416)
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
Due: prettier --write

fix(admin): correct manual draw result entry and compact mobile draws UI
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/draw-result-drawer/draw-result-drawer.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/draw-result-drawer/draw-result-drawer.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/libs/web/console/src/lib/domain/console-domain-types.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
Due: nx affected:lint --fix, prettier --write

fix(admin): offer manual result entry on overdue CLOSED draws in list
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
Due: nx affected:lint --fix, prettier --write
