Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(server): configure ticket verification urls
  tchalanet-server/tchalanet-app/src/main/resources/application-dev.yaml
  tchalanet-server/tchalanet-app/src/main/resources/application-local-ide.yaml
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
Due: none

fix(server): keep receipt label seed scoped
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V220__fix_pos_receipt_ht_labels.sql
Due: none

fix(pos): handle terminal settings and verification details
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_scan_page_test.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/UpdateSellerTerminalSettingsCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/port/out/SellerTerminalSettingsWriterPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/persistence/SellerTerminalSettingsJdbcAdapter.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandlerTest.java
Due: none

fix(pos): keep official draw names and Haitian verify copy
  tchalanet-mobile/lib/core/i18n/draw_identity_label.dart
  tchalanet-mobile/lib/core/i18n/provider_identity_label.dart
  tchalanet-mobile/lib/core/money/currency_code.dart
  tchalanet-mobile/lib/features/cashier/home/data/models/cashier_home_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/terminal_stats_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/cashier_draw_label.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/ticket_verification_copy.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/draw/data/models/draw_models.dart
  tchalanet-mobile/lib/features/draw/presentation/draw_result_label.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_draw_report_page_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_stats_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_draw_label_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_scan_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
  tchalanet-mobile/test/features/draw/draw_result_models_test.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptDrawIdentityFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptMoneyFormatter.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatterTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptDrawIdentityFormatterTest.java
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.spec.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): use TchPage.items instead of .content in block-number dialog
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(admin): route block-number card button to quick dialog + add info note
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

refactor(admin): simplify blocked-numbers page — chips table + DRAW_CHANNEL scope
  tchalanet-web/apps/admin-portal/src/app/features/limits/data-access/admin-limits.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

docs(server): propose archive retention policy
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/design.md
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/proposal.md
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/specs/platform.archive/spec.md
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/tasks.md
Due: prettier --write

docs(web): propose admin sales configuration ux
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/design.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/proposal.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-draw-channels-resilience/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-games/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-sales-configuration-ux/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: prettier --write

docs(web): refine admin sales configuration ux scope
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/design.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/proposal.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-draw-channels-resilience/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-games/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-sales-configuration-ux/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-seller-terminal/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: prettier --write

feat(web): clarify setup operational configuration
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-progress-header/setup-progress-header.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-progress-header/setup-progress-header.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): keep print setup operational in readiness
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssembler.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssemblerTest.java
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(admin): cover setup printing readiness
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/business-admin-v1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(server): provision sellable tenant game defaults
  tchalanet-server/openspec/changes/tenant-game-provisioning-sellable-defaults-v1/proposal.md
  tchalanet-server/openspec/changes/tenant-game-provisioning-sellable-defaults-v1/specs/tenant-provisioning/spec.md
  tchalanet-server/openspec/changes/tenant-game-provisioning-sellable-defaults-v1/tasks.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameProvisioningService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameProvisioningServiceTest.java
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-draw-channels-resilience/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/specs/admin-games/spec.md
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: prettier --write

feat(web): back draw channels overview with setup matrix
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/dialogs/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/dialogs/draw-channel-config.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/dialogs/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): separate draw channels from game matrix
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/pages/admin-draw-sales-matrix.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/pages/admin-draw-sales-matrix.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-sales-configuration-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): manage tenant draw channel activation
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/TenantDrawChannelController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/model/UpdateDrawChannelActiveRequest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(admin): edit tenant draw channel config
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/TenantDrawChannelController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/model/UpdateTenantDrawChannelRequest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(admin): show game POS visibility
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/data-access/admin-games-pricing-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/data-access/admin-games-pricing.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(pos): restrict games to selected draw
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_controller_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/error/SalesErrorCodes.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidator.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
Due: nx affected:lint --fix, prettier --write

fix(pos): enforce platform game availability
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/error/SalesErrorCodes.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidator.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/games/PosGamesService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/draws/PosDrawsServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/games/PosGamesServiceTest.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
Due: prettier --write

fix(draw): skip inactive result slots during generation
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/command/handler/GenerateDrawsForRangeCommandHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/command/handler/GenerateDrawsForRangeCommandHandlerTest.java
Due: none

chore(admin): remove unused overview navigation
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/data-access/admin-tickets-overview-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

chore: align sales config conventions
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/api/error/SalesErrorCodesTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(web): refine games sales configuration ux
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(web): improve draw channel configuration flow
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): use desktop width for draw channel cards
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.scss
Due: prettier --write

fix(web): clarify draw channel slot cards
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): polish draw channel slot cards
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.scss
Due: prettier --write

fix(web): align draw channel and game matrix ux
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-games-grid/tenant-games-grid.component.html
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): match draw channel cards to draws list
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

test(web): cover draw channel configuration cards
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

fix(web): preserve draw channel display names
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(web): show draw channel provider details
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): clarify draw channel status labels
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): use real draw result source
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/mapper/DrawChannelMapper.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(admin): clarify draw channel configuration
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V221__normalize_result_slot_source_mode.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawResultAuditSpringIntegrationTest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/mapper/DrawChannelMapper.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/TenantDrawChannelController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/model/UpdateTenantDrawChannelRequest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/command/handler/CorrectAppliedDrawResultCommandHandlerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): expose draw channel sales opening time
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/command/handler/CorrectAppliedDrawResultCommandHandlerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
