Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(admin): edit draw channel sales window
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V222__normalize_draw_channel_sales_window.sql
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/TenantDrawChannelController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/model/UpdateDrawChannelRequest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/model/UpdateTenantDrawChannelRequest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels.models.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): validate draw channel sales window
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/error/DrawChannelErrorCodes.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminServiceTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(admin): add draw channel detail page
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/admin-draw-channels.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

refactor(admin): clean draw channel configuration UI
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-guide-screenshots.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

polish(admin): refine draw channel configuration
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): simplify draw channel detail identity
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(web): refresh admin games configuration cards
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-games-grid/tenant-games-grid.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-games-grid/tenant-games-grid.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-games-grid/tenant-games-grid.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/games-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-games-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(web): clarify admin sales configuration controls
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(server): keep draw channel seed migration immutable
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
Due: none

spec: limits-contextual-config-v1 — config contextuelle + exposure alerts
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): add full test coverage — unit/IT/e2e-python/playwright/locust
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): complete design — color coding, grouping, no score in UI
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): Slice 8 backend pagemodel + mobile-first web convention
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): incorporate review — full proposal rewrite
  openspec/changes/limits-contextual-config-v1/proposal.md
Due: prettier --write

spec(limits): apply review corrections (archive lifecycle, POS contract, effectiveLimits scope)
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): expand Slice 10/11 mobile + convention preamble + i18n exhaustive
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): collapsible LimitPolicyBlockComponent by context
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): add Slice 0 — DrawExposureArchiveDatasetProvider
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): update proposal — pagemodel backend + mobile-first web
  openspec/changes/limits-contextual-config-v1/proposal.md
Due: prettier --write

spec(limits): per-group collapse + placement par contexte
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec(limits): add mobile draw detail context + Slice 10 Flutter
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

spec: add seller-terminal exposure projection + BFF draw endpoints
  openspec/changes/limits-contextual-config-v1/proposal.md
  openspec/changes/limits-contextual-config-v1/tasks.md
Due: prettier --write

feat(limits): implement contextual limit policy — backend slices 0-13
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/LimitPolicyRuntimeIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/api/query/EffectiveLimitsForDrawView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/api/query/GetEffectiveLimitsForDrawQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/archive/DrawExposureArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/archive/DrawExposureArchiveJdbcRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureProjectorAdapter.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/assignment/DeleteLimitAssignmentCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/assignment/UpsertLimitAssignmentCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/exposure/ApplyTicketExposureCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/exposure/GetExposureAlertsOverviewQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/resolver/LimitResolverTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/BlockSelectionPerDrawEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/LimitRuleParamsTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxSalesCountPerSelectionPerDrawEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakePerBetTypePerTicketEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakePerSelectionPerTicketEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/archive/DrawExposureArchiveDatasetProviderTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/assignment/mapper/LimitScopeMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/ScopePersistenceMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureProjectorAdapterTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawDetailResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/draw/AdminDrawOverviewResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/draw/TenantAdminDrawOverviewController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/draw/TenantAdminDrawOverviewService.java
Due: none

feat(limits): web + mobile slices 2-11 — contextual limit policy UI
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/data/models/pos_draw_detail_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/pos_draw_detail_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/ui/console/src/index.ts
  tchalanet-web/libs/ui/console/src/lib/limit-policy-block/limit-policy-block.component.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

test: add Playwright, Python e2e, and Locust perf for limits feature (Slices 14-16)
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/tests/business_critical/test_limit_policy_scenarios.py
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-detail-block-number.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-detail-exposure.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/limit-policy-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/limits-nav-simplification.spec.ts
Due: nx affected:lint --fix, prettier --write

feat(limits): block-number dialog with scope toggle + generic draw-channel picker
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/active-draw-channel-select/active-draw-channel-select.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
Due: nx affected:lint --fix, prettier --write

docs(limits): update near-code docs + full limits guide in tchalanet-docs
  tchalanet-docs/docs/02-functional/domains/limits.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/DOMAIN_LIMITPOLICY.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/FEATURE_POS.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/FEATURE_TENANTADMIN.md
Due: prettier --write

fix(i18n): replace technical term 'tenant' with public glossary term in limits copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: prettier --write

fix(ui): replace literal @media 600px with ui.up(medium) in limit-policy-block
  tchalanet-web/libs/ui/console/src/lib/limit-policy-block/limit-policy-block.component.ts
Due: nx affected:lint --fix, prettier --write

fix(limits): drop stale spec assignment and unused TranslatePipe import
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
Due: nx affected:lint --fix, prettier --write

fix(mobile,backend): curly braces on if + Spotless formatting
  tchalanet-mobile/lib/features/cashier/home/data/services/pos_draw_detail_service.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/archive/DrawExposureArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/assignment/UpsertLimitAssignmentCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/exposure/ApplyTicketExposureCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/exposure/GetExposureAlertsOverviewQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/resolver/LimitResolverTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/BlockSelectionPerDrawEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/LimitRuleParamsTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxSalesCountPerSelectionPerDrawEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakePerBetTypePerTicketEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakePerSelectionPerTicketEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/archive/DrawExposureArchiveDatasetProviderTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/assignment/mapper/LimitScopeMapperTest.java
Due: none

fix(mobile): resolve 3 architecture guard failures in draw report page
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
Due: none

fix(backend): apply Spotless to 3 files in features + app modules
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/LimitPolicyRuntimeIntegrationTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawDetailResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/draw/TenantAdminDrawOverviewService.java
Due: none

feat(nav): add sellers-limits entry to tenant admin navigation drawer
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
Due: prettier --write

feat(limits): contextual config V1 — full stack + convention fixes
  tchalanet-docs/docs/02-functional/domains/sales/pos-mobile-test-checklist.md
  tchalanet-mobile/lib/features/cashier/home/data/repositories/pos_draw_detail_repository.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandlerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawsService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pagemodel/dashboard/DashboardPeriodTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/PageModelDynamicResolverTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pagemodel/onboarding/PageModelOnboardingServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/draws/PosDrawsServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/home/app/PosHomeServiceReadinessTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/publicdrawresults/PublicDrawResultServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/draw/TenantAdminDrawOverviewServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/policies/TenantAdminPoliciesOverviewServiceTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/data-access/admin-limits-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/ui/console/src/lib/limit-policy-block/limit-policy-block.component.html
  tchalanet-web/libs/ui/console/src/lib/limit-policy-block/limit-policy-block.component.scss
  tchalanet-web/libs/ui/console/src/lib/limit-policy-block/limit-policy-block.component.ts
Due: nx affected:lint --fix, prettier --write

test(e2e,mobile,backend): PR readiness fixes + 4 new limit-block e2e specs
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-server/pom.xml
  tchalanet-server/tchalanet-core/pom.xml
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-limit-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/seller-terminal-limit-block.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/tenant-modification.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/tenant-provisioning.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

fix(web): wire block-number dialog on draw detail + fix e2e stub
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-detail-block-number.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(ci): resolve 3 CI failures from prev commit
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandlerTest.java
Due: none

fix(backend): correct Spotless import order in GetEffectiveLimitsForDrawQueryHandler
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/GetEffectiveLimitsForDrawQueryHandler.java
Due: none

fix(backend): apply Spotless to UpdateSellerTerminalSettingsCommandHandlerTest
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandlerTest.java
Due: none
