Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(web): add draw-channel slot detail page with limits block
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
Due: prettier --write

fix(backend): honour SELLER_TERMINAL limit override in exposure alerts
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/exposure/GetExposureAlertsOverviewQueryHandler.java
Due: none

feat(web): add limits block to draw-channel detail page
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): make channelId public for template access in draw-channel detail
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
Due: nx affected:lint --fix, prettier --write

fix(backend): apply Spotless to features module (rebase import merge)
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/draws/PosDrawsService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/PageModelDynamicResolverTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pagemodel/onboarding/PageModelOnboardingServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/draws/PosDrawsServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/home/app/PosHomeServiceReadinessTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/draw/TenantAdminDrawOverviewServiceTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/policies/TenantAdminPoliciesOverviewServiceTest.java
Due: none

fix(backend): update PosDrawsServiceTest getDetail constructors to 8 args
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/draws/PosDrawsServiceTest.java
Due: none

fix(test): isolate LimitPolicyRuntimeIntegrationTest from shared DB state
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/LimitPolicyRuntimeIntegrationTest.java
Due: none

test(web): align sidenav e2e with limits navigation
  tchalanet-web/apps/web-e2e/src/admin-portal/limits-nav-simplification.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/sidenav-desktop.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-drawer.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(web): clean limits English labels
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
Due: prettier --write

fix(web): use breakpoint token in limits section
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.ts
Due: nx affected:lint --fix, prettier --write

test(web): align shell nav group guard
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(web): isolate public language and close prod login
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/apps/public-portal/src/app/app.config.ts
  tchalanet-web/apps/public-portal/src/app/app.routes.ts
  tchalanet-web/apps/public-portal/src/app/features/public/shell/public-shell.component.html
  tchalanet-web/apps/public-portal/src/app/features/public/shell/public-shell.component.ts
  tchalanet-web/apps/public-portal/src/environments/environment.e2e-api.ts
  tchalanet-web/apps/public-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/public-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/public-portal/src/environments/environment.ts
  tchalanet-web/libs/core/i18n/src/lib/i18n-runtime.spec.ts
  tchalanet-web/libs/core/i18n/src/lib/language-switcher.ts
  tchalanet-web/libs/core/i18n/src/lib/store/i18n.effects.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-header-navigation.spec.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-header.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-shell-layout.component.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-shell.service.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/runtime/public-runtime.store.ts
Due: nx affected:lint --fix, prettier --write

fix(web): update public hero language flow
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V209__seed_public_i18n_settings.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V223__update_public_home_hero_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/public/public_hero.json
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-shell.service.spec.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-shell.service.ts
Due: nx affected:lint --fix, prettier --write

fix(server): restore public i18n migration checksum
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V209__seed_public_i18n_settings.sql
Due: none

fix(web): complete public bootstrap fallback
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
Due: prettier --write

fix(web): refine public hero copy
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V223__update_public_home_hero_i18n.sql
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
Due: prettier --write

fix(web): make ticket verification hero accent
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V223__update_public_home_hero_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__refine_public_home_hero_cta_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/public/public_hero.json
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
Due: prettier --write

fix(web): render public hero and ticket ctas correctly
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__refine_public_home_hero_cta_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/public.home.template.json
  tchalanet-web/libs/widgets/src/lib/widgets/public/hero/hero.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/public/ticket-verification/ticket-verification.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(web): refresh public runtime on language change
  tchalanet-web/libs/web/shell/src/lib/public-shell/runtime/public-runtime.store.spec.ts
  tchalanet-web/libs/web/shell/src/lib/public-shell/runtime/public-runtime.store.ts
Due: nx affected:lint --fix, prettier --write

fix(server): move public cta data patch to new migration
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__refine_public_home_hero_cta_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V225__fix_public_home_check_ticket_cta_key.sql
Due: none

fix(web): polish public draw result labels
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.ts
Due: nx affected:lint --fix, prettier --write

test(web): cover public draw provider labels
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/publicdrawresults/DrawChannelLabelKeyResolverTest.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.ts
  tchalanet-web/package.json
  tchalanet-web/tools/check-public-draw-i18n.mjs
Due: nx affected:lint --fix, prettier --write

fix(e2e): wait for generated draws batch
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
Due: none

test(web): stabilize full validation e2e contracts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-limit-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/games-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/seller-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-games-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/tenant-modification.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/tenant-provisioning.spec.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
Due: nx affected:lint --fix, prettier --write

ci: resolve staging backup host via hcloud token env
  .github/workflows/db-backup.yml
Due: none

ci: install backup encryption dependencies on host
  .github/workflows/db-backup.yml
Due: none

fix(public): prioritize manager home CTA
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/public/public_hero.json
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/public.home.template.json
  tchalanet-web/libs/shared-assets/public/assets/config/page-default.json
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
Due: prettier --write

copy(public): clarify manager platform value
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
Due: prettier --write

docs(public): prepare Google Play legal compliance
  tchalanet-docs/docs/04-operations/google-play-compliance-book.md
  tchalanet-docs/mkdocs.yml
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/public/public_footer_links.json
  tchalanet-web/apps/public-portal/src/app/features/public/markdown/data-access/public-markdown-content.service.ts
  tchalanet-web/apps/public-portal/src/app/features/public/markdown/public-markdown.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/public.routes.ts
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-public.json
  tchalanet-web/libs/shared-assets/public/assets/public/pages/data-deletion.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/en/data-deletion.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/en/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/en/terms.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/fr/data-deletion.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/fr/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/fr/terms.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/ht/data-deletion.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/ht/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/ht/terms.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/terms.md
Due: nx affected:lint --fix, prettier --write

fix(public): remove retired EN public terms
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
Due: prettier --write

docs(server): propose archive retention policy (#637)
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/design.md
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/proposal.md
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/specs/platform.archive/spec.md
  tchalanet-server/openspec/changes/archive-ticket-retention-policy-v1/tasks.md
Due: prettier --write

fix(public): UX corrections — dates localisées, labels lisibles, balls colorisées
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.spec.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.utils.ts
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(public): UX corrections — dates localisées, labels lisibles, balls colorisées (#650)
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.spec.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.utils.ts
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(public): add data deletion form and rhythm
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/contactrequest/api/ContactRequestIntent.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/contactrequest/internal/service/ContactRequestSubmissionService.java
  tchalanet-web/apps/platform-portal/src/app/features/contact/pages/contact-requests/platform-contact-requests.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/contact/public-contact.model.ts
  tchalanet-web/apps/public-portal/src/app/features/public/data-deletion/public-data-deletion.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/data-deletion/public-data-deletion.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/data-deletion/public-data-deletion.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/public.routes.ts
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/web/console/src/lib/domain/console-domain-types.ts
  tchalanet-web/libs/widgets/src/lib/widgets/public/operator-cta/operator-cta.widget.scss
Due: nx affected:lint --fix, prettier --write

fix(public): add data deletion form and rhythm (#651)
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/contactrequest/api/ContactRequestIntent.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/contactrequest/internal/service/ContactRequestSubmissionService.java
  tchalanet-web/apps/platform-portal/src/app/features/contact/pages/contact-requests/platform-contact-requests.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/contact/public-contact.model.ts
  tchalanet-web/apps/public-portal/src/app/features/public/data-deletion/public-data-deletion.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/data-deletion/public-data-deletion.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/data-deletion/public-data-deletion.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/public.routes.ts
  tchalanet-web/libs/shared-assets/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/web/console/src/lib/domain/console-domain-types.ts
  tchalanet-web/libs/widgets/src/lib/widgets/public/operator-cta/operator-cta.widget.scss
Due: nx affected:lint --fix, prettier --write

feat(web): clean up draw game availability UX
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/games-configuration.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
Due: nx affected:lint --fix, prettier --write

test(server): update tenant admin navigation expectation
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
Due: none

style(server): format navigation resolver test
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
Due: none

Clean up draw game availability UX (#652)
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-list-item/draw-channel-list-item.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/games-configuration.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
Due: nx affected:lint --fix, prettier --write
