Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(mobile): track notification/draw/stats data layer
  tchalanet-mobile/lib/features/cashier/home/data/services/terminal_stats_service.dart
  tchalanet-mobile/lib/features/draw/data/models/draw_models.dart
  tchalanet-mobile/lib/features/draw/data/services/draw_result_service.dart
  tchalanet-mobile/lib/features/notifications/data/models/notification_models.dart
  tchalanet-mobile/lib/features/notifications/data/repositories/notification_repository.dart
  tchalanet-mobile/lib/features/notifications/data/repositories/notification_repository_impl.dart
  tchalanet-mobile/lib/features/notifications/data/services/notification_service.dart
Due: none

test(mobile): align login test with the terminal + PIN Firebase form
  tchalanet-mobile/android/app/src/main/res/xml/network_security_config.xml
  tchalanet-mobile/test/widget_test.dart
Due: none

chore(mobile): drop dead operator login i18n keys
  tchalanet-mobile/assets/i18n/en/feature-auth.json
  tchalanet-mobile/assets/i18n/fr/feature-auth.json
  tchalanet-mobile/assets/i18n/ht/feature-auth.json
Due: prettier --write

feat(web/console): shared draw-slot identities + draw-result combinations tab
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/components/draw-result-combinations/draw-result-combinations.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/components/draw-result-combinations/draw-result-combinations.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/components/draw-result-combinations/draw-result-combinations.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/components/draw-result-summary/draw-result-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/components/draw-result-summary/draw-result-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/libs/web/console/src/index.ts
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-combinations.spec.ts
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-combinations.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.spec.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.ts
  tchalanet-web/openspec/changes/web-console-shared-folders-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web-console): polish draw and game identity display
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.ts
  tchalanet-web/libs/shared-assets/src/lib/asset-paths.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.spec.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.scss
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
  tchalanet-web/libs/web/console/src/lib/games/console-game-card.component.html
  tchalanet-web/libs/web/console/src/lib/games/console-game-card.component.scss
  tchalanet-web/libs/web/console/src/lib/games/console-game-card.component.ts
  tchalanet-web/libs/web/console/src/lib/games/console-game-display.spec.ts
  tchalanet-web/libs/web/console/src/lib/games/console-game-display.ts
  tchalanet-web/libs/web/console/src/lib/games/console-game-labels.pipe.ts
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.html
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.scss
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.component.ts
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.models.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): folder reorganization
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-progress-header/setup-progress-header.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-progress-header/setup-progress-header.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-progress-header/setup-progress-header.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-seller-terminal-card/setup-seller-terminal-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-seller-terminal-card/setup-seller-terminal-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-seller-terminal-card/setup-seller-terminal-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
Due: nx affected:lint --fix, prettier --write

feat: validate result slot expert configs
  openspec/changes/tenant-draws-channels-config-v1/tasks.md
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/web/ResultSlotAdminController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/web/model/UpdateResultSlotProjectionConfigRequest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/web/model/UpdateResultSlotSourceConfigRequest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/write/ResultSlotAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/write/ResultSlotConfigValidator.java
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/resultslot/internal/write/ResultSlotConfigValidatorTest.java
Due: prettier --write

feat(web): edit result slot expert configs
  tchalanet-web/apps/platform-portal/src/app/features/catalog/data-access/platform-catalog-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/result-slots/platform-catalog-result-slots.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/result-slots/platform-catalog-result-slots.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/result-slots/platform-catalog-result-slots.page.ts
Due: nx affected:lint --fix, prettier --write

feat(web): edit draw channel referential configs
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channels/platform-catalog-draw-channels.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channels/platform-catalog-draw-channels.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channels/platform-catalog-draw-channels.page.ts
Due: nx affected:lint --fix, prettier --write

feat(web): inline edit catalog referentials
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/edit-game.dialog.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/edit-game.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/edit-i18n-override.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/components/dialogs/edit-setting.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/games/platform-catalog-games.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/games/platform-catalog-games.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/games/platform-catalog-games.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/plans/platform-catalog-plans.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/plans/platform-catalog-plans.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/plans/platform-catalog-plans.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/result-slot-calendars/platform-catalog-result-slot-calendars.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/result-slot-calendars/platform-catalog-result-slot-calendars.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/settings/platform-catalog-settings.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/settings/platform-catalog-settings.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/settings/platform-catalog-settings.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/themes/platform-catalog-themes.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/themes/platform-catalog-themes.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/themes/platform-catalog-themes.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/translations/platform-catalog-i18n-overrides.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/translations/platform-catalog-i18n-overrides.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/translations/platform-catalog-i18n-overrides.page.ts
Due: nx affected:lint --fix, prettier --write

feat(web): complete inline catalog crud prompts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channel-games/platform-catalog-draw-channel-games.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channel-games/platform-catalog-draw-channel-games.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/draw-channel-games/platform-catalog-draw-channel-games.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/page-model-templates/platform-catalog-page-model-templates.page.ts
Due: nx affected:lint --fix, prettier --write

chore(deps): weekly Dependabot review 2026-07-07
  .agents/dependabot-reports/2026-07-07.md
Due: prettier --write

docs(openspec): archive games pricing draws specs
  openspec/changes/archive/2026-07-07-combined-implicit-bet-coverage-v1/design.md
  openspec/changes/archive/2026-07-07-combined-implicit-bet-coverage-v1/proposal.md
  openspec/changes/archive/2026-07-07-combined-implicit-bet-coverage-v1/specs/bet-coverage/spec.md
  openspec/changes/archive/2026-07-07-combined-implicit-bet-coverage-v1/tasks.md
  openspec/changes/archive/2026-07-07-core-pricing-consolidation-tenant-odds-v1/design.md
  openspec/changes/archive/2026-07-07-core-pricing-consolidation-tenant-odds-v1/proposal.md
  openspec/changes/archive/2026-07-07-core-pricing-consolidation-tenant-odds-v1/specs/core-pricing/spec.md
  openspec/changes/archive/2026-07-07-core-pricing-consolidation-tenant-odds-v1/tasks.md
  openspec/changes/archive/2026-07-07-tenant-draws-channels-config-v1/proposal.md
  openspec/changes/archive/2026-07-07-tenant-draws-channels-config-v1/specs/draw-channels/spec.md
  openspec/changes/archive/2026-07-07-tenant-draws-channels-config-v1/tasks.md
  openspec/changes/archive/2026-07-07-tenant-game-bet-option-config-v1/proposal.md
  openspec/changes/archive/2026-07-07-tenant-game-bet-option-config-v1/specs/game-bet-options/spec.md
  openspec/changes/archive/2026-07-07-tenant-game-bet-option-config-v1/tasks.md
  openspec/specs/bet-coverage/spec.md
  openspec/specs/core-pricing/spec.md
  openspec/specs/draw-channels/spec.md
  openspec/specs/game-bet-options/spec.md
Due: prettier --write

fix(cache): repair Redis L2 value serialization for Jackson 3
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/CombinedCache.java
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/RedisCacheRuntimeConfig.java
  tchalanet-server/tchalanet-app/src/main/resources/application-local-ide-redis.yaml
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/config/cache/RedisCacheSerializerRoundTripTest.java
Due: none

fix(cache): evict drawchannel calendar_rows on writes; drop dead caches
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/cache/DrawChannelCacheNames.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelGameAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningService.java
Due: none

feat(cache): wire drawresult read caching (by_id, id_by_slot_occurred)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/cache/DrawResultCacheEvictor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/cache/DrawResultCacheNames.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/cache/DrawResultCacheSpecProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/persistence/adapter/DrawResultJdbcReaderAdapter.java
Due: none

docs(cache): cache conventions audit + cache-strategy-hardening-v1 openspec
  tchalanet-server/docs/conventions/cache-gap-analysis.md
  tchalanet-server/docs/conventions/cache-strategy-review.md
  tchalanet-server/docs/conventions/cache.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/design.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/proposal.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/specs/cache/spec.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
Due: prettier --write

feat(cache): declare CacheSpecProviders for catalog + tenant caches
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/cache/DrawChannelCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/game/internal/cache/GameCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/i18n/internal/cache/I18nOverridesCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/pagemodeltemplate/internal/cache/PageModelTemplateCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/plan/internal/cache/PlanCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/cache/ResultSlotCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/settings/internal/cache/SettingsCacheSpecProvider.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/theme/internal/cache/ThemeCacheSpecProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenant/internal/cache/TenantCacheSpecProvider.java
Due: prettier --write

feat(cache): add tenant theme + tenant game runtime caches
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/cache/TenantGameCacheNames.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/cache/TenantGameCacheSpecProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameAdminService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameCatalogProjectionService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameRuntimeService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenanttheme/internal/cache/TenantThemeCacheNames.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenanttheme/internal/cache/TenantThemeCacheSpecProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenanttheme/internal/service/TenantThemeAdminService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenanttheme/internal/service/TenantThemeRuntimeService.java
Due: prettier --write

feat(cache): runtime per-cache kill-switch + real Ops cache groups
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/CacheRuntimeConfig.java
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/ToggleableCache.java
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/ToggleableCacheManager.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/ops/cache/CacheOpsControllerTest.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/cache/CacheToggle.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/cache/CacheOpsController.java
Due: prettier --write

feat(platform-portal): cache enable/disable actions in Ops
  tchalanet-web/apps/platform-portal/src/app/features/operations/data-access/platform-ops-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-cache.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-cache.page.ts
Due: nx affected:lint --fix, prettier --write

docs(cache): normative rule — no cache for money/limit/security decisions
  tchalanet-server/docs/conventions/cache.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
Due: prettier --write

fix(admin): polish setup visuals and limit terminal scope
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/web/admin/LimitPolicyAdminController.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-game-card/matrix-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/matrix-slot-panel/matrix-slot-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/seller-terminal/admin-limits-seller-terminal.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-progress-header/setup-progress-header.component.scss
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/games/console-game-card.component.scss
Due: nx affected:lint --fix, prettier --write

docs(cache): record no-cache decision for limit + sellerterminal
  tchalanet-server/docs/conventions/cache-strategy-review.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
Due: prettier --write

fix(cache): evict after commit by ordering the caching advisor outer
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/CacheRuntimeConfig.java
Due: prettier --write

feat(cache): warn on caches without a CacheSpecProvider
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/CacheSpecAwareCaffeineCacheManager.java
Due: prettier --write

docs(cache): mark write/evict/read + rollback tests as e2e-level (no @SpringBootTest infra)
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
Due: prettier --write

fix(cache): after-commit eviction + drift guard + no-cache decision (limit/sellerterminal) (#235)
  tchalanet-server/docs/conventions/cache-strategy-review.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/CacheRuntimeConfig.java
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/cache/CacheSpecAwareCaffeineCacheManager.java
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
