Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

fix(web): align login form icons
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.scss
Due: nx affected:lint --fix, prettier --write

fix(web): show mobile install action on login
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.scss
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
Due: nx affected:lint --fix, prettier --write

P2 web: add mobile install support (#326)
  tchalanet-web/apps/admin-portal/public/manifest.webmanifest
  tchalanet-web/apps/admin-portal/src/index.html
  tchalanet-web/apps/platform-portal/public/manifest.webmanifest
  tchalanet-web/apps/platform-portal/src/index.html
  tchalanet-web/apps/public-portal/public/manifest.webmanifest
  tchalanet-web/apps/public-portal/src/index.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.scss
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
Due: nx affected:lint --fix, prettier --write

fix(web): refine mobile PWA install hints
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.spec.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
Due: nx affected:lint --fix, prettier --write

fix(web): refine mobile PWA install hints (#329)
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.spec.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
Due: nx affected:lint --fix, prettier --write

test(server): document business-day e2e matrix
  tchalanet-server/openspec/changes/e2e-business-runtime-v1/tasks.md
  tchalanet-server/testing/e2e/docs/business-day-scenarios.md
  tchalanet-server/testing/e2e/pytest.ini
  tchalanet-server/testing/e2e/tch_e2e/business_day.py
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
Due: prettier --write

fix(web): stabilize report exports and close sidebar links
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/utils/report-export.util.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.spec.ts
Due: nx affected:lint --fix, prettier --write

test(e2e): prove seller draw reporting participation
  tchalanet-server/testing/e2e/docs/business-day-scenarios.md
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
Due: prettier --write

docs(web): spec web-e2e Phase 1 — auth, role dispatch & context override
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/proposal.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/specs/web-e2e-auth-phase1/spec.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: prettier --write

test(web-e2e): implement Phase 1 auth flows (login, dispatch, guards, context)
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/admin-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/auth.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.html
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(web-e2e): Page Object Model + fixtures for the single web-e2e suite
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/admin-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/auth.ts
  tchalanet-web/apps/web-e2e/src/support/env.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/login.page.ts
Due: nx affected:lint --fix, prettier --write

ci(web-e2e): make the target non-blocking + enable deployed-portal runs
  .github/workflows/full-validation.yml
  tchalanet-web/apps/web-e2e/playwright.config.ts
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web-e2e): align login selector with main's identifier field
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/pages/login.page.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): Phase 2 — platform support mode (support-tenant)
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.html
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.html
  tchalanet-web/apps/web-e2e/src/platform-portal/support-tenant.spec.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/support-tenant.page.ts
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/proposal.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/specs/web-e2e-support-tenant-phase2/spec.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(server): add ops sales simulation endpoint
  tchalanet-server/openspec/changes/ops-sales-simulation/proposal.md
  tchalanet-server/openspec/changes/ops-sales-simulation/tasks.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/sales/OpsSalesSimulationController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/sales/OpsSalesSimulationPlanner.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/sales/OpsSalesSimulationRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/sales/OpsSalesSimulationResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/sales/OpsSalesSimulationService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/sales/SimulatedGameKind.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/ops/sales/OpsSalesSimulationPlannerTest.java
Due: prettier --write

feat(web): add platform sales simulation page
  tchalanet-web/apps/platform-portal/src/app/features/operations/data-access/platform-ops-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-sales-simulation.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-sales-simulation.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-sales-simulation.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/platform-operations.routes.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): API stub pattern (backend-free unauth tests)
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): fixes from a real run (browser path, error timeout, smoke titles)
  tchalanet-web/apps/web-e2e/playwright.config.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/smoke.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/smoke.spec.ts
  tchalanet-web/apps/web-e2e/src/public-portal/smoke.spec.ts
  tchalanet-web/apps/web-e2e/src/support/pages/login.page.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): variant A — firebase emulator auth + REST stubs
  .github/workflows/full-validation.yml
  tchalanet-web/apps/admin-portal/project.json
  tchalanet-web/apps/admin-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/platform-portal/project.json
  tchalanet-web/apps/platform-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/public-portal/project.json
  tchalanet-web/apps/public-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/playwright.config.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/support-tenant.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/global-setup.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): fix REST stubs — validated variant A green on a real emulator
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

fix(server): remove sales simulation pagemodel template
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.ops.sales_simulations.template.json
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/security/PageModelAccessPolicy.java
Due: prettier --write

fix(server): support propagation in TchTx
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/stereotype/TchTx.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/MarkDrawResultOverriddenCommandHandler.java
Due: none

fix(server): use TchTx in command handlers
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/command/handler/PurgeAnalyticsCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/command/handler/RecomputeAnalyticsDailyCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/exposure/ApplyTicketExposureCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/result/ReconcileTicketsForCorrectedDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/result/RecordDrawTicketsResultCommandHandler.java
Due: none

chore(e2e): consolidate migrations and agent runner
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V105__configure_rls.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V202__seed_iam_roles_permissions.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V207__seed_app_settings.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V208__seed_receipt_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V213__temp_seed_ticket_payout_adjust_permission.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V214__temp_allow_platform_dispatch_outbound_message.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V215__temp_seed_receipt_copy_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__temp_receipt_game_labels_maryaj.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V217__temp_global_public_ticket_code.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__temp_seed_drawresult_reminder_gate.sql
  tchalanet-server/testing/e2e/AGENTS.md
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/docs/business-day-scenarios.md
  tchalanet-server/testing/e2e/loadtest/README.md
  tchalanet-server/testing/e2e/scripts_agent_run.sh
  tchalanet-server/testing/e2e/tests/public/test_public.py
Due: prettier --write

docs(e2e): clarify firebase emulator boundaries
  tchalanet-infra/QUICK-START.md
  tchalanet-infra/README.md
  tchalanet-infra/docs/architecture/ENV-ARCHITECTURE.md
  tchalanet-infra/docs/reference/QUICK-REFERENCE.md
  tchalanet-infra/docs/setup/DEMARRAGE.md
  tchalanet-infra/docs/setup/LAN-SETUP.md
  tchalanet-infra/envs/README.md
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/docs/business-day-scenarios.md
  tchalanet-server/testing/e2e/scripts_agent_run.sh
Due: prettier --write

docs(loadtest): use local jwt for locust
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/docs/business-day-scenarios.md
  tchalanet-server/testing/e2e/loadtest/README.md
Due: prettier --write

test(e2e): document locust local perf flow
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/loadtest/README.md
  tchalanet-server/testing/e2e/loadtest/bootstrap.py
  tchalanet-server/testing/e2e/loadtest/client.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/scripts_prepare_locust_local_perf.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
Due: prettier --write

chore(e2e): consolidate migrations and agent runner (#334)
  tchalanet-infra/QUICK-START.md
  tchalanet-infra/README.md
  tchalanet-infra/docs/architecture/ENV-ARCHITECTURE.md
  tchalanet-infra/docs/reference/QUICK-REFERENCE.md
  tchalanet-infra/docs/setup/DEMARRAGE.md
  tchalanet-infra/docs/setup/LAN-SETUP.md
  tchalanet-infra/envs/README.md
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V105__configure_rls.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V202__seed_iam_roles_permissions.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V207__seed_app_settings.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V208__seed_receipt_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V213__temp_seed_ticket_payout_adjust_permission.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V214__temp_allow_platform_dispatch_outbound_message.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V215__temp_seed_receipt_copy_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__temp_receipt_game_labels_maryaj.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V217__temp_global_public_ticket_code.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__temp_seed_drawresult_reminder_gate.sql
  tchalanet-server/testing/e2e/AGENTS.md
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/docs/business-day-scenarios.md
  tchalanet-server/testing/e2e/loadtest/README.md
  tchalanet-server/testing/e2e/loadtest/bootstrap.py
  tchalanet-server/testing/e2e/loadtest/client.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/scripts_agent_run.sh
  tchalanet-server/testing/e2e/scripts_prepare_locust_local_perf.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tests/public/test_public.py
Due: prettier --write

test(web-e2e): Phase 3 — username login, logout, support round-trip
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.html
  tchalanet-web/apps/web-e2e/src/admin-portal/auth-phase3.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/support-tenant.spec.ts
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase3.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/login.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/shell.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/support-tenant.page.ts
  tchalanet-web/libs/ui/components/src/lib/user-menu/user-menu.ts
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: nx affected:lint --fix, prettier --write
