Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

test(server): cover receipt reprint promotions
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/SalesPolicyPromotionSpringIntegrationTest.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/web/TchContextFilter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pricing/internal/infra/persistence/SellerTerminalOddsOverrideJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pricing/internal/infra/persistence/TenantPricingOddsJpaEntity.java
Due: prettier --write

fix(web): handle POS ticket reprint dialog
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-sale-success-dialog/pos-sale-success-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-sale-success-dialog/pos-sale-success-dialog.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

docs: document game configuration and result simulation
  tchalanet-docs/docs/02-functional/domains/drawresult.md
  tchalanet-docs/docs/02-functional/domains/game.md
  tchalanet-docs/docs/02-functional/domains/pricing.md
  tchalanet-docs/docs/02-functional/features/promotions/maryaj-gratis.md
  tchalanet-docs/docs/02-functional/guides/admin-game-configuration.md
  tchalanet-docs/docs/02-functional/guides/field-agent-guide.md
  tchalanet-docs/docs/02-functional/guides/operator-admin-guide.md
  tchalanet-docs/docs/index.md
  tchalanet-docs/mkdocs.yml
  tchalanet-docs/openspec/changes/promotions-maryaj-functional-docs/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/DOMAIN_DRAWRESULT.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pricing/DOMAIN_PRICING.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/promotion_design.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/DOMAIN_SALES.md
Due: prettier --write

fix(web): hide implicit POS bet options
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.spec.ts
Due: nx affected:lint --fix, prettier --write

ci: restore pr checks
  .github/workflows/mobile-pr.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
Due: none

ci: add full validation workflow
  .github/workflows/full-validation.yml
Due: none

fix(server): satisfy feature architecture rules
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/arch/FeatureArchitectureTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/ticketverify/TicketVerifyControllerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/onboarding/PageModelOnboardingService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/DrawStatLineDto.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/DrawStatLineItem.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/SellerTerminalDailyStatsResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/GetTenantReadinessQuery.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/GetTenantReadinessQueryHandler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ticketverify/TicketVerifyController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ticketverify/shared/PublicTicketRateLimiter.java
Due: none

fix(web): unblock pr checks
  tchalanet-web/apps/admin-portal/src/app/app.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/verify/pos-ticket-verify.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/overrides/admin-seller-terminal-overrides.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/overrides/admin-seller-terminal-overrides.page.ts
  tchalanet-web/apps/platform-portal/src/app/app.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/platform-operations.routes.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform.routes.ts
  tchalanet-web/apps/public-portal/src/app/app.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(server): keep integration postgres alive
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/BusinessRuntimeIntegrationTestBase.java
Due: none

fix(web): relax build budgets and dynamic ssr routes
  tchalanet-web/apps/admin-portal/project.json
  tchalanet-web/apps/platform-portal/project.json
  tchalanet-web/apps/public-portal/project.json
  tchalanet-web/apps/public-portal/src/app/app.routes.server.ts
Due: nx affected:lint --fix, prettier --write

fix(web): add angular architect dependency
  tchalanet-web/package.json
  tchalanet-web/pnpm-lock.yaml
Due: prettier --write

fix(web): disable public portal ssr
  tchalanet-web/apps/public-portal/project.json
Due: prettier --write

fix(web): disable public portal ssr (#264)
  tchalanet-web/apps/public-portal/project.json
Due: prettier --write

fix(server): default lottery games to implicit mode
  tchalanet-server/openspec/specs/features-cashier/spec.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/games/PosGamesServiceTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameBetOptionConfigs.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameBetOptionConfigsTest.java
Due: prettier --write

feat(database): add support access session and portal auth handoff tables
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V102__create_technical_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V103__create_indexes.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V105__configure_rls.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V200__seed_tenant.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V208__seed_receipt_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V212__import_tchala_full.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V213__create_portal_auth_handoff_and_support_access.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V214__allow_global_system_audit_inserts.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V215__add_tenant_display_name.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__use_tenant_display_name_in_ticket_print_view.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V217__add_tenant_calendar_holidays_default.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__use_tenant_default_locale_in_ticket_print_view.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V219__add_sales_ticket_line_commercial_snapshots.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V222__finalize_receipt_thermal_labels.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V223__enable_starter_promotion_config.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__activate_seeded_tenant_games.sql
Due: none

fix(server): allow admin sales during terminal pin reset
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/sell/SellTicketCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/DOMAIN_SELLERTERMINAL.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalForSaleValidationView.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalForSaleValidationViewTest.java
Due: prettier --write

fix(server): default lottery games to implicit mode (#265)
  tchalanet-server/openspec/specs/features-cashier/spec.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V102__create_technical_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V103__create_indexes.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V105__configure_rls.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V200__seed_tenant.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V208__seed_receipt_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V212__import_tchala_full.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V213__create_portal_auth_handoff_and_support_access.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V214__allow_global_system_audit_inserts.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V215__add_tenant_display_name.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__use_tenant_display_name_in_ticket_print_view.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V217__add_tenant_calendar_holidays_default.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__use_tenant_default_locale_in_ticket_print_view.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V219__add_sales_ticket_line_commercial_snapshots.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V222__finalize_receipt_thermal_labels.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V223__enable_starter_promotion_config.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__activate_seeded_tenant_games.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/sell/SellTicketCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/DOMAIN_SELLERTERMINAL.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalForSaleValidationView.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalForSaleValidationViewTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/games/PosGamesServiceTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameBetOptionConfigs.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/tenantgame/internal/service/TenantGameBetOptionConfigsTest.java
Due: prettier --write

chore(deploy): configure staging api and cloudflare pages
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/communication/internal/config/EdgeCommunicationConfig.java
  tchalanet-web/libs/shared-assets/public/assets/config/README.md
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.prod-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.stg-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.stg-vercel.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.prod-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.stg-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.stg-vercel.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.prod-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.stg-cloudflare.json
  tchalanet-web/package.json
  tchalanet-web/tools/build-cloudflare-pages.mjs
  tchalanet-web/tools/select-runtime-profile.mjs
Due: prettier --write

chore(deploy): configure staging api and cloudflare pages (#266)
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/dev/compose.env
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/communication/internal/config/EdgeCommunicationConfig.java
  tchalanet-web/libs/shared-assets/public/assets/config/README.md
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.prod-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.stg-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.stg-vercel.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.prod-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.stg-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.stg-vercel.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.prod-cloudflare.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.public-portal.stg-cloudflare.json
  tchalanet-web/package.json
  tchalanet-web/tools/build-cloudflare-pages.mjs
  tchalanet-web/tools/select-runtime-profile.mjs
Due: prettier --write

fix(api): allow Cloudflare staging CORS origin
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/security/CorsConfig.java
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
Due: none

fix(web): route Cloudflare Pages subpath apps
  tchalanet-web/tools/build-cloudflare-pages.mjs
Due: none

fix(api): allow Cloudflare staging CORS origin (#269)
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/security/CorsConfig.java
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
Due: none

fix(web): route Cloudflare Pages subpath apps (#270)
  tchalanet-web/tools/build-cloudflare-pages.mjs
Due: none

fix(api): allow request id CORS header
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
Due: none

fix(api): disable staging OTLP trace export
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
Due: none

fix(staging): allow Pages previews and public routes
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
  tchalanet-web/apps/public-portal/src/app/features/public/public.routes.ts
Due: nx affected:lint --fix, prettier --write

fix(staging): bootstrap Firebase users
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
Due: none

fix(staging): mount Firebase credentials
  tchalanet-infra/envs/staging/api.env
Due: none

fix(staging): render Firebase credential mount
  tchalanet-infra/envs/staging/compose.env
Due: none

ci(staging): add manual API deploy workflow
  .github/workflows/deploy-api-staging.yml
  tchalanet-infra/scripts/remote/deploy-api-staging.sh
Due: none

fix(web): attach bearer to staging API
  tchalanet-web/libs/core/auth/src/lib/auth-bearer.interceptor.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
Due: nx affected:lint --fix, prettier --write

fix(staging): repair API CORS, telemetry, and public routes (#271)
  .github/workflows/deploy-api-staging.yml
  tchalanet-infra/envs/staging/api.env
  tchalanet-infra/envs/staging/compose.env
  tchalanet-infra/scripts/remote/deploy-api-staging.sh
  tchalanet-server/tchalanet-app/src/main/resources/application-staging.yaml
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-web/apps/public-portal/src/app/features/public/public.routes.ts
  tchalanet-web/libs/core/auth/src/lib/auth-bearer.interceptor.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
Due: nx affected:lint --fix, prettier --write

fix(web): proxy cloudflare pages api calls
  tchalanet-web/tools/build-cloudflare-pages.mjs
Due: none

fix(web): proxy cloudflare pages api calls (#272)
  tchalanet-web/tools/build-cloudflare-pages.mjs
Due: none
