Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(web): resolve API base at request time
  tchalanet-infra/docs/operations/OPERATIONS.md
  tchalanet-infra/docs/operations/runbooks/RB-01-staging-provision.md
  tchalanet-infra/docs/operations/runbooks/RB-02-web-cf-pages.md
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/apps/public-portal/src/app/app.config.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.spec.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.ts
  tchalanet-web/libs/api/src/lib/http/api-base.ts
Due: nx affected:lint --fix, prettier --write

fix(staging): quiet draw schedulers by default
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/envs/staging/api.env
Due: none

fix(staging): harden manual api deploy checks
  tchalanet-infra/scripts/remote/deploy-api-staging.sh
Due: none

fix(staging): cache ops dashboard payload
  tchalanet-infra/envs/staging/api.env
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
Due: none

fix(staging): reduce admin bootstrap latency
  tchalanet-infra/envs/staging/api.env
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align mobile private shell header
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.scss
Due: prettier --write

fix(web): improve mobile draws layout
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.scss
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
Due: prettier --write

fix(web): improve mobile platform tenants list
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.html
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.scss
Due: nx affected:lint --fix, prettier --write

fix(web): collapse draw filters on mobile
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
Due: nx affected:lint --fix, prettier --write

fix(web): use shared list surface for draw filters
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): render draw cards natively on mobile
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
Due: nx affected:lint --fix, prettier --write

fix(server): remove ops dashboard manual cache
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
Due: none

fix(web): resolve API base at request time (#273)
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/docs/operations/OPERATIONS.md
  tchalanet-infra/docs/operations/runbooks/RB-01-staging-provision.md
  tchalanet-infra/docs/operations/runbooks/RB-02-web-cf-pages.md
  tchalanet-infra/envs/staging/api.env
  tchalanet-infra/scripts/remote/deploy-api-staging.sh
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.html
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.scss
  tchalanet-web/apps/public-portal/src/app/app.config.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.spec.ts
  tchalanet-web/libs/api/src/lib/backend-client/tch-backend-client.ts
  tchalanet-web/libs/api/src/lib/http/api-base.ts
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.scss
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.scss
Due: nx affected:lint --fix, prettier --write

test(web): cover support admin portal handoff
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align support tenant mobile table
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.html
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.scss
Due: nx affected:lint --fix, prettier --write

chore(infra): make staging recreate workflow safer
  .github/workflows/deploy-api-staging.yml
  tchalanet-infra/scripts/hcloud/01-create-network.sh
  tchalanet-infra/scripts/hcloud/02-create-firewall.sh
  tchalanet-infra/scripts/hcloud/03-create-server.sh
  tchalanet-infra/scripts/hcloud/staging-create.sh
  tchalanet-infra/scripts/hcloud/staging-destroy.sh
  tchalanet-infra/scripts/remote/deploy-api-staging.sh
Due: none

Codex/staging direct api stability (#274)
  .github/workflows/deploy-api-staging.yml
  tchalanet-infra/scripts/hcloud/01-create-network.sh
  tchalanet-infra/scripts/hcloud/02-create-firewall.sh
  tchalanet-infra/scripts/hcloud/03-create-server.sh
  tchalanet-infra/scripts/hcloud/staging-create.sh
  tchalanet-infra/scripts/hcloud/staging-destroy.sh
  tchalanet-infra/scripts/remote/deploy-api-staging.sh
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.html
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.scss
Due: nx affected:lint --fix, prettier --write

fix(staging): cache ops dashboard payload
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/platformadmin/PlatformAdminOpsDashboardPayloadAssembler.java
Due: none

chore(ci): remove obsolete vercel deployment
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
  tchalanet-web/README.md
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
  tchalanet-web/vercel.json
Due: nx affected:lint --fix, prettier --write

chore(auth): remove remaining keycloak web hooks
  VERSIONS.md
  openspec/changes/firebase-cutover-keycloak-cleanup-v1/tasks.md
  tchalanet-server/docs/worklog/identity-provider-inventory.md
  tchalanet-server/openspec/changes/provider-neutral-auth-provisioning-v1/inventory.md
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/types/id/ExternalUserSubject.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/types/id/KeycloakUserSub.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/PLATFORM_IDENTITY.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/model/AppUser.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/model/UserRow.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/adapter/AppUserJpaAdapter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/mapper/IdentityPersistenceMapper.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/TenantUserAdministrationService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/UserBootstrapService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/persistence/adapter/AppUserJpaAdapterTest.java
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-web/AGENTS.md
  tchalanet-web/docs/conventions/README.md
  tchalanet-web/docs/dependencies.md
  tchalanet-web/libs/api/README.md
  tchalanet-web/libs/api/src/lib/http/web-app-error.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
  tchalanet-web/package.json
  tchalanet-web/pnpm-lock.yaml
Due: nx affected:lint --fix, prettier --write

chore: stabilize staging deployment and firebase auth cleanup (#275)
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
  VERSIONS.md
  openspec/changes/firebase-cutover-keycloak-cleanup-v1/tasks.md
  tchalanet-server/docs/worklog/identity-provider-inventory.md
  tchalanet-server/openspec/changes/provider-neutral-auth-provisioning-v1/inventory.md
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/types/id/ExternalUserSubject.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/types/id/KeycloakUserSub.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/PLATFORM_IDENTITY.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/model/AppUser.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/model/UserRow.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/adapter/AppUserJpaAdapter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/persistence/mapper/IdentityPersistenceMapper.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/TenantUserAdministrationService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/UserBootstrapService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/persistence/adapter/AppUserJpaAdapterTest.java
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-web/AGENTS.md
  tchalanet-web/README.md
  tchalanet-web/docs/conventions/README.md
  tchalanet-web/docs/dependencies.md
  tchalanet-web/libs/api/README.md
  tchalanet-web/libs/api/src/lib/http/web-app-error.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
  tchalanet-web/package.json
  tchalanet-web/pnpm-lock.yaml
  tchalanet-web/vercel.json
Due: nx affected:lint --fix, prettier --write

docs(testing): OpenSpec — unit coverage for critical sell-flow domains
  tchalanet-server/openspec/changes/unit-coverage-critical-domains-v1/proposal.md
  tchalanet-server/openspec/changes/unit-coverage-critical-domains-v1/specs/unit-coverage-critical-domains/spec.md
  tchalanet-server/openspec/changes/unit-coverage-critical-domains-v1/tasks.md
Due: prettier --write

chore(infra): add staging lifecycle workflow actions
  .github/workflows/deploy-staging.yml
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-01-staging-provision.md
Due: prettier --write

chore(infra): add staging lifecycle workflow actions (#276)
  .github/workflows/deploy-staging.yml
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-01-staging-provision.md
Due: prettier --write

docs(testing): OpenSpec — unit coverage for critical sell-flow domains (#277)
  tchalanet-server/openspec/changes/unit-coverage-critical-domains-v1/proposal.md
  tchalanet-server/openspec/changes/unit-coverage-critical-domains-v1/specs/unit-coverage-critical-domains/spec.md
  tchalanet-server/openspec/changes/unit-coverage-critical-domains-v1/tasks.md
Due: prettier --write

docs(testing): OpenSpec — test strategy & layer separation contract
  openspec/changes/test-strategy-separation-v1/design.md
  openspec/changes/test-strategy-separation-v1/proposal.md
  openspec/changes/test-strategy-separation-v1/tasks.md
Due: prettier --write

test(limitpolicy): unit tests for limit evaluation engine + evaluators
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/engine/LimitEvaluationEngineTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/BlockBetTypeEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxLinesPerTicketEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakeExposurePerSelectionPerDrawEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakePerLineEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxStakePerTicketEvaluatorTest.java
Due: none

fix(context): preserve NONE operational source when no headers are declared
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/operational/OperationalContextHeaderParser.java
Due: none

fix(infra): expose hcloud token to staging scripts
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): expose hcloud token to staging scripts (#278)
  .github/workflows/deploy-staging.yml
Due: none

test(catalog): align BetOptionTest with LOTTO4_EXACT_PLUS_BOX option
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/game/api/model/BetOptionTest.java
Due: none

fix(infra): prepare ssh public key for staging create
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): prepare ssh public key for staging create (#279)
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): prepare ssh key for staging infra sync
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): prepare ssh key for staging infra sync (#280)
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): bootstrap staging host before deploy
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): bootstrap staging host before deploy (#281)
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): sync staging infra from infra directory
  .github/workflows/deploy-staging.yml
Due: none

fix(infra): sync staging infra from infra directory (#282)
  .github/workflows/deploy-staging.yml
Due: none

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
