Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(e2e): configure games and implicit maryaj
  tchalanet-server/testing/e2e/flows/cashier.py
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/business_day.py
  tchalanet-server/testing/e2e/tch_e2e/ticket_matrix.py
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
Due: none

test(features): update POS ticket filters
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
Due: none

fix(server): proxy blocked lottery providers
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryProperties.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/nj/NewJerseyDrawResultsClient.java
Due: none

fix(platform): bind notification api rls context
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/DefaultNotificationApi.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/service/DefaultNotificationApiTest.java
Due: none

fix(core): display nested manual draw lots
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/mapper/DrawAdminWebMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/web/mapper/DrawResultWebMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/TicketQueryController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/mapper/TicketWebMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/mo/MissouriDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/mo/MissouriDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/web/mapper/DrawAdminWebMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/infra/web/mapper/DrawResultWebMapperTest.java
Due: none

test(app): align provider mode integration expectation
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawResultAuditSpringIntegrationTest.java
Due: none

feat(admin): improve draw ticket follow-up
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/query/ListTicketsQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/adapter/TicketProjectionReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/TicketQueryController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/mapper/TicketWebMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/data-access/admin-tickets-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.html
Due: nx affected:lint --fix, prettier --write

fix(admin): contextualize draw top selections
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
Due: nx affected:lint --fix, prettier --write

docs(infra): add RB-07 MEP master runbook
  tchalanet-infra/docs/operations/runbooks/RB-07-mep.md
Due: prettier --write

docs(infra): apply review corrections to RB-07 MEP runbook
  tchalanet-infra/docs/operations/runbooks/RB-07-mep.md
Due: prettier --write

fix(admin): scope draw ticket filters by slot date
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/query/ListTicketsQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/adapter/TicketProjectionReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/TicketQueryController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/mapper/TicketWebMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/data-access/admin-tickets-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): compact draw top selections
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): reuse draw channel filter
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/draw-channel-filter-select/draw-channel-filter-select.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/draw-channel-filter-select/draw-channel-filter-select.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-sales-matrix/components/draw-channel-filter-select/draw-channel-filter-select.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): expose manual result entry timestamp
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__include_draw_result_fetched_at_in_summary.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/query/DrawResultSummary.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/mapper/DrawSummaryViewMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/view/DrawSummaryViewEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/mapper/DrawAdminWebMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/model/HaitiDrawResultSummaryReponse.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/service/ResultedDrawProcessorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/web/mapper/DrawAdminWebMapperTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.models.ts
Due: nx affected:lint --fix, prettier --write

fix(web): apply Wisconsin lottery logo
  tchalanet-web/libs/shared-assets/public/assets/images/logo/wi_logo.png
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.spec.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): clarify sidebar and result notifications
  tchalanet-mobile/AGENTS.md
  tchalanet-server/AGENTS.md
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/event/DrawEventListener.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/event/DrawEventListenerTest.java
  tchalanet-web/AGENTS.md
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(server): stabilize backend quality gates
  tchalanet-server/pom.xml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V108__create_read_views.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__include_draw_result_fetched_at_in_summary.sql
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/DefaultNotificationApi.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/service/DefaultNotificationApiTest.java
Due: none

fix(server): satisfy spotless on draw listener test
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/event/DrawEventListenerTest.java
Due: none

fix(server): keep draw summary view change forward-only
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V108__create_read_views.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__include_draw_result_fetched_at_in_summary.sql
Due: none

fix(server): append fetched-at view column in migration
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__include_draw_result_fetched_at_in_summary.sql
Due: none

fix(server): clarify california midday results
  .github/workflows/db-backup.yml
  .github/workflows/full-validation.yml
  tchalanet-mobile/lib/core/network/auth_interceptor.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/core/network/auth_interceptor_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V217__disable_ca_mid_daily4_source.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/event/DrawEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/HaitiProjectionService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureProjectorAdapter.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/event/DrawEventListenerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/HaitiProjectionServiceTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureProjectorAdapterTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results-detail/public-result-detail.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/results-detail/public-result-detail.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/results-detail/public-result-detail.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/public/draw-results/draw-results.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(mobile): hydrate replayed sale tickets
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_controller_test.dart
Due: none

fix(mobile): wait for restored firebase user
  tchalanet-mobile/lib/core/auth/firebase_auth_token_client.dart
  tchalanet-mobile/test/core/auth/firebase_auth_token_client_test.dart
Due: none

fix(mobile): avoid false logout during token refresh
  tchalanet-mobile/lib/core/auth/firebase_auth_token_client.dart
  tchalanet-mobile/test/core/network/auth_interceptor_test.dart
Due: none

fix(mobile): send POS surface on tenant calls
  tchalanet-mobile/lib/core/network/op_context_interceptor.dart
  tchalanet-mobile/test/core/network/op_context_interceptor_test.dart
Due: none

docs: add client pilot roadmap
  .github/workflows/README.md
  openspec/roadmap-2026-08-client-pilot.md
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-03-mobile-distribution.md
  tchalanet-infra/docs/operations/runbooks/RB-07-mep.md
  tchalanet-mobile/docs/RELEASE.md
Due: prettier --write

docs: draft admin and seller guides
  tchalanet-docs/docs/02-functional/guides/admin-configuration-concepts.md
  tchalanet-docs/docs/02-functional/guides/admin-seller-operations-concepts.md
  tchalanet-docs/docs/02-functional/guides/client-glossary-concepts.md
  tchalanet-docs/mkdocs.yml
Due: prettier --write

docs: add admin mobile guide screenshots
  tchalanet-docs/docs/assets/guides/admin/01-configuration-admin.png
  tchalanet-docs/docs/assets/guides/admin/02-sidebar-mobile.png
  tchalanet-docs/docs/assets/guides/admin/03-machann-machin-pos.png
  tchalanet-docs/docs/assets/guides/admin/04-jeux-baremes.png
  tchalanet-docs/docs/assets/guides/admin/05-maryaj-gratis.png
  tchalanet-docs/docs/assets/guides/admin/06-limites.png
  tchalanet-docs/docs/assets/guides/admin/07-rapport-machann.png
  tchalanet-docs/docs/assets/guides/admin/08-notifications.png
  tchalanet-web/apps/web-e2e/src/mobile/admin-guide-screenshots.spec.ts
Due: nx affected:lint --fix, prettier --write

docs: add admin guide operation captures
  tchalanet-docs/docs/assets/guides/admin/01-configuration-admin.png
  tchalanet-docs/docs/assets/guides/admin/07-rapport-machann.png
  tchalanet-docs/docs/assets/guides/admin/08-notifications.png
  tchalanet-docs/docs/assets/guides/admin/09-vann-ak-machin-pos.png
  tchalanet-docs/docs/assets/guides/admin/10-fich-machann.png
  tchalanet-docs/docs/assets/guides/admin/11-reg-espesyal-machann.png
  tchalanet-web/apps/web-e2e/src/mobile/admin-guide-screenshots.spec.ts
Due: nx affected:lint --fix, prettier --write

docs: add admin visual guide pdf
  output/pdf/guide-admin-tchalanet-draft.pdf
Due: none

docs: split admin guide pdfs by workflow
  output/pdf/guide-admin-configuration-tchalanet-draft.pdf
  output/pdf/guide-admin-operations-tchalanet-draft.pdf
Due: none

docs(web): align admin seller labels
  output/pdf/guide-admin-configuration-tchalanet-draft.pdf
  output/pdf/guide-admin-operations-tchalanet-draft.pdf
  tchalanet-docs/docs/assets/guides/admin/03-machann-machin-pos.png
  tchalanet-docs/docs/assets/guides/admin/04-jeux-baremes.png
  tchalanet-docs/docs/assets/guides/admin/05-maryaj-gratis.png
  tchalanet-docs/docs/assets/guides/admin/06-limites.png
  tchalanet-docs/docs/assets/guides/admin/07-rapport-machann.png
  tchalanet-docs/docs/assets/guides/admin/09-vann-ak-machin-pos.png
  tchalanet-docs/docs/assets/guides/admin/10-fich-machann.png
  tchalanet-docs/docs/assets/guides/admin/11-reg-espesyal-machann.png
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/dialogs/create-seller-terminal.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/dialogs/create-seller-terminal.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/overrides/admin-seller-terminal-overrides.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/overrides/admin-seller-terminal-overrides.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): remove tenant wording from admin labels
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
Due: prettier --write

docs: clarify admin visual action flows
  output/pdf/guide-admin-configuration-tchalanet-draft.pdf
  output/pdf/guide-admin-operations-tchalanet-draft.pdf
  tchalanet-docs/docs/assets/guides/admin/04-jeux-baremes.png
  tchalanet-docs/docs/assets/guides/admin/05-maryaj-gratis.png
  tchalanet-docs/docs/assets/guides/admin/06a-bloquer-numero.png
  tchalanet-docs/docs/assets/guides/admin/06b-formulaire-bloquer-numero.png
  tchalanet-docs/docs/assets/guides/admin/07-rapport-machann.png
  tchalanet-docs/docs/assets/guides/admin/09-vann-ak-machin-pos.png
  tchalanet-web/apps/web-e2e/src/mobile/admin-guide-screenshots.spec.ts
Due: nx affected:lint --fix, prettier --write

docs: propose admin visual guide action flows
  tchalanet-docs/openspec/changes/admin-visual-guides-action-flows/proposal.md
  tchalanet-docs/openspec/changes/admin-visual-guides-action-flows/tasks.md
Due: prettier --write

docs: track admin and mobile ux backlog
  tchalanet-docs/docs/02-functional/guides/admin-ux-page-audit.md
  tchalanet-mobile/openspec/changes/mobile-ux-ergonomics-v1/proposal.md
  tchalanet-mobile/openspec/changes/mobile-ux-ergonomics-v1/tasks.md
  tchalanet-web/openspec/changes/admin-quick-actions-ux-v1/proposal.md
  tchalanet-web/openspec/changes/admin-quick-actions-ux-v1/tasks.md
Due: prettier --write

fix(mobile): improve seller terminal ergonomics
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/lib/features/notifications/presentation/views/notification_center_page.dart
  tchalanet-mobile/openspec/changes/mobile-ux-ergonomics-v1/tasks.md
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
Due: prettier --write

fix(mobile): complete seller terminal ux tasks
  tchalanet-mobile/assets/i18n/en/feature-auth.json
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-auth.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-auth.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/design_system/components/components.dart
  tchalanet-mobile/lib/design_system/components/logout_confirmation.dart
  tchalanet-mobile/lib/features/auth/presentation/view_models/forbidden_view_model.dart
  tchalanet-mobile/lib/features/auth/presentation/views/change_pin_page.dart
  tchalanet-mobile/lib/features/auth/presentation/views/forbidden_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/openspec/changes/mobile-ux-ergonomics-v1/tasks.md
  tchalanet-mobile/test/features/draw/seller_terminal_results_page_test.dart
Due: prettier --write

feat(admin): align admin navigation vocabulary
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.scss
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/proposal.md
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/specs/admin-navigation/spec.md
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
