Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

fix(web): use machann in Haitian seller copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-public.json
Due: prettier --write

fix(web): use POS terminal in Haitian seller copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-public.json
Due: prettier --write

fix(web): gate admin draw actions by permissions
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-result-access.ts
Due: nx affected:lint --fix, prettier --write

fix(mobile): show account menu from POS avatar
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
Due: prettier --write

feat(pos): add compact profile settings service
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/home/data/models/pos_profile_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/pos_profile_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/app/PosProfileService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileCommercialInfo.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileSellerInfo.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileSettingsInfo.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileTerminalInfo.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/web/PosProfileController.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/profile/app/PosProfileServiceTest.java
Due: prettier --write

feat(pos): add section profile patch commands
  tchalanet-mobile/lib/features/cashier/home/data/models/pos_profile_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/pos_profile_service.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/UpdateSellerTerminalCommercialCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/UpdateSellerTerminalContactCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/UpdateSellerTerminalLabelCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalCommercialCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalContactCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalLabelCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/domain/model/SellerTerminal.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/internal/domain/model/SellerTerminalSectionUpdateTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/app/PosProfileService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileSellerInfo.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/UpdatePosProfileCommercialRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/UpdatePosProfileSellerRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/UpdatePosProfileTerminalRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/web/PosProfileController.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/profile/app/PosProfileServiceTest.java
Due: none

feat(pos): persist terminal receipt notification settings
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/data/models/pos_profile_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/pos_profile_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V213__create_seller_terminal_settings.sql
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/app/PosProfileService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileNotificationSettings.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileReceiptSettings.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileSettingsInfo.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/UpdatePosProfileSettingsRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/web/PosProfileController.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/profile/app/PosProfileServiceTest.java
Due: prettier --write

fix(pos): apply terminal notification settings
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/notifications/presentation/view_models/notification_center_view_model.dart
  tchalanet-mobile/lib/features/notifications/presentation/views/notification_center_page.dart
Due: prettier --write

fix(web): remove duplicate admin settings nav
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

fix(web): separate tenant and account settings
  tchalanet-web/apps/admin-portal/src/app/app.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.ts
  tchalanet-web/libs/ui/console/src/lib/console-account/profile/pages/profile/profile.page.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

ci: enforce merge gate, pin actions to SHA, add SAST/image scanning
  .github/workflows/codeql.yml
  .github/workflows/deploy-infra-runtime.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/edge-pr.yml
  .github/workflows/full-validation.yml
  .github/workflows/mobile-pr.yml
  .github/workflows/reusable-staging-core-infra.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
  tchalanet-server/pmd/ruleset.xml
  tchalanet-server/pom.xml
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawTicketLifecycleSpringIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapperTest.java
Due: none

feat(mobile): staging distribution via Firebase App Distribution
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-mobile/android/app/build.gradle.kts
Due: none

fix(web): keep avatar menu profile-only
  tchalanet-web/apps/admin-portal/src/app/app.html
  tchalanet-web/apps/admin-portal/src/app/app.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/components/setup-checklist-card/setup-checklist-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.ts
  tchalanet-web/apps/platform-portal/src/app/app.html
  tchalanet-web/libs/ui/components/src/lib/user-menu/user-menu.ts
  tchalanet-web/libs/ui/console/src/lib/console-account/profile/pages/profile/profile.page.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.ts
Due: nx affected:lint --fix, prettier --write

docs(ci): document workflows + make distribution inputs configurable
  .github/workflows/README.md
  .github/workflows/mobile-distribute-staging.yml
Due: prettier --write

ci: enforce merge gate, pin actions to SHA, add SAST/image scanning (#374)
  .github/workflows/codeql.yml
  .github/workflows/deploy-infra-runtime.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/edge-pr.yml
  .github/workflows/full-validation.yml
  .github/workflows/mobile-pr.yml
  .github/workflows/reusable-staging-core-infra.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
  tchalanet-server/pmd/ruleset.xml
  tchalanet-server/pom.xml
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawTicketLifecycleSpringIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapperTest.java
Due: none

chore(infra): scrub committed staging secrets and guard signing material
  .gitignore
  tchalanet-infra/envs/common/edge-service copie.env
  tchalanet-infra/envs/staging/.env
Due: none

chore(infra): scrub committed staging secrets and guard signing material (#376)
  .gitignore
  tchalanet-infra/envs/common/edge-service copie.env
  tchalanet-infra/envs/staging/.env
Due: none

ci: run full-validation weekly instead of nightly
  .github/workflows/full-validation.yml
Due: none

ci: run full-validation weekly instead of nightly (#377)
  .github/workflows/full-validation.yml
Due: none

ci: add always-green gate jobs so PR checks can be required
  .github/workflows/edge-pr.yml
  .github/workflows/mobile-pr.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
Due: none

ci: add always-green gate jobs so PR checks can be required (#378)
  .github/workflows/edge-pr.yml
  .github/workflows/mobile-pr.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
Due: none

feat(mobile): staging distribution via Firebase App Distribution (#375)
  .github/workflows/README.md
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-mobile/android/app/build.gradle.kts
Due: prettier --write

test(mobile): fix stale cashier fixtures surfaced by the CI gate
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_success_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
Due: none

ci: move OWASP dependency-check from every server PR to weekly
  .github/workflows/full-validation.yml
  .github/workflows/server-pr.yml
Due: none

test(mobile): fix stale cashier fixtures surfaced by the CI gate (#381)
  .github/workflows/full-validation.yml
  .github/workflows/server-pr.yml
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_success_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
Due: none

fix(infra): downsize staging server to cx22
  tchalanet-infra/scripts/hcloud/03-create-server.sh
Due: none

fix(infra): keep cx23 (smallest tier), move staging to fsn1
  tchalanet-infra/scripts/hcloud/03-create-server.sh
Due: none

fix(web): align tenant setup copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: prettier --write

feat(pos): add compact profile settings service
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
Due: prettier --write

fix(i18n): limit lis santral copy to sidebar
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
Due: prettier --write

fix(web): keep avatar menu profile-only
  tchalanet-web/libs/ui/console/src/lib/console-account/profile/pages/profile/profile.page.html
Due: nx affected:lint --fix, prettier --write

fix(i18n): use lis santral in haitian creole
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
Due: prettier --write

fix(web): refine Haitian Creole translations
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
Due: prettier --write

fix(web): align admin drawer Haitian copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: prettier --write

fix(web): separate tenant and account settings
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/libs/ui/console/src/lib/console-account/profile/pages/profile/profile.page.html
Due: nx affected:lint --fix, prettier --write

feat(infra): run staging Postgres in a container instead of Neon
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

fix(web): align setup readiness and Haitian copy (#379)
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
Due: nx affected:lint --fix, prettier --write

ci: run scheduled validations weekly
  .github/workflows/README.md
  .github/workflows/codeql.yml
  .github/workflows/full-validation.yml
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-03-mobile-distribution.md
Due: prettier --write

fix(infra): downsize staging server to cx22 (#382)
  tchalanet-infra/scripts/hcloud/03-create-server.sh
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none
