Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

ci: move heavy validations to weekend (#383)
  .github/workflows/README.md
  .github/workflows/codeql.yml
  .github/workflows/full-validation.yml
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-03-mobile-distribution.md
Due: prettier --write

fix(infra): force-recreate staging postgres container on deploy
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

debug: log postgres secret shape (temporary)
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

chore(infra): remove temporary postgres secret debug logging
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

fix(infra): staging postgres in container (force-recreate + rotated Doppler token) (#384)
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
Due: none

feat(infra): enable staging draw schedulers for client demo
  tchalanet-infra/envs/staging/api.env
Due: none

feat(infra): enable staging draw schedulers for client demo (#385)
  tchalanet-infra/envs/staging/api.env
Due: none

fix(ci): scope mobile-distribute-staging.yml to the staging environment
  .github/workflows/mobile-distribute-staging.yml
Due: none

debug(ci): disable flutter SDK cache to rule out stale-cache v1-embedding false positive
  .github/workflows/mobile-distribute-staging.yml
Due: none

fix(ci): mobile-distribute-staging.yml can't see FIREBASE_ADMIN_JSON_BASE64 (#386)
  .github/workflows/mobile-distribute-staging.yml
Due: none

fix(mobile): commit missing Android source files, fix over-broad .gitignore
  .gitignore
  tchalanet-mobile/.gitignore
  tchalanet-mobile/android/app/src/debug/AndroidManifest.xml
  tchalanet-mobile/android/app/src/main/kotlin/com/tchalanet/mobile/MainActivity.kt
  tchalanet-mobile/android/app/src/main/res/raw/mkcert_ca.pem
  tchalanet-mobile/android/app/src/main/res/values-night/styles.xml
  tchalanet-mobile/android/app/src/main/res/values/styles.xml
  tchalanet-mobile/android/app/src/profile/AndroidManifest.xml
  tchalanet-mobile/android/build.gradle.kts
  tchalanet-mobile/android/gradle.properties
  tchalanet-mobile/android/gradle/wrapper/gradle-wrapper.jar
  tchalanet-mobile/android/gradle/wrapper/gradle-wrapper.properties
  tchalanet-mobile/android/gradlew
  tchalanet-mobile/android/gradlew.bat
Due: none

fix(mobile): commit missing Android source files, fix over-broad .gitignore (#387)
  .gitignore
  tchalanet-mobile/.gitignore
  tchalanet-mobile/android/app/src/debug/AndroidManifest.xml
  tchalanet-mobile/android/app/src/main/kotlin/com/tchalanet/mobile/MainActivity.kt
  tchalanet-mobile/android/app/src/main/res/raw/mkcert_ca.pem
  tchalanet-mobile/android/app/src/main/res/values-night/styles.xml
  tchalanet-mobile/android/app/src/main/res/values/styles.xml
  tchalanet-mobile/android/app/src/profile/AndroidManifest.xml
  tchalanet-mobile/android/build.gradle.kts
  tchalanet-mobile/android/gradle.properties
  tchalanet-mobile/android/gradle/wrapper/gradle-wrapper.jar
  tchalanet-mobile/android/gradle/wrapper/gradle-wrapper.properties
  tchalanet-mobile/android/gradlew
  tchalanet-mobile/android/gradlew.bat
Due: none

docs: add public validation portal
  .github/workflows/README.md
  .github/workflows/docs.yml
  tchalanet-docs/.gitignore
  tchalanet-docs/docs-public/_headers
  tchalanet-docs/docs-public/_redirects
  tchalanet-docs/docs-public/administrateurs/index.md
  tchalanet-docs/docs-public/avant-de-tester.md
  tchalanet-docs/docs-public/faq.md
  tchalanet-docs/docs-public/glossaire/index.md
  tchalanet-docs/docs-public/index.md
  tchalanet-docs/docs-public/parcours/preparer-un-santral.md
  tchalanet-docs/docs-public/parcours/vendre-un-ticket.md
  tchalanet-docs/docs-public/pos/index.md
  tchalanet-docs/docs-public/proprietaires/index.md
  tchalanet-docs/docs-public/stylesheets/public.css
  tchalanet-docs/docs-public/super-administrateurs/index.md
  tchalanet-docs/docs-public/tirages-resultats/jobs-tirages.md
  tchalanet-docs/docs-public/tirages-resultats/providers.md
  tchalanet-docs/docs-public/tirages-resultats/verifier-confirmer.md
  tchalanet-docs/docs-public/validation/acces-testeur.md
  tchalanet-docs/docs-public/validation/formulaire-resultat.md
  tchalanet-docs/docs-public/validation/scenarios-de-test.md
  tchalanet-docs/docs-public/validation/signaler-un-probleme.md
  tchalanet-docs/docs/02-functional/guides/admin-game-configuration.md
  tchalanet-docs/docs/02-functional/guides/operator-admin-guide.md
  tchalanet-docs/mkdocs.internal.yml
  tchalanet-docs/mkdocs.public.yml
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/proposal.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/specs/docs-portal-public-private/spec.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/tasks.md
  tchalanet-infra/docs/operations/runbooks/RB-05-docs-public-cloudflare-pages.md
Due: prettier --write

docs: add public validation portal (#388)
  .github/workflows/README.md
  .github/workflows/docs.yml
  tchalanet-docs/.gitignore
  tchalanet-docs/docs-public/_headers
  tchalanet-docs/docs-public/_redirects
  tchalanet-docs/docs-public/administrateurs/index.md
  tchalanet-docs/docs-public/avant-de-tester.md
  tchalanet-docs/docs-public/faq.md
  tchalanet-docs/docs-public/glossaire/index.md
  tchalanet-docs/docs-public/index.md
  tchalanet-docs/docs-public/parcours/preparer-un-santral.md
  tchalanet-docs/docs-public/parcours/vendre-un-ticket.md
  tchalanet-docs/docs-public/pos/index.md
  tchalanet-docs/docs-public/proprietaires/index.md
  tchalanet-docs/docs-public/stylesheets/public.css
  tchalanet-docs/docs-public/super-administrateurs/index.md
  tchalanet-docs/docs-public/tirages-resultats/jobs-tirages.md
  tchalanet-docs/docs-public/tirages-resultats/providers.md
  tchalanet-docs/docs-public/tirages-resultats/verifier-confirmer.md
  tchalanet-docs/docs-public/validation/acces-testeur.md
  tchalanet-docs/docs-public/validation/formulaire-resultat.md
  tchalanet-docs/docs-public/validation/scenarios-de-test.md
  tchalanet-docs/docs-public/validation/signaler-un-probleme.md
  tchalanet-docs/docs/02-functional/guides/admin-game-configuration.md
  tchalanet-docs/docs/02-functional/guides/operator-admin-guide.md
  tchalanet-docs/mkdocs.internal.yml
  tchalanet-docs/mkdocs.public.yml
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/proposal.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/specs/docs-portal-public-private/spec.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/tasks.md
  tchalanet-infra/docs/operations/runbooks/RB-05-docs-public-cloudflare-pages.md
Due: prettier --write

docs(openspec): plan Firebase professional account migration (stg + prd)
  openspec/changes/firebase-pro-account-migration-v1/proposal.md
  openspec/changes/firebase-pro-account-migration-v1/tasks.md
Due: prettier --write

docs(openspec): plan Firebase professional account migration (stg + prd) (#389)
  openspec/changes/firebase-pro-account-migration-v1/proposal.md
  openspec/changes/firebase-pro-account-migration-v1/tasks.md
Due: prettier --write

ci: deploy docs as cloudflare worker assets
  .github/workflows/README.md
  .github/workflows/docs.yml
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/proposal.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/specs/docs-portal-public-private/spec.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/tasks.md
  tchalanet-docs/wrangler.docs-public.toml
  tchalanet-infra/docs/operations/runbooks/RB-05-docs-public-cloudflare-pages.md
Due: prettier --write

ci: deploy docs as cloudflare worker assets (#390)
  .github/workflows/README.md
  .github/workflows/docs.yml
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/proposal.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/specs/docs-portal-public-private/spec.md
  tchalanet-docs/openspec/changes/docs-public-technical-portal-v1/tasks.md
  tchalanet-docs/wrangler.docs-public.toml
  tchalanet-infra/docs/operations/runbooks/RB-05-docs-public-cloudflare-pages.md
Due: prettier --write

docs: enable mermaid in public docs
  tchalanet-docs/mkdocs.public.yml
Due: none

docs: enable mermaid in public docs (#391)
  tchalanet-docs/mkdocs.public.yml
Due: none

fix(infra): force IPv4 outbound for staging API JVM
  tchalanet-infra/envs/staging/api.env
Due: none

fix(infra): force IPv4 outbound for staging API JVM (#392)
  tchalanet-infra/envs/staging/api.env
Due: none

feat(mobile): cut over to new Firebase project under professional account
  tchalanet-mobile/android/app/google-services.json
  tchalanet-mobile/firebase.json
  tchalanet-mobile/lib/firebase_options.dart
Due: prettier --write

fix(security): gitignore root-level JSON files (GCP service-account key incident)
  .gitignore
Due: none

feat(mobile): cut over to new Firebase project under professional account (#393)
  tchalanet-mobile/android/app/google-services.json
  tchalanet-mobile/firebase.json
  tchalanet-mobile/lib/firebase_options.dart
Due: prettier --write

fix(security): gitignore root-level JSON files (GCP service-account key incident) (#394)
  .gitignore
Due: none

fix(infra): point staging FIREBASE_PROJECT_ID at new pro-account project
  tchalanet-infra/envs/staging/api.env
Due: none

fix(infra): point staging FIREBASE_PROJECT_ID at new pro-account project (#395)
  tchalanet-infra/envs/staging/api.env
Due: none

feat(web): cut over to new Firebase project under professional account
  tchalanet-web/apps/admin-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/admin-portal/src/environments/environment.ts
  tchalanet-web/apps/platform-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/platform-portal/src/environments/environment.ts
  tchalanet-web/apps/public-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/public-portal/src/environments/environment.ts
Due: nx affected:lint --fix, prettier --write

feat(web): cut over to new Firebase project under professional account (#396)
  tchalanet-web/apps/admin-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/admin-portal/src/environments/environment.ts
  tchalanet-web/apps/platform-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/platform-portal/src/environments/environment.ts
  tchalanet-web/apps/public-portal/src/environments/environment.prod.ts
  tchalanet-web/apps/public-portal/src/environments/environment.ts
Due: nx affected:lint --fix, prettier --write

docs(openspec): mark Firebase migration Phase 1 (staging) complete
  openspec/changes/firebase-pro-account-migration-v1/tasks.md
Due: prettier --write

docs(openspec): mark Firebase migration Phase 1 (staging) complete (#397)
  openspec/changes/firebase-pro-account-migration-v1/tasks.md
Due: prettier --write

fix(server): add browser User-Agent to GA/NJ/CA/OH-auth lottery clients
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

fix(server): add browser User-Agent to GA/NJ/CA/OH-auth lottery clients
  .github/workflows/server-pr.yml
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

fix(server): add browser User-Agent to GA/NJ/CA/OH-auth lottery clients (#399)
  .github/workflows/server-pr.yml
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
Due: none

feat(infra): add Cloudflare Worker proxy for blocked lottery providers
  .github/workflows/deploy-lottery-proxy-worker.yml
  tchalanet-infra/cloudflare-worker-proxy/README.md
  tchalanet-infra/cloudflare-worker-proxy/src/index.js
  tchalanet-infra/cloudflare-worker-proxy/wrangler.toml
Due: prettier --write

feat(infra): add Cloudflare Worker proxy for blocked lottery providers (#401)
  .github/workflows/deploy-lottery-proxy-worker.yml
  tchalanet-infra/cloudflare-worker-proxy/README.md
  tchalanet-infra/cloudflare-worker-proxy/src/index.js
  tchalanet-infra/cloudflare-worker-proxy/wrangler.toml
Due: prettier --write

feat(server): route GA/NJ/PA/OH lottery fetches through Cloudflare Worker proxy
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryProperties.java
Due: none

style: spotless:apply
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryProperties.java
Due: none

feat(server): route GA/NJ/PA/OH lottery fetches through Cloudflare Worker proxy (#403)
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryProperties.java
Due: none
