Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

feat(web): clarify maryaj game sales settings
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): simplify maryaj game options editor
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): collapse maryaj payout rule editing
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): guard maryaj game editor cancel
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): cover maryaj attribution mode changes
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): cover maryaj offer resume
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

docs(web): record maryaj advanced settings decision
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/design.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: prettier --write

test(web): cover maryaj mobile offer editing
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.scss
  tchalanet-web/apps/web-e2e/src/mobile/admin-maryaj-gratis-configuration.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): align maryaj game dialog contract
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
Due: nx affected:lint --fix, prettier --write

feat(web): show maryaj offer lifecycle status
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(web): share game settings surface config
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(web): share tenant game settings adapter
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/data-access/tenant-game-settings-adapter.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/data-access/tenant-game-settings-adapter.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): share tenant game settings summary
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-settings-summary/tenant-game-settings-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-settings-summary/tenant-game-settings-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-settings-summary/tenant-game-settings-summary.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-settings-summary/tenant-game-settings-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): share tenant game settings editor
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/game-settings-editor/game-settings-editor.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/game-settings-editor/game-settings-editor.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/game-settings-editor/game-settings-editor.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/game-settings-editor/game-settings-editor.component.ts
Due: nx affected:lint --fix, prettier --write

feat(web): route tenant game settings editing
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/admin-games-pricing.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/data-access/games-admin-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

refactor(web): remove legacy game settings dialog
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/dialogs/game-settings.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/design.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/proposal.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): cover maryaj offer schedule editing
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): cover maryaj incomplete setup states
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse game card for maryaj display
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): hydrate game editor pricing groups
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.ts
Due: nx affected:lint --fix, prettier --write

spec(web): openspec admin-maryaj-gratis-ux-v2
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/follow-up-note-v1.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/proposal.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/tasks.md
Due: prettier --write

feat(web): add MaryajOfferCard stateless component
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.ts
Due: nx affected:lint --fix, prettier --write

chore(web): update openspec tasks for maryaj-gratis-ux-v2
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/tasks.md
Due: prettier --write

feat(web): add exceptional warnings to MaryajOfferCard
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): harden admin game editor coverage
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web): cover generation error state and confirmPauseOffer
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): adjust mobile layout for offer card actions and generation facts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-generation-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.scss
Due: prettier --write

feat(web): compact MaryajOfferCard + test hardening (#665)
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/settings/admin-game-settings.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-generation-panel.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-card/maryaj-offer-card.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/follow-up-note-v1.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/proposal.md
  tchalanet-web/openspec/changes/admin-maryaj-gratis-ux-v2/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): stack game card header identity and toggle at desktop
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.scss
Due: prettier --write

fix(web): expand maryaj gratis page to full width at desktop
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/tenant-game-card/tenant-game-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.scss
Due: prettier --write

fix(web): stack game card header identity and toggle at desktop (#666)
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.scss
Due: prettier --write

fix(pagemodel): set public.managers template isDefault=true
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/public.managers.template.json
Due: prettier --write

style: spotless apply on limit-policy refactor files
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/config/LimitPolicyDomainConfig.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/application/command/handler/assignment/UpsertLimitAssignmentCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/limitpolicy/internal/domain/engine/LimitEvaluationEngineTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/policies/TenantAdminPoliciesOverviewServiceTest.java
Due: none

feat(admin): redesign Kontwòl lavant limits management UX (admin-limits-ux-v1)
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/admin-limits.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/detail/admin-limits-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/detail/admin-limits-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/detail/admin-limits-detail.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/detail/admin-limits-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-limits-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(admin): derive rule labels and descriptions from i18n keys
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/detail/admin-limits-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(i18n): sync fr/en for admin-limits-ux-v1, fix non-creole labels in ht
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: prettier --write

refactor(admin-limits): mobile card layout + bug fixes from UX feedback
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.scss
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
