Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

Feat/admin params ux v1 (#670)
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.html
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/admin-setup.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-calendar-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-calendar-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-calendar-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-delivery-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-delivery-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-delivery-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-receipt-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-receipt-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-receipt-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-settings.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/settings-summary-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/settings-summary-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/settings-summary-card.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-params-ux-v1/spec.md
  tchalanet-web/openspec/changes/admin-params-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(admin): remove AdminConfigPage, refine params-overview UX
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/admin-setup.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/params-overview.utils.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/settings-summary-card.component.scss
  tchalanet-web/libs/ui/styles/src/lib/_material-overrides.scss
Due: nx affected:lint --fix, prettier --write

fix(e2e): sync web-e2e specs with current admin UI state
  tchalanet-web/apps/web-e2e/src/admin-portal/business-profile-error-feedback.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-limit-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/limit-policy-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/params-overview-navigation.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/seller-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/setup-quick-actions-access.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
Due: nx affected:lint --fix, prettier --write

fix(e2e): sync web-e2e specs with current admin UI state (#671)
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/admin-setup.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-params-overview.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-runtime.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/params-overview.utils.ts
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/settings-summary-card.component.scss
  tchalanet-web/apps/web-e2e/src/admin-portal/business-profile-error-feedback.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/draw-channels-limit-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/limit-policy-block.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/params-overview-navigation.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/seller-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/setup-quick-actions-access.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-draw-channels-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
  tchalanet-web/libs/ui/styles/src/lib/_material-overrides.scss
Due: nx affected:lint --fix, prettier --write

feat(infra): prod hardening — traefik dashboard, rate-limit, port lockdown
  tchalanet-infra/compose/docker-compose-prod-overrides.yml
  tchalanet-infra/docs/operations/runbooks/RB-07-mep.md
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
  tchalanet-infra/traefik/dynamic-src/common/02-middlewares.yaml
  tchalanet-infra/traefik/env/prod.yaml
Due: prettier --write

fix(web): avoid technical terminal i18n label
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
Due: prettier --write

fix: add diagnostics link to platform page model
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/superadmin/private_shell_superadmin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
Due: prettier --write

feat: improve client diagnostics and POS printing
  tchalanet-docs/docs-public/pos/index.md
  tchalanet-docs/docs-public/pos/printer-setup.md
  tchalanet-docs/docs/02-functional/domains/sales/print-ticket/03-terminal.md
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
  tchalanet-infra/traefik/dynamic-src/common/01-tls.yaml
  tchalanet-infra/traefik/dynamic-src/common/02-middlewares.yaml
  tchalanet-infra/traefik/dynamic/common/02-middlewares.yaml
  tchalanet-mobile/android/app/build.gradle.kts
  tchalanet-mobile/android/app/src/main/AndroidManifest.xml
  tchalanet-mobile/android/app/src/main/kotlin/com/tchalanet/mobile/MainActivity.kt
  tchalanet-mobile/android/app/src/main/res/xml/tchalanet_file_paths.xml
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_contracts.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/rawbt_printer.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/sunmi_internal_printer.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_delivery_test.dart
  tchalanet-mobile/test/features/cashier/tickets/printer_service_test.dart
  tchalanet-server/mvnw.cmd
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V228__fix_client_diagnostics_platform_rls.sql
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/clientdiagnostics/internal/persistence/ClientDiagnosticsJdbcRepository.java
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limits-section/admin-limits-section.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-client-diagnostics.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-client-diagnostics.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-client-diagnostics.page.ts
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
Due: nx affected:lint --fix, prettier --write

fix(mobile): remove unused RawBT import
  tchalanet-mobile/lib/features/cashier/tickets/printing/rawbt_printer.dart
Due: none

style(server): apply spotless formatting
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sellerterminal/internal/infra/web/admin/SellerTerminalAdminControllerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/sellerterminal/TenantAdminSellerTerminalDetailController.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/sellerterminal/TenantAdminSellerTerminalDetailControllerTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/clientdiagnostics/api/ClientDiagnosticsApi.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/clientdiagnostics/api/model/DeleteClientDiagnosticEventsRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/clientdiagnostics/internal/persistence/ClientDiagnosticsJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/clientdiagnostics/internal/web/PublicClientDiagnosticsController.java
Due: none

test(server): update seller terminal contract test
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/contract/AdminSellerTerminalPricingProblemContractTest.java
Due: none

chore(mobile): bump pub deps — minor/patch MEP-safe updates
  tchalanet-mobile/pubspec.yaml
Due: none

chore(server): bump Maven deps — patch/minor MEP-safe updates
  tchalanet-server/pom.xml
Due: none

chore(web): bump npm deps + pnpm 11.22 in CI workflows
  .github/workflows/full-validation.yml
  .github/workflows/web-pr.yml
  tchalanet-web/package.json
Due: prettier --write

chore(web): regenerate pnpm-lock.yaml after dep bumps
  tchalanet-web/pnpm-lock.yaml
Due: none

chore(mobile): target Flutter 3.47 + bump go_router/dio for compat
  .github/workflows/full-validation.yml
  .github/workflows/mobile-distribute-staging.yml
  .github/workflows/mobile-pr.yml
  tchalanet-mobile/pubspec.yaml
Due: none

fix(web): migrate ngx-translate v17→v18 API breaking changes
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-config-dialog/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/detail/admin-draw-channel-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/markdown/data-access/public-markdown-content.service.ts
  tchalanet-web/apps/public-portal/src/app/features/public/markdown/public-markdown.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/operators/public-operators.page.ts
Due: nx affected:lint --fix, prettier --write

fix(docs): upgrade mkdocs-material 9.6.22→9.7.7 to support pymdown-extensions 11.x
  tchalanet-docs/requirements.txt
Due: none

fix(docs): upgrade mkdocs-material 9.6.22→9.7.7 to support pymdown-extensions 11.x (#683)
  tchalanet-docs/requirements.txt
Due: none

fix: correct dep versions breaking CI — jackson 2.19.0, dio 5.11.0, go_router 17.5.0, ngx-translate v18 test API
  tchalanet-mobile/pubspec.yaml
  tchalanet-server/pom.xml
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.spec.ts
  tchalanet-web/libs/ui/components/src/lib/field-error/field-error.spec.ts
  tchalanet-web/libs/ui/components/src/lib/form-error-summary/form-error-summary.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(mobile): include Sunmi printer AIDL contracts
  .gitignore
  tchalanet-mobile/android/app/src/main/aidl/woyou/aidlservice/jiuiv5/ICallback.aidl
  tchalanet-mobile/android/app/src/main/aidl/woyou/aidlservice/jiuiv5/IWoyouService.aidl
Due: none

fix(mobile): include Sunmi printer AIDL contracts (#684)
  .gitignore
  tchalanet-mobile/android/app/src/main/aidl/woyou/aidlservice/jiuiv5/ICallback.aidl
  tchalanet-mobile/android/app/src/main/aidl/woyou/aidlservice/jiuiv5/IWoyouService.aidl
Due: none

fix(server): remove invalid com.fasterxml.jackson overrides — BOM gère le classpath
  tchalanet-server/pom.xml
Due: none

chore(mobile): bump connectivity_plus 7, flutter_secure_storage 11, permission_handler 13
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
Due: none

chore(mobile): bump flutter_blue_plus 1→2 + License.commercial sur connect()
  tchalanet-mobile/lib/features/cashier/tickets/printing/bluetooth_esc_pos_printer.dart
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
Due: none

fix(server): restore com.fasterxml.jackson 2.22.x overrides — versions réelles (annotations=2.22 sans patch)
  tchalanet-server/pom.xml
Due: none
