Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(admin): default the draws list to 20 rows per page, not 100
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

test(error-contract): assert promotion error code
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/infra/persistence/adapter/PromotionRuleWriteSupportTest.java
Due: none

fix(error-contract): cover draw results and ops batch
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandlerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/batch/OpsBatchService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/error/OpsErrorCodes.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/ops/batch/OpsBatchServiceErrorContractTest.java
Due: none

fix(error-contract): hide tenant admin settlement details
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/error/TenantAdminErrorCodes.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/tickets/AdminTicketSettlementService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/tickets/AdminTicketSettlementServiceTest.java
Due: none

refactor(web): consolidate page-size defaults onto one shared constant
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/admin-seller-terminals.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draws.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draws.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/tenant-admins/pages/list/platform-tenant-admins-global.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/tenants/pages/list/platform-tenants.page.ts
  tchalanet-web/libs/api/src/lib/contracts/api.types.ts
Due: nx affected:lint --fix, prettier --write

docs(web): OpenSpec change for the mobile draws card UX rework
  tchalanet-web/openspec/changes/web-console-draws-card-ux-v1/proposal.md
  tchalanet-web/openspec/changes/web-console-draws-card-ux-v1/specs/web-console-draws-card/spec.md
  tchalanet-web/openspec/changes/web-console-draws-card-ux-v1/tasks.md
Due: prettier --write

feat(web): rework the mobile draws card per web-console-draws-card-ux-v1
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.spec.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-identities.ts
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-view-models.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.models.ts
  tchalanet-web/openspec/changes/web-console-draws-card-ux-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): shared card menu, always-visible local time, checkbox on the left
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
  tchalanet-web/openspec/changes/web-console-draws-card-ux-v1/proposal.md
  tchalanet-web/openspec/changes/web-console-draws-card-ux-v1/specs/web-console-draws-card/spec.md
Due: nx affected:lint --fix, prettier --write

fix(web): disambiguate the two "Annuler" buttons, label the local time
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
Due: nx affected:lint --fix, prettier --write

fix(web): move the two new draws-card strings behind i18n keys
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.ts
Due: nx affected:lint --fix, prettier --write

fix(web): card menu icon confusable with checkbox, misaligned items
  tchalanet-web/libs/ui/styles/src/lib/_material-overrides.scss
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-labels.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
Due: nx affected:lint --fix, prettier --write

fix(admin): stop the seller-terminals KPI strip from stacking full-width on mobile
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.scss
Due: nx affected:lint --fix, prettier --write

fix(admin): same fix for the games-pricing setup summary KPI grid
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-setup-summary/games-setup-summary.component.scss
Due: prettier --write

fix(admin): fold the Tikè list filters behind the standard toggle
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): draws search field did nothing — backend has no q param
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): degrade games setup slices safely
  tchalanet-server/openspec/changes/tenant-games-setup-resilience-v1/proposal.md
  tchalanet-server/openspec/changes/tenant-games-setup-resilience-v1/tasks.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/error/TenantAdminErrorCodes.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/setup/TenantGamesPricingService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/setup/TenantGamesPricingServiceTest.java
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/data-access/admin-games-pricing-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/pages/overview/admin-games-pricing.page.ts
  tchalanet-web/openspec/changes/tenant-games-setup-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/tenant-games-setup-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): harden maryaj gratis setup
  tchalanet-web/apps/admin-portal/src/app/features/promotions/data-access/admin-promotions-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.store.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/maryaj-gratis-admin-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/maryaj-gratis-admin-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(admin): translate maryaj gratis panels
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-config-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-config-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/maryaj-gratis-admin-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): harden limits configuration
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limit-assignments-table/limit-assignments-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/limit-assignments-table/limit-assignments-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/draw/admin-limits-draw.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/draw/admin-limits-draw.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/global/admin-limits-global.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/global/admin-limits-global.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/overview/admin-limits-overview.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/seller-terminal/admin-limits-seller-terminal.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/seller-terminal/admin-limits-seller-terminal.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/shell/admin-limits-shell.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/shell/admin-limits-shell.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/system/admin-limits-system.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/system/admin-limits-system.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/limits-config-hardening-v1/proposal.md
  tchalanet-web/openspec/changes/limits-config-hardening-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): harden commission configuration
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/commission-admin-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/commission-admin-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): compact report toolbars on mobile, fix recurring focus-trap layout bug
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/draw-report-filter-bar/draw-report-filter-bar.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/seller-report-filter-bar/seller-report-filter-bar.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-report.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): harden subscription configuration
  tchalanet-web/apps/admin-portal/src/app/features/subscription/admin-subscription.page.html
  tchalanet-web/apps/admin-portal/src/app/features/subscription/admin-subscription.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/subscription/admin-subscription.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/subscription/dialogs/cancel-subscription.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/subscription/dialogs/cancel-subscription.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/subscription/dialogs/renew-subscription.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/subscription/dialogs/renew-subscription.dialog.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/subscription-admin-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/subscription-admin-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): harden draw channel configuration
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/dialogs/draw-channel-config.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/openspec/changes/draw-channels-admin-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/draw-channels-admin-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): preserve generated draw error feedback
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/openspec/changes/generated-draws-admin-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/generated-draws-admin-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): normalize financial report errors
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
  tchalanet-web/openspec/changes/financials-report-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/financials-report-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): normalize draw detail errors
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
  tchalanet-web/openspec/changes/draw-detail-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/draw-detail-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): normalize draw result detail errors
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.ts
  tchalanet-web/openspec/changes/draw-result-detail-resilience-v1/proposal.md
  tchalanet-web/openspec/changes/draw-result-detail-resilience-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): mobile-first 2-col grid for draw-channels summary
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channels-summary/draw-channels-summary.component.scss
Due: prettier --write

fix(admin): collapse filters by default + full-width draw result cards on mobile
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.ts
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.scss
Due: nx affected:lint --fix, prettier --write

docs: document cross-project error management
  openspec/changes/archive/2026-07-30-error-management-documentation-v1/proposal.md
  openspec/changes/archive/2026-07-30-error-management-documentation-v1/specs/error-management-documentation/spec.md
  openspec/changes/archive/2026-07-30-error-management-documentation-v1/tasks.md
  openspec/specs/error-management-documentation/spec.md
  tchalanet-mobile/docs/API_CONTRACT.md
  tchalanet-mobile/docs/conventions/README.md
  tchalanet-mobile/docs/conventions/error-management.md
  tchalanet-server/docs/README.md
  tchalanet-server/docs/conventions/api/web_api.md
  tchalanet-server/docs/conventions/error-management.md
  tchalanet-web/docs/conventions/README.md
  tchalanet-web/docs/conventions/error-management.md
Due: prettier --write

fix(web): dashboard mobile fixes — komisyon layout, broken route, hide empty analytics widgets
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/libs/page-model/src/lib/rendering/widget-host.component.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/commission-summary/commission-summary.widget.scss
Due: nx affected:lint --fix, prettier --write

fix(web): draws isEmpty uses raw API data; summary KPI uses period totals; fix sellers/new URL
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): draws KPI shows full-period totals; title reflects active status filter
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): filter draws by lifecycle status server-side
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): PAST filter means draw time is behind us
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
Due: nx affected:lint --fix, prettier --write

feat(draws): filter past draws server-side on the draw instant
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/contract/AdminDrawSearchParamBindingTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/query/DrawSearchCriteria.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/adapter/DrawSummaryPersistenceAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/DrawQueryAdminController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/model/DrawSearchRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
Due: nx affected:lint --fix, prettier --write

fix(web): resolve draw date filters on the tenant calendar, not UTC
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-dates.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): make draw result cards fill the container on mobile
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.scss
Due: prettier --write

fix(admin): commission summary in the aside rail; report KPI/table spacing
  .gitignore
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.scss
Due: nx affected:lint --fix, prettier --write

feat(ui/console): shared admin metric card + grid; fix Financials KPIs
  .gitignore
  tchalanet-web/apps/admin-portal/src/app/features/controls/admin-baremes.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
  tchalanet-web/libs/ui/console/src/index.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.html
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.scss
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-grid/admin-metric-grid.component.ts
Due: nx affected:lint --fix, prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
