Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(docs): refactor security, auth, and access control documentation
  openspec/changes/security-auth-accesscontrol-refactor/design.md
  openspec/changes/security-auth-accesscontrol-refactor/proposal.md
  openspec/changes/security-auth-accesscontrol-refactor/specs/security/spec.md
  openspec/changes/security-auth-accesscontrol-refactor/tasks.md
  openspec/context/90-security-flows-guide.md
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-docs/docs/01-architecture/flows/permission-flow.md
  tchalanet-docs/docs/02-functional/domains/index.md
  tchalanet-docs/docs/02-functional/domains/terminal.md
  tchalanet-docs/docs/02-functional/flows/sell-ticket.md
  tchalanet-docs/docs/02-functional/flows/verify-ticket.md
  tchalanet-server/docs/tenant-admin/FEATURE_TENANT_ADMIN_CONFIG.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/application/port/out/UserReaderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/infra/persistence/AppUserPersistenceAdapter.java
Due: prettier --write

feat(docs): refactor security, auth, and access control documentation (#60)
  openspec/changes/security-auth-accesscontrol-refactor/design.md
  openspec/changes/security-auth-accesscontrol-refactor/proposal.md
  openspec/changes/security-auth-accesscontrol-refactor/specs/security/spec.md
  openspec/changes/security-auth-accesscontrol-refactor/tasks.md
  openspec/context/90-security-flows-guide.md
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-docs/docs/01-architecture/flows/permission-flow.md
  tchalanet-docs/docs/02-functional/domains/index.md
  tchalanet-docs/docs/02-functional/domains/terminal.md
  tchalanet-docs/docs/02-functional/flows/sell-ticket.md
  tchalanet-docs/docs/02-functional/flows/verify-ticket.md
  tchalanet-server/docs/tenant-admin/FEATURE_TENANT_ADMIN_CONFIG.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/application/port/out/UserReaderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/user/infra/persistence/AppUserPersistenceAdapter.java
Due: prettier --write

feat(core.draw): improve scheduler safety and configurability
  openspec/changes/align-batch-draw-jobs/specs/batch-draw-scheduler-safety/spec.md
  tchalanet-docs/docs/02-functional/flows/draw-execution.md
  tchalanet-docs/mkdocs.yml
  tchalanet-server/docs/DRAW_PROVIDER_RESULTSLOT_MATRIX.md
  tchalanet-server/docs/audit/spec-batch-draw-alignment-2026-04-27.md
  tchalanet-server/docs/audit/spec-draw-provider-config-resultslot-2026-04-27.md
  tchalanet-server/src/main/java/com/tchalanet/server/catalog/drawchannel/DOMAIN_DRAWCHANNEL.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/batch/key/BatchJobKeys.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/draw/DrawResultsCommonProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/DOMAIN_DRAW.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/config/DrawProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/DrawProvisionalWatchdogScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/DrawSettleScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/ExternalResultsApplyTickScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/DOMAIN_DRAWRESULT.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/port/out/HaitiProjectionConfigPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/infra/persistence/adapter/DefaultHaitiProjectionConfigAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/infra/scheduler/ExternalResultsFetchTickScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/DOMAIN_USLOTTERY.md
  tchalanet-server/src/main/java/com/tchalanet/server/features/ops/infra/web/OpsBatchGateController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ops/infra/web/draws/DrawResultsOpsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/publicdraw/FEATURE_PUBLICDRAW.md
  tchalanet-server/src/main/resources/application-draw.yaml
  tchalanet-server/src/main/resources/application-staging.yaml
  tchalanet-server/src/main/resources/application.yaml
  tchalanet-server/src/main/resources/db/migration/V209__batch_grants.sql
  tchalanet-server/src/test/java/com/tchalanet/server/common/config/draw/DrawResultsCommonPropertiesBindingTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/draw/infra/event/DrawDomainEventListenerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/draw/infra/scheduler/DrawProvisionalWatchdogSchedulerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/drawresult/infra/persistence/adapter/DefaultHaitiProjectionConfigAdapterTest.java
Due: prettier --write

feat(core.draw): improve scheduler safety and configurability (#61)
  openspec/changes/align-batch-draw-jobs/specs/batch-draw-scheduler-safety/spec.md
  tchalanet-docs/docs/02-functional/flows/draw-execution.md
  tchalanet-docs/mkdocs.yml
  tchalanet-server/docs/DRAW_PROVIDER_RESULTSLOT_MATRIX.md
  tchalanet-server/docs/audit/spec-batch-draw-alignment-2026-04-27.md
  tchalanet-server/docs/audit/spec-draw-provider-config-resultslot-2026-04-27.md
  tchalanet-server/src/main/java/com/tchalanet/server/catalog/drawchannel/DOMAIN_DRAWCHANNEL.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/batch/key/BatchJobKeys.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/draw/DrawResultsCommonProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/DOMAIN_DRAW.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/config/DrawProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/DrawProvisionalWatchdogScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/DrawSettleScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/ExternalResultsApplyTickScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/DOMAIN_DRAWRESULT.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/port/out/HaitiProjectionConfigPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/infra/persistence/adapter/DefaultHaitiProjectionConfigAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/infra/scheduler/ExternalResultsFetchTickScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/DOMAIN_USLOTTERY.md
  tchalanet-server/src/main/java/com/tchalanet/server/features/ops/infra/web/OpsBatchGateController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ops/infra/web/draws/DrawResultsOpsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/publicdraw/FEATURE_PUBLICDRAW.md
  tchalanet-server/src/main/resources/application-draw.yaml
  tchalanet-server/src/main/resources/application-staging.yaml
  tchalanet-server/src/main/resources/application.yaml
  tchalanet-server/src/main/resources/db/migration/V209__batch_grants.sql
  tchalanet-server/src/test/java/com/tchalanet/server/common/config/draw/DrawResultsCommonPropertiesBindingTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/draw/infra/event/DrawDomainEventListenerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/draw/infra/scheduler/DrawProvisionalWatchdogSchedulerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/drawresult/infra/persistence/adapter/DefaultHaitiProjectionConfigAdapterTest.java
Due: prettier --write

chore(openspec): archive and clean up outdated feature change specs
  openspec/changes/align-batch-draw-jobs/tasks.md
  openspec/changes/align-draw-provider-config-resultslot/tasks.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/.openspec.yaml
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/design.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/proposal.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/specs/batch-draw-scheduler-safety/spec.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/tasks.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/.openspec.yaml
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/design.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/proposal.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/specs/draw-provider-config/spec.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/tasks.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/.openspec.yaml
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/design.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/proposal.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/specs/draw-execution-pipeline-hardening/spec.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/tasks.md
  openspec/changes/cleanup-feature-docs/.openspec.yaml
  openspec/changes/harden-draw-results-execution-pipeline/tasks.md
  openspec/specs/batch-draw-scheduler-safety/spec.md
  openspec/specs/draw-execution-pipeline-hardening/spec.md
  openspec/specs/draw-provider-config/spec.md
Due: prettier --write

chore(openspec): archive and clean up outdated feature change specs (#62)
  openspec/changes/align-batch-draw-jobs/tasks.md
  openspec/changes/align-draw-provider-config-resultslot/tasks.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/.openspec.yaml
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/design.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/proposal.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/specs/batch-draw-scheduler-safety/spec.md
  openspec/changes/archive/2026-04-29-align-batch-draw-jobs/tasks.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/.openspec.yaml
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/design.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/proposal.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/specs/draw-provider-config/spec.md
  openspec/changes/archive/2026-04-29-align-draw-provider-config-resultslot/tasks.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/.openspec.yaml
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/design.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/proposal.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/specs/draw-execution-pipeline-hardening/spec.md
  openspec/changes/archive/2026-04-29-harden-draw-results-execution-pipeline/tasks.md
  openspec/changes/cleanup-feature-docs/.openspec.yaml
  openspec/changes/harden-draw-results-execution-pipeline/tasks.md
  openspec/specs/batch-draw-scheduler-safety/spec.md
  openspec/specs/draw-execution-pipeline-hardening/spec.md
  openspec/specs/draw-provider-config/spec.md
Due: prettier --write

refactor(security): remove `@RequiresPermission` and align security implementation (#65)
  openspec/context/90-security-flows-guide.md
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-docs/docs/01-architecture/flows/permission-flow.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/SecurityConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/constant/ContextKeys.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/ApiScope.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/ApiScopeResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/TchContextFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/UserBootstrapFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/infra/security/RequiresPermissionAspect.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/infra/security/TchPermissionEvaluator.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/infra/web/AccessControlAdminController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/command/handler/SettleDrawsCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/web/TenantNotificationController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/payout/application/command/handler/MarkTicketPayoutPaidCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/payout/application/command/handler/MarkTicketPayoutPendingCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/OverrideTicketResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/infra/web/SalesSessionTotalsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/tenantgame/infra/web/TenantGameAdminController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/reporting/tenantkpis/GetTenantKpisController.java
  tchalanet-server/src/main/resources/application.yaml
  tchalanet-server/src/test/java/com/tchalanet/server/arch/SecurityArchTest.java
Due: prettier --write

refactor(security): remove `@RequiresPermission` and align security implementation (#65) (#66)
  openspec/context/90-security-flows-guide.md
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-docs/docs/01-architecture/flows/permission-flow.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/config/SecurityConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/constant/ContextKeys.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/ApiScope.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/ApiScopeResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/TchContextFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/UserBootstrapFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/infra/security/RequiresPermissionAspect.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/infra/security/TchPermissionEvaluator.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/infra/web/AccessControlAdminController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/command/handler/SettleDrawsCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/web/TenantNotificationController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/payout/application/command/handler/MarkTicketPayoutPaidCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/payout/application/command/handler/MarkTicketPayoutPendingCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/OverrideTicketResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/infra/web/SalesSessionTotalsController.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/tenantgame/infra/web/TenantGameAdminController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/reporting/tenantkpis/GetTenantKpisController.java
  tchalanet-server/src/main/resources/application.yaml
  tchalanet-server/src/test/java/com/tchalanet/server/arch/SecurityArchTest.java
Due: prettier --write

mobile(app): implement main app structure with routing and theming
  tchalanet-mobile/.fvmrc
  tchalanet-mobile/.gitignore
  tchalanet-mobile/.metadata
  tchalanet-mobile/CLAUDE.md
  tchalanet-mobile/README.md
  tchalanet-mobile/analysis_options.yaml
  tchalanet-mobile/lib/app/app.dart
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/app/app_theme.dart
  tchalanet-mobile/lib/core/config/app_config.dart
  tchalanet-mobile/lib/core/network/api_client.dart
  tchalanet-mobile/lib/core/network/api_exception.dart
  tchalanet-mobile/lib/core/network/auth_interceptor.dart
  tchalanet-mobile/lib/core/storage/secure_token_storage.dart
  tchalanet-mobile/lib/core/storage/token_storage.dart
  tchalanet-mobile/lib/features/auth/application/auth_controller.dart
  tchalanet-mobile/lib/features/auth/domain/auth_repository.dart
  tchalanet-mobile/lib/features/auth/domain/auth_session.dart
  tchalanet-mobile/lib/features/auth/domain/login_credentials.dart
  tchalanet-mobile/lib/features/auth/presentation/login_page.dart
  tchalanet-mobile/lib/main.dart
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
  tchalanet-mobile/test/widget_test.dart
Due: prettier --write

refactor(service): delete tchalanet-edge-service module and associated files (#67)
  openspec/archive/bootstrap-edge-service-fastify/README.md
  openspec/archive/bootstrap-edge-service-fastify/claude-prompt.md
  openspec/archive/bootstrap-edge-service-fastify/design.md
  openspec/archive/bootstrap-edge-service-fastify/proposal.md
  openspec/archive/bootstrap-edge-service-fastify/tasks.md
  tchalanet-edge-service/.claude/skills/communication-api/SKILL.md
  tchalanet-edge-service/.claude/skills/edge-service/SKILL.md
  tchalanet-edge-service/.claude/skills/rule-management/SKILL.md
  tchalanet-edge-service/.gitignore
  tchalanet-edge-service/CLAUDE.md
  tchalanet-edge-service/README.md
  tchalanet-edge-service/package-lock.json
  tchalanet-edge-service/package.json
  tchalanet-edge-service/rules/ticket.created.json
  tchalanet-edge-service/src/app.ts
  tchalanet-edge-service/src/channels/bird-sms.ts
  tchalanet-edge-service/src/channels/mailgun-email.ts
  tchalanet-edge-service/src/channels/web-message.ts
  tchalanet-edge-service/src/config/env.ts
  tchalanet-edge-service/src/core/communication-handler.ts
  tchalanet-edge-service/src/core/decision-types.ts
  tchalanet-edge-service/src/core/event-handler.ts
  tchalanet-edge-service/src/core/rule-engine.ts
  tchalanet-edge-service/src/core/template-engine.ts
  tchalanet-edge-service/src/index.ts
  tchalanet-edge-service/src/main.ts
  tchalanet-edge-service/src/modules/health/health.routes.ts
  tchalanet-edge-service/src/modules/ping/ping.routes.ts
  tchalanet-edge-service/src/routes/communications.ts
  tchalanet-edge-service/src/routes/events.ts
  tchalanet-edge-service/src/routes/health.ts
  tchalanet-edge-service/src/routes/preview.ts
  tchalanet-edge-service/src/routes/rules.ts
  tchalanet-edge-service/templates/email_ticket_created_fr.liquid
  tchalanet-edge-service/templates/sms_ticket_created_fr.liquid
  tchalanet-edge-service/templates/web_banner_winner_fr.liquid
  tchalanet-edge-service/tests/ping.test.ts
  tchalanet-edge-service/tsconfig.json
  tchalanet-server/src/main/java/com/tchalanet/server/features/reporting/outletperformance/OutletPerformanceReader.java
Due: nx affected:lint --fix, prettier --write

feat(notification): add Slack, Email, and SMS notification support via unified notification service
  openspec/archive/create-edge-communication-services/README.md
  openspec/archive/create-edge-communication-services/claude-prompt.md
  openspec/archive/create-edge-communication-services/design.md
  openspec/archive/create-edge-communication-services/proposal.md
  openspec/archive/create-edge-communication-services/tasks.md
  tchalanet-edge-service/.env.example
  tchalanet-edge-service/README.md
  tchalanet-edge-service/package-lock.json
  tchalanet-edge-service/package.json
  tchalanet-edge-service/src/app.ts
  tchalanet-edge-service/src/common/errors/app-error.ts
  tchalanet-edge-service/src/config/env.ts
  tchalanet-edge-service/src/modules/health/health.types.ts
  tchalanet-edge-service/src/modules/notifications/adapters/email/brevo-email-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/email/noop-email-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/slack/slack-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/sms/noop-sms-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/sms/twilio-sms-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/application/send-notification.service.ts
  tchalanet-edge-service/src/modules/notifications/domain/notification-channel.ts
  tchalanet-edge-service/src/modules/notifications/domain/notification-message.ts
  tchalanet-edge-service/src/modules/notifications/domain/notification-severity.ts
  tchalanet-edge-service/src/modules/notifications/http/notification.routes.ts
  tchalanet-edge-service/src/modules/notifications/http/notification.schemas.ts
  tchalanet-edge-service/src/modules/notifications/ports/notification-sender.port.ts
  tchalanet-edge-service/src/modules/ping/ping.types.ts
  tchalanet-edge-service/src/plugins/error-handler.plugin.ts
  tchalanet-edge-service/tests/notification.routes.test.ts
  tchalanet-edge-service/tests/notification.service.test.ts
Due: nx affected:lint --fix, prettier --write

chore(openspec): add project-local OpenSpec for tchalanet-docs and tchalanet-infra
  openspec/project.md
  tchalanet-docs/CLAUDE.md
  tchalanet-docs/openspec/archive/.gitkeep
  tchalanet-docs/openspec/changes/.gitkeep
  tchalanet-docs/openspec/project.md
  tchalanet-docs/openspec/specs/.gitkeep
  tchalanet-infra/CLAUDE.md
  tchalanet-infra/openspec/archive/.gitkeep
  tchalanet-infra/openspec/changes/.gitkeep
  tchalanet-infra/openspec/project.md
  tchalanet-infra/openspec/specs/.gitkeep
Due: prettier --write

feat(draw): add new draw request models and update existing structures for better handling
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/cache/DrawCacheEvictor.java
Due: none

docs(infra): add mobile Flutter distribution strategy v0
  tchalanet-infra/docs/mobile-distribution-v0.md
  tchalanet-infra/openspec/changes/mobile-flutter-distribution-v0/tasks.md
Due: prettier --write

feat(draw): add new draw request models and update existing structures for better handling
  apps/tchalanet-web/openspec/changes/restore-tchalanet-web-on-track/design.md
  apps/tchalanet-web/openspec/changes/restore-tchalanet-web-on-track/proposal.md
  apps/tchalanet-web/openspec/changes/restore-tchalanet-web-on-track/tasks.md
  tchalanet-edge-service/src/app.ts
  tchalanet-edge-service/src/modules/delivery/application/ticket-delivery.service.ts
  tchalanet-edge-service/src/modules/delivery/domain/delivery-request.ts
  tchalanet-edge-service/src/modules/delivery/http/delivery.routes.ts
  tchalanet-edge-service/src/modules/delivery/http/delivery.schemas.ts
  tchalanet-infra/openspec/changes/infra-git-workflows-light/design.md
  tchalanet-infra/openspec/changes/infra-git-workflows-light/proposal.md
  tchalanet-infra/openspec/changes/infra-git-workflows-light/specs/ci-cd/spec.md
  tchalanet-infra/openspec/changes/infra-git-workflows-light/tasks.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/design.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/proposal.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/specs/infra-local-server/spec.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/tasks.md
  tchalanet-infra/openspec/changes/mobile-flutter-distribution-v0/design.md
  tchalanet-infra/openspec/changes/mobile-flutter-distribution-v0/proposal.md
  tchalanet-infra/openspec/changes/mobile-flutter-distribution-v0/specs/mobile-distribution/spec.md
  tchalanet-infra/openspec/changes/mobile-flutter-distribution-v0/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(infra): implement infra-refactor-local-server-v0
  tchalanet-infra/Makefile
  tchalanet-infra/compose/docker-compose-redis.yml
  tchalanet-infra/docs/00-infra-charter.md
  tchalanet-infra/docs/reference/scripts-inventory.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/tasks.md
  tchalanet-infra/postgres/pg_hba.conf
  tchalanet-infra/postgres/postgresql.conf
  tchalanet-infra/scripts/docker/postgres-init.sh
  tchalanet-infra/scripts/hcloud/staging-create.sh
  tchalanet-infra/scripts/hcloud/staging-destroy.sh
  tchalanet-infra/scripts/keycloak/get-realm.sh
  tchalanet-infra/scripts/remote/staging-backup.sh
  tchalanet-infra/scripts/remote/staging-restore-latest.sh
  tchalanet-infra/scripts/utils/render-traefik-dynamic.sh
  tchalanet-infra/scripts/utils/smoke-staging.sh
  tchalanet-infra/traefik/dynamic-src/common/01-tls.yaml
  tchalanet-infra/traefik/dynamic-src/common/02-middlewares.yaml
  tchalanet-server/docs/EDGE-NOTIFICATION-CONFIG.md
  tchalanet-server/docs/NOTIFICATION-OPS-TEST.md
Due: prettier --write

feat(workflows): rename existing workflow files and add new staging deployment workflow
  .github/workflows/_archive/build-and-publish.yml
  .github/workflows/_archive/check-envs-pr.yml
  .github/workflows/_archive/deploy-prod.yml
  .github/workflows/_archive/infra.yml
  .github/workflows/_archive/publish-images.yml
  .github/workflows/_archive/realm-manage.yml
  .github/workflows/_archive/scan-security.yml
  .github/workflows/_archive/server_dev.yml
  .github/workflows/_archive/server_prod.yml
  .github/workflows/_archive/web.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/docs.yml
  .github/workflows/edge-pr.yml
  .github/workflows/infra-check.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
Due: none

feat(draw): add new draw request models and update existing structures for better handling
  openspec/changes/bootstrap-edge-service-fastify/README.md
  openspec/changes/bootstrap-edge-service-fastify/claude-prompt.md
  openspec/changes/bootstrap-edge-service-fastify/design.md
  openspec/changes/bootstrap-edge-service-fastify/proposal.md
  openspec/changes/bootstrap-edge-service-fastify/tasks.md
  openspec/changes/create-edge-communication-services/README.md
  openspec/changes/create-edge-communication-services/claude-prompt.md
  openspec/changes/create-edge-communication-services/design.md
  openspec/changes/create-edge-communication-services/proposal.md
  openspec/changes/create-edge-communication-services/tasks.md
  openspec/changes/reconfigure-openspec-per-project/design.md
  openspec/changes/reconfigure-openspec-per-project/proposal.md
  openspec/changes/reconfigure-openspec-per-project/tasks.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/ARCHITECTURE_REPORT.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/DOMAIN_DRAW.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/port/out/DrawReaderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/query/model/GetLatestDrawsWithResultsQuery.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/mapper/DrawMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/README.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/cache/01-cache.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/copilot-prompt.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/domain/01-domain.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/events-batch-scheduler/01-events.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/events-batch-scheduler/02-batch-and-schedulers.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/final-checklist.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/handlers/01-command-handlers.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/persistence/01-persistence-critical.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/ports/01-ports.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/queries/01-query-handlers-and-summary.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/tchalanet-draw-todos-copilot/web/01-web-and-api.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/SendNotificationHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/CancelSaleCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/command/handler/SellTicketCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/domain/service/TicketSaleFactory.java
Due: prettier --write

chore(openspec): archive infra-refactor-local-server-v0 and mobile-flutter-distribution-v0
  tchalanet-infra/openspec/changes/archive/2026-05-05-infra-refactor-local-server-v0/design.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-infra-refactor-local-server-v0/proposal.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-infra-refactor-local-server-v0/specs/infra-local-server/spec.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-infra-refactor-local-server-v0/tasks.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-mobile-flutter-distribution-v0/design.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-mobile-flutter-distribution-v0/proposal.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-mobile-flutter-distribution-v0/specs/mobile-distribution/spec.md
  tchalanet-infra/openspec/changes/archive/2026-05-05-mobile-flutter-distribution-v0/tasks.md
  tchalanet-infra/openspec/context/00-infra-charter.md
  tchalanet-infra/openspec/context/01-infra-decisions.md
  tchalanet-infra/openspec/context/02-claude-context.md
  tchalanet-infra/openspec/context/03-scan-checklist.md
  tchalanet-infra/openspec/context/README.md
  tchalanet-infra/openspec/specs/infra-local-server/spec.md
  tchalanet-infra/openspec/specs/mobile-distribution/spec.md
Due: prettier --write

fix(infra): apply context gaps + normalize compose network declarations
  tchalanet-infra/compose/README.md
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/compose/docker-compose-edge.yml
  tchalanet-infra/compose/docker-compose-postgres.yml
  tchalanet-infra/compose/docker-compose-redis.yml
  tchalanet-infra/compose/docker-compose-traefik.yml
  tchalanet-infra/compose/docker-compose-web.yml
  tchalanet-infra/openspec/context/02-claude-context.md
Due: prettier --write

fix(infra): fix API Docker startup — issuer, depends_on, extra_hosts, smoke
  tchalanet-infra/Makefile
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/compose/docker-compose.override.yml
  tchalanet-infra/envs/common/api.env
  tchalanet-infra/envs/dev/.env
Due: none

docs: archive docs inventory OpenSpec change
  build/docs-duplicates.md
  build/docs-inventory.json
  openspec/changes/archive/2026-05-05-audit-project-docs-and-mkdocs/design.md
  openspec/changes/archive/2026-05-05-audit-project-docs-and-mkdocs/proposal.md
  openspec/changes/archive/2026-05-05-audit-project-docs-and-mkdocs/specs/project-documentation/spec.md
  openspec/changes/archive/2026-05-05-audit-project-docs-and-mkdocs/tasks.md
  openspec/changes/audit-project-docs-and-mkdocs/tasks.md
  scripts/docs/inventory-docs.py
  tchalanet-docs/docs/00-guidelines/versions.md
  tchalanet-docs/docs/00-overview/architecture-map.md
  tchalanet-docs/docs/00-overview/glossary.md
  tchalanet-docs/docs/00-overview/product.md
  tchalanet-docs/docs/02-domains/index.md
  tchalanet-docs/docs/03-apps/edge.md
  tchalanet-docs/docs/03-apps/index.md
  tchalanet-docs/docs/03-apps/infra.md
  tchalanet-docs/docs/03-apps/mobile.md
  tchalanet-docs/docs/03-apps/server.md
  tchalanet-docs/docs/03-apps/web.md
  tchalanet-docs/docs/04-operations/index.md
  tchalanet-docs/docs/05-decisions/adr-index.md
  tchalanet-docs/docs/05-decisions/index.md
  tchalanet-docs/docs/06-openspec/active-changes.md
  tchalanet-docs/docs/06-openspec/archive-policy.md
  tchalanet-docs/docs/06-openspec/context-packs.md
  tchalanet-docs/docs/06-openspec/index.md
  tchalanet-docs/docs/99-links/backend.md
  tchalanet-docs/docs/99-links/edge.md
  tchalanet-docs/docs/99-links/infra.md
  tchalanet-docs/docs/99-links/mobile.md
  tchalanet-docs/docs/99-links/web.md
  tchalanet-docs/docs/99-reference/docs-cleanup-plan.md
  tchalanet-docs/docs/99-reference/docs-duplicates.md
  tchalanet-docs/docs/99-reference/docs-inventory.md
  tchalanet-docs/docs/99-reference/index.md
  tchalanet-docs/docs/99-reference/links-to-component-docs.md
  tchalanet-docs/docs/99-reference/mkdocs-nav-plan.md
  tchalanet-docs/docs/index.md
  tchalanet-docs/mkdocs.yml
Due: prettier --write

fix(infra): override Spring JWT issuer-uri and jwk-set-uri per environment
  tchalanet-infra/envs/dev/.env
  tchalanet-infra/envs/staging/api.env
Due: none
