Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(cache): normalize null JsonNode to empty object in cached views
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/GameSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/pagemodeltemplate/api/model/PageModelTemplateView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/plan/api/PlanView.java
Due: none

fix(cache): normalize null JsonNode in remaining cached views + audit note
  tchalanet-server/docs/conventions/cache-strategy-review.md
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/api/ResultSlotView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/theme/api/ThemePresetView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/query/view/DrawResultView.java
Due: prettier --write

docs(cache): mark JsonNode task resolved via null-normalization
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
Due: prettier --write

refactor(json): centralize empty JSON node via static JsonUtils.emptyObject()
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/GameSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelGameAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/pagemodeltemplate/api/model/PageModelTemplateView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/plan/api/PlanView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/plan/internal/mapper/PlanMapper.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/api/ResultSlotView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/theme/api/ThemePresetView.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/json/utils/JsonUtils.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/query/view/DrawResultView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/OverrideDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssembler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/HaitiProjectionService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/persistence/PublicDrawResultSlotReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/util/SourceResultBuilder.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/ResetPageModelCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/persistence/PageModelMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/web/PageModelAdminController.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssemblerTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/service/RequestHasher.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenant/internal/service/TenantConfigService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/tenant/internal/service/TenantConfigServiceTest.java
Due: none

refactor(json): replace ObjectMapper usages with the shared JsonUtils
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/service/LimitRuleCatalogLoader.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/JwtExpiryExtractor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioTokenProviderImpl.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/io/JsonlGzReader.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/io/JsonlGzWriter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRestoreService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunExecutor.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseEmulatorJwtDecoderConfig.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunExecutorTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseEmulatorJwtDecoderConfigTest.java
Due: none

refactor(json): centralize JsonNode normalization (#236)
  tchalanet-server/docs/conventions/cache-strategy-review.md
  tchalanet-server/openspec/changes/cache-strategy-hardening-v1/tasks.md
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/GameSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelGameAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/pagemodeltemplate/api/model/PageModelTemplateView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/plan/api/PlanView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/plan/internal/mapper/PlanMapper.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/api/ResultSlotView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/theme/api/ThemePresetView.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/json/utils/JsonUtils.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/query/view/DrawResultView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/OverrideDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssembler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/HaitiProjectionService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/persistence/PublicDrawResultSlotReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/util/SourceResultBuilder.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/service/LimitRuleCatalogLoader.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/ResetPageModelCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/persistence/PageModelMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/web/PageModelAdminController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/JwtExpiryExtractor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioTokenProviderImpl.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssemblerTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/io/JsonlGzReader.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/io/JsonlGzWriter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRestoreService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunExecutor.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/service/RequestHasher.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseEmulatorJwtDecoderConfig.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/tenant/internal/service/TenantConfigService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunExecutorTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseEmulatorJwtDecoderConfigTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/tenant/internal/service/TenantConfigServiceTest.java
Due: prettier --write

docs(server): plan spring integration business flows
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/design.md
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/proposal.md
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/specs/business-runtime-integration/spec.md
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/tasks.md
Due: prettier --write

test(server): add business runtime integration harness
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/tasks.md
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/BusinessRuntimeIntegrationTestBase.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawSellabilitySpringIntegrationTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/platform/identity/internal/handoff/ProviderSessionTokenIssuerIntegrationTestConfig.java
Due: prettier --write

test(server): cover limits and maryaj gratis sales
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/tasks.md
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/SalesPolicyPromotionSpringIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SalePreparationOrchestrator.java
Due: prettier --write

feat(admin-limits): limits ergonomics UX + draw channel summary id
  tchalanet-server/openspec/changes/admin-limits-ergonomics-v1/proposal.md
  tchalanet-server/openspec/changes/admin-limits-ergonomics-v1/specs/tenant-admin-policies/spec.md
  tchalanet-server/openspec/changes/admin-limits-ergonomics-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/limitpolicy/rules.v1.json
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/model/DrawChannelSummaryView.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/draw-admin.api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/data-access/admin-limits.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/draw/admin-limits-draw.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/draw/admin-limits-draw.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/seller-terminal/admin-limits-seller-terminal.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/seller-terminal/admin-limits-seller-terminal.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/system/admin-limits-system.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/system/admin-limits-system.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/system/admin-limits-system.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: nx affected:lint --fix, prettier --write

docs(testing): align locust perf spec with maryaj/limits changes
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/design.md
Due: prettier --write

docs(testing): openspec for Locust perf + e2e load testing (perf-load-testing-locust-v1)
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/design.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/proposal.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/specs/perf-load-testing/spec.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/tasks.md
Due: prettier --write

docs(testing): adopt detailed locust task breakdown + metrics visualization (Web UI / Grafana)
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/design.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/specs/perf-load-testing/spec.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/tasks.md
Due: prettier --write

docs(testing): operation web page (Locust class-picker + custom input fields), not Grafana
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/design.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/specs/perf-load-testing/spec.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/tasks.md
Due: prettier --write

feat(testing): Locust load harness v1 — cashier sell/read reusing tch_e2e
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/tasks.md
  tchalanet-server/testing/e2e/loadtest/README.md
  tchalanet-server/testing/e2e/loadtest/__init__.py
  tchalanet-server/testing/e2e/loadtest/basket.py
  tchalanet-server/testing/e2e/loadtest/bootstrap.py
  tchalanet-server/testing/e2e/loadtest/client.py
  tchalanet-server/testing/e2e/loadtest/locustfile.py
  tchalanet-server/testing/e2e/loadtest/safety.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/pyproject.toml
Due: prettier --write

test(e2e): SellerTerminal admin lifecycle (create/get/list/summary/block/unblock)
  tchalanet-server/testing/e2e/pytest.ini
  tchalanet-server/testing/e2e/tests/seller_terminal/__init__.py
  tchalanet-server/testing/e2e/tests/seller_terminal/test_seller_terminal.py
Due: none

test(e2e): SellerTerminal tests run under local-jwt
  tchalanet-server/testing/e2e/tch_e2e/client.py
  tchalanet-server/testing/e2e/tests/seller_terminal/test_seller_terminal.py
Due: none

fix(identity): always register a fallback ProviderSessionTokenIssuer
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/handoff/FirebaseProviderSessionTokenIssuer.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/handoff/UnsupportedProviderSessionTokenIssuer.java
Due: none

docs(e2e): add current status & progress section (SellerTerminal model, Firebase-only)
  tchalanet-server/testing/e2e/README.md
Due: prettier --write

test(e2e): firebase-emulator provider + full provision→sell flow
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/pytest.ini
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tch_e2e/client.py
  tchalanet-server/testing/e2e/tests/full_flow/__init__.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
Due: prettier --write

docs(testing): OpenSpec — Locust perf + e2e load testing (5–10 ticket sell) (#237)
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/design.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/proposal.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/specs/perf-load-testing/spec.md
  tchalanet-server/openspec/changes/perf-load-testing-locust-v1/tasks.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/handoff/FirebaseProviderSessionTokenIssuer.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/handoff/UnsupportedProviderSessionTokenIssuer.java
  tchalanet-server/testing/e2e/README.md
  tchalanet-server/testing/e2e/loadtest/README.md
  tchalanet-server/testing/e2e/loadtest/__init__.py
  tchalanet-server/testing/e2e/loadtest/basket.py
  tchalanet-server/testing/e2e/loadtest/bootstrap.py
  tchalanet-server/testing/e2e/loadtest/client.py
  tchalanet-server/testing/e2e/loadtest/locustfile.py
  tchalanet-server/testing/e2e/loadtest/safety.py
  tchalanet-server/testing/e2e/loadtest/users.py
  tchalanet-server/testing/e2e/pyproject.toml
  tchalanet-server/testing/e2e/pytest.ini
  tchalanet-server/testing/e2e/scripts_flow/full_flow_driver.py
  tchalanet-server/testing/e2e/tch_e2e/auth.py
  tchalanet-server/testing/e2e/tch_e2e/client.py
  tchalanet-server/testing/e2e/tests/full_flow/__init__.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-server/testing/e2e/tests/seller_terminal/__init__.py
  tchalanet-server/testing/e2e/tests/seller_terminal/test_seller_terminal.py
Due: prettier --write

chore(web): hide generic promotions navigation
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

chore(web): link admin help to user guide
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

refactor(reports): consolidate financial reporting
  openspec/changes/admin-reports-financials-consolidation-v1/proposal.md
  openspec/changes/admin-reports-financials-consolidation-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/event/DrawCancelledEvent.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/event/DrawResultAppliedEvent.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/DOMAIN_SALES.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/reporting/FEATURE_REPORTING.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/reporting/financials/TenantAdminFinancialsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/stats/FEATURE_STATS.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/FEATURE_TENANTADMIN.md
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/data-access/admin-financials-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/data-access/admin-financials-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/data-access/admin-tickets-overview-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
Due: nx affected:lint --fix, prettier --write

feat(sales): align POS sale with tenant game config
  openspec/changes/sales-realized-gains-v0/proposal.md
  openspec/changes/sales-realized-gains-v0/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptGameLinesFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SalePreparationOrchestrator.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/FEATURE_POS.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/MOBILE_FLOW.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/mapper/PosTicketMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosSellTicketRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosSellTicketResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketDetailsResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketPreviewRequest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketPreviewResponse.java
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/data-access/admin-tickets-api.service.ts
Due: nx affected:lint --fix, prettier --write

feat(sales): plan implicit POS coverages
  openspec/changes/sales-realized-gains-v0/proposal.md
  openspec/changes/sales-realized-gains-v0/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/TicketLineCoveragePlanner.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/TicketLinePreparationService.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/TicketLinePreparationServiceTest.java
Due: prettier --write

feat(limitpolicy): remove payout exposure limits
  tchalanet-server/openspec/changes/admin-limits-ergonomics-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V221__drop_limitpolicy_payout_exposure.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/SalesPolicyPromotionSpringIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/DOMAIN_LIMITPOLICY.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/api/RuleKey.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/api/model/LimitContext.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/api/model/LimitLineContext.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/api/query/ExposureAlertItemView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/port/out/exposure/ExposureAlertsReaderPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/application/query/handler/exposure/GetExposureAlertsOverviewQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/domain/model/LimitFactsSnapshot.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxSettlementPayoutExposurePerSelectionPerDrawEvaluator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxSettlementPayoutPerLineEvaluator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/domain/rule/MaxSettlementPayoutPerTicketEvaluator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/config/LimitPolicyDomainConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/DrawExposureJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/DrawExposureJpaRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureAlertsReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureFactsReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/limitpolicy/internal/infra/persistence/exposure/adapter/ExposureProjectorAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/SalePreparationOrchestrator.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/platformadmin/tenantonboarding/TenantProvisioningOrchestrator.java
  tchalanet-web/libs/web/console/src/lib/domain/console-domain-types.ts
Due: nx affected:lint --fix, prettier --write

feat(receipt): finalize tenant thermal print layout
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V222__finalize_receipt_thermal_labels.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/DOMAIN_SALES.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/print/TicketPrintLine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/print/TicketPrintLineCoverage.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/receipt/TicketReceiptI18nKeys.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/receipt/TicketReceiptLineView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/receipt/TicketReceiptPrintContent.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptAssembler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptBrandingFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptGameLinesFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptLabelResolver.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketPrintViewMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptAssemblerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatterTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptGameLinesFormatterTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/infra/persistence/adapter/TicketPrintProjectionReaderAdapterTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/mapper/TicketPrintDocumentMapper.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/tickets/AdminTicketSettlementServiceTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/document/api/model/ReceiptDocumentContent.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/document/internal/pdf/ReceiptPdfRenderer.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/document/internal/render/EscPosDocumentRenderer.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/document/internal/render/PdfDocumentRenderer.java
Due: prettier --write

test(settlement): cover draw result settlement flow
  tchalanet-server/openspec/changes/v0-pricing-settlement-snapshot-flow/design.md
  tchalanet-server/openspec/changes/v0-pricing-settlement-snapshot-flow/proposal.md
  tchalanet-server/openspec/changes/v0-pricing-settlement-snapshot-flow/tasks.md
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/command/handler/ApplyExternalResultsWindowCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/result/RecordDrawTicketsResultCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/result/TicketWinningCalculatorTest.java
Due: prettier --write

docs(spec): account for promotion terminal overrides
  tchalanet-server/openspec/changes/v0-pricing-settlement-snapshot-flow/design.md
  tchalanet-server/openspec/changes/v0-pricing-settlement-snapshot-flow/tasks.md
Due: prettier --write

fix(server): align ticket receipt print branding
  tchalanet-server/docs/conventions/persistence/sensitive_jpa_updates.md
  tchalanet-server/openspec/changes/v0-pricing-settlement-snapshot-flow/tasks.md
  tchalanet-server/openspec/specs/sales-receipt-print/spec.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V108__create_read_views.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V216__use_tenant_display_name_in_ticket_print_view.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__use_tenant_default_locale_in_ticket_print_view.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V220__drop_sales_ticket_potential_payout.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/print/TicketPrintBranding.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/receipt/TicketReceiptView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptAssembler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketPrintViewMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/view/TicketPrintHeaderViewEntity.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptAssemblerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatterTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptDrawIdentityFormatterTest.java
Due: prettier --write

test(server): cover maryaj gratis pricing snapshots
  tchalanet-server/openspec/changes/spring-integration-business-flows-v1/tasks.md
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/SalesPolicyPromotionSpringIntegrationTest.java
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
