Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

refactor(ui): move metric card styling into libs/ui/styles
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
  tchalanet-web/libs/ui/console/src/index.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.html
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.scss
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-grid/admin-metric-grid.component.ts
  tchalanet-web/libs/ui/styles/src/lib/_index.scss
  tchalanet-web/libs/ui/styles/src/lib/_metrics.scss
Due: nx affected:lint --fix, prettier --write

refactor(web): migrate every admin KPI to the shared metric card
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channels-summary/draw-channels-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channels-summary/draw-channels-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channels-summary/draw-channels-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-pricing-summary/games-pricing-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-pricing-summary/games-pricing-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-pricing-summary/games-pricing-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-setup-summary/games-setup-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-setup-summary/games-setup-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-setup-summary/games-setup-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/report-metric-card/report-metric-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/report-metric-card/report-metric-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/report-metric-card/report-metric-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/report/report.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/report/report.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/settings/platform-catalog-settings.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/settings/platform-catalog-settings.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/settings/platform-catalog-settings.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/translations/platform-catalog-i18n-overrides.page.html
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/translations/platform-catalog-i18n-overrides.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/catalog/pages/translations/platform-catalog-i18n-overrides.page.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.html
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.ts
  tchalanet-web/libs/ui/styles/src/lib/_metrics.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/commission-summary/commission-summary.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/commission-summary/commission-summary.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/commission-summary/commission-summary.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(ui): stop metric tiles overflowing their grid row; restore lost spacing
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channels-summary/draw-channels-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/games-pricing/components/games-setup-summary/games-setup-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.scss
  tchalanet-web/libs/ui/styles/src/lib/_metrics.scss
Due: nx affected:lint --fix, prettier --write

feat(ui/styles): responsive data table; fix Financials layout and draw identity
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.scss
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.scss
  tchalanet-web/libs/ui/styles/src/lib/_data-table.scss
  tchalanet-web/libs/ui/styles/src/lib/_index.scss
  tchalanet-web/libs/ui/styles/src/lib/_tools.scss
Due: nx affected:lint --fix, prettier --write

fix(admin): give the report and baremes pages the standard page gutter
  tchalanet-web/apps/admin-portal/src/app/features/controls/admin-baremes.page.html
  tchalanet-web/apps/admin-portal/src/app/features/controls/admin-baremes.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
Due: nx affected:lint --fix, prettier --write

fix(reports): resolve draw identity instead of printing a raw uuid
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/reporting/financials/FinancialDrawIdentityEnricher.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/reporting/financials/TenantAdminFinancialsController.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/reporting/financials/FinancialDrawIdentityEnricherTest.java
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/data-access/admin-financials-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets-overview/admin-tickets-overview.page.ts
Due: nx affected:lint --fix, prettier --write

fix(analytics): stop seeding a draw row for a draw with no sales
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsDrawProjector.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsDrawProjectorTest.java
Due: none

fix(reports): keep the daily sales KPIs when there are no sales
  tchalanet-web/apps/admin-portal/src/app/features/reports/admin-today-report.page.html
Due: nx affected:lint --fix, prettier --write

fix(admin): commission summary uses the shared identity card; dashboard hides widget errors
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.html
  tchalanet-web/libs/page-model/src/lib/rendering/page-model.component.ts
  tchalanet-web/libs/page-model/src/lib/rendering/widget-host.component.spec.ts
  tchalanet-web/libs/page-model/src/lib/rendering/widget-host.component.ts
Due: nx affected:lint --fix, prettier --write

fix(reports): align numeric columns and render channel codes as labels
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/financials/admin-financials.page.ts
  tchalanet-web/libs/ui/styles/src/lib/_data-table.scss
Due: nx affected:lint --fix, prettier --write

fix(page-model): collapse columns emptied by a hidden widget
  tchalanet-web/libs/page-model/src/lib/rendering/page-model.component.spec.ts
  tchalanet-web/libs/page-model/src/lib/rendering/page-model.component.ts
Due: nx affected:lint --fix, prettier --write

feat(platform): migrate the ops overview metrics to the shared KPI card
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops.page.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.html
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-metric-card/admin-metric-card.component.ts
  tchalanet-web/libs/ui/styles/src/lib/_metrics.scss
Due: nx affected:lint --fix, prettier --write

fix(dashboard): put quick actions above the analytics, and fix two dead links
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
Due: prettier --write

fix(dashboard): quick actions built on what admins actually open
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
Due: prettier --write

test(web): stabilize browser e2e flows
  tchalanet-web/apps/web-e2e/src/admin-portal/sidenav-desktop.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase3.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/private-shell.page.ts
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

fix(web): make admin POS sale usable on mobile
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.scss
  tchalanet-web/apps/web-e2e/src/mobile/admin-pos-sale.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

test(web): cover admin error management flows
  tchalanet-web/apps/web-e2e/src/admin-portal/error-management.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

feat(web): standardize admin feedback focus
  tchalanet-web/apps/admin-portal/src/app/features/appearance/admin-appearance.page.html
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.html
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/business-profile/pages/overview/admin-business-profile.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/admin-seller-terminals.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/subscription/admin-subscription.page.html
  tchalanet-web/apps/admin-portal/src/app/features/support/pages/admin-support.page.html
  tchalanet-web/apps/web-e2e/src/admin-portal/business-profile-error-feedback.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/docs/conventions/error-management.md
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/ui/components/src/index.ts
  tchalanet-web/libs/ui/components/src/lib/error-panel/error-panel.spec.ts
  tchalanet-web/libs/ui/components/src/lib/error-panel/error-panel.ts
  tchalanet-web/libs/ui/components/src/lib/feedback-focus/feedback-focus.directive.spec.ts
  tchalanet-web/libs/ui/components/src/lib/feedback-focus/feedback-focus.directive.ts
  tchalanet-web/libs/ui/components/src/lib/field-error/field-error.spec.ts
  tchalanet-web/libs/ui/components/src/lib/field-error/field-error.ts
  tchalanet-web/libs/ui/components/src/lib/form-error-summary/form-error-summary.ts
  tchalanet-web/libs/ui/components/src/lib/notice/notice.ts
  tchalanet-web/libs/ui/components/src/lib/page-error/page-error.ts
  tchalanet-web/openspec/changes/web-feedback-focus-standard-v1/design.md
  tchalanet-web/openspec/changes/web-feedback-focus-standard-v1/proposal.md
  tchalanet-web/openspec/changes/web-feedback-focus-standard-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): clarify mobile POS sale inputs
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.scss
  tchalanet-web/apps/web-e2e/src/mobile/admin-pos-sale.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(dashboard): sync tenant admin quick actions
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-web/libs/shared-assets/public/assets/config/page-private-fallback.json
Due: prettier --write

test(web): cover error recovery and degraded notices
  tchalanet-web/apps/web-e2e/src/admin-portal/business-profile-error-feedback.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/error-management.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

fix(analytics): process post-sale events after commit
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/event/AnalyticsEventListener.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/analytics/internal/infra/event/AnalyticsEventListenerTest.java
Due: none

fix(events): apply tenant scope for global idempotency markers
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/persistence/ProcessedEventJdbcAdapter.java
Due: none

fix(analytics): distinguish empty dates from missing projections
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/proposal.md
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/query/handler/GetAnalyticsTrustStateQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/query/GetSalesAnalyticsActivityDatesQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/port/out/SalesAnalyticsActivityReaderPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/query/handler/GetSalesAnalyticsActivityDatesQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/adapter/SalesAnalyticsActivityReaderAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/repository/TicketJpaRepository.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/analytics/internal/application/query/handler/GetAnalyticsTrustStateQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/infra/persistence/adapter/SalesAnalyticsActivityReaderAdapterTest.java
Due: prettier --write

fix(events): make after-commit projections atomic
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/proposal.md
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsDrawProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsSellerTerminalDrawProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/event/AnalyticsEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsDailyRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSelectionRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/event/DrawEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/event/DrawResultEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/event/DrawResultAppliedSalesEventListener.java
Due: prettier --write

feat(dashboard): refactor tenant admin operational dashboard
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/api/dynamic/PageModelResolutionContext.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dashboard/DashboardPageModelService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dashboard/DashboardPeriod.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dashboard/TenantPageModelController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/PageModelDynamicResolver.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardProvider.java
  tchalanet-web/libs/shared-assets/public/assets/config/page-private-fallback.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/widgets/src/lib/widget-registry.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/kpi-grid/kpi-grid.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/kpi-grid/kpi-grid.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/kpi-grid/kpi-grid.widget.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/terminal-performance/terminal-performance.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/terminal-performance/terminal-performance.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/terminal-performance/terminal-performance.widget.ts
Due: nx affected:lint --fix, prettier --write

docs(reconciliation): define safe analytics replay contract
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/design.md
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/proposal.md
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/tasks.md
Due: prettier --write

fix(notifications): include tenant owners in admin audience
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/persistence/NotificationJpaRepository.java
Due: none

fix(platform): restore page model listing
  openspec/changes/fix-platform-pagemodel-listing-v1/design.md
  openspec/changes/fix-platform-pagemodel-listing-v1/proposal.md
  openspec/changes/fix-platform-pagemodel-listing-v1/tasks.md
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/contract/PageModelPlatformRouteTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/api/query/PageModelSummaryView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/query/handler/ListPageModelsQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/persistence/PageModelJpaRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/persistence/PageModelPersistenceAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/web/PageModelAdminController.java
  tchalanet-web/apps/platform-portal/src/app/features/operations/data-access/platform-page-engine-api.service.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/data-access/platform-page-engine-api.service.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/page-engine/platform-page-engine.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/page-engine/platform-page-engine.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
Due: nx affected:lint --fix, prettier --write

fix(pagemodel): restore template schema on reset
  openspec/changes/fix-platform-pagemodel-listing-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/ResetPageModelCommandHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/ResetPageModelCommandHandlerTest.java
Due: prettier --write

fix(pagemodel): resolve legacy reset templates
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/ResetPageModelCommandHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/ResetPageModelCommandHandlerTest.java
Due: none

fix(pagemodel): require actor for publishing
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/web/PageModelAdminController.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/PublishPageModelCommandHandlerTest.java
Due: none

fix(web): normalize PageModel action errors
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/page-engine/platform-page-engine.page.ts
Due: nx affected:lint --fix, prettier --write

fix(pagemodel): serialize detail ids as UUIDs
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/web/PageModelAdminMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pagemodel/internal/infra/web/PageModelAdminMapperTest.java
Due: none

fix(access): honor tenant override on platform routes
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepImpl.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepPlatformTest.java
Due: none

fix(access): preserve platform scope without override
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepImpl.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepPlatformTest.java
Due: none

fix(pagemodel): stabilize publish and admin layout
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/infra/persistence/PageModelPersistenceAdapter.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pagemodel/internal/infra/persistence/PageModelPersistenceAdapterTest.java
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/page-engine/platform-page-engine.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/page-engine/platform-page-engine.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/page-engine/platform-page-engine.page.ts
Due: nx affected:lint --fix, prettier --write

fix(dashboard): forward selected reporting period
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.ts
  tchalanet-web/libs/page-model/src/lib/api/page-model-api.service.spec.ts
  tchalanet-web/libs/page-model/src/lib/api/page-model-api.service.ts
Due: nx affected:lint --fix, prettier --write

feat(admin-dashboard): show selected reporting period
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardProvider.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.ts
Due: nx affected:lint --fix, prettier --write
