Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

feat(sales): SelectionGenerationService + RandomSelectionGenerator (slice 5)
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/DOMAIN_SALES.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/selection/SelectionGenerationPurpose.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/selection/SelectionGenerationStrategy.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/DefaultSelectionGenerationService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/RandomSelectionGenerator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/SelectionGenerationService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/promotion/PromotionSelectionResolver.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/DefaultSelectionGenerationServiceTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/promotion/SalePromotionEffectsTest.java
Due: prettier --write

feat(promotion): selection generation fields + DEFAULT_MARYAJ_GRATIS template (slices 3-4)
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V222__promotion_effect_selection_generation.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/api/command/template/InstantiateDefaultMaryajGratisCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/api/model/rule/PromotionEffect.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/application/command/handler/template/InstantiateDefaultMaryajGratisCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/application/port/out/lifecycle/PromotionCampaignReadPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/application/service/lifecycle/PromotionCampaignActivationPolicy.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/application/service/template/MaryajGratisDefaultTemplate.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/adapter/PromotionCampaignReadJpaAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/adapter/PromotionRuleJpaAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/adapter/PromotionRuleWriteSupport.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/entity/PromotionRuleEffectJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/mapper/PromotionCampaignJpaMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/mapper/PromotionJsonMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/persistence/repository/PromotionCampaignProjectionRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/infra/web/admin/PromotionCampaignAdminController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/promotion_design.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/DefaultSelectionGenerationService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/SelectionGenerationService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/promotion/PromotionSelectionResolver.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/selection/api/model/SelectionGenerationStrategy.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/application/command/handler/template/InstantiateDefaultMaryajGratisCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/application/service/lifecycle/PromotionCampaignActivationPolicyTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/DefaultSelectionGenerationServiceTest.java
Due: prettier --write

feat(sales): SalePreparation core — entity, state machine, retention (slice 6)
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V223__core_sale_preparation.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/preparation/SalePreparationStatus.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/domain/model/preparation/SalePreparationTransition.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/domain/service/preparation/SalePreparationStateMachine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/entity/preparation/SalePreparationJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/entity/preparation/SalePreparationPromotionLineJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/repository/SalePreparationPromotionLineRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/repository/SalePreparationRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/scheduler/SalePreparationRetentionScheduler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/domain/service/preparation/SalePreparationStateMachineTest.java
Due: prettier --write

feat(sales): Prepare/Regenerate/Confirm prepared sale flow (slices 7-9)
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/design.md
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/command/preparation/ConfirmPreparedSaleCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/command/preparation/PrepareSaleCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/command/preparation/RegenerateSalePreparationPromotionLineCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/preparation/ConfirmPreparedSaleResult.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/preparation/SalePreparationLineView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/preparation/SalePreparationPromotionLineView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/preparation/SalePreparationView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/ConfirmPreparedSaleCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/PrepareSaleCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/RegenerateSalePreparationPromotionLineCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/port/out/preparation/SalePreparationStorePort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/preparation/SalePreparationInputCodec.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/preparation/SalePreparationViewAssembler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/domain/model/preparation/SalePreparation.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/domain/model/preparation/SalePreparationPromotionLine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/adapter/SalePreparationJpaAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/SalePreparationController.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/ConfirmPreparedSaleCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/InMemorySalePreparationStore.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/RegenerateSalePreparationPromotionLineCommandHandlerTest.java
Due: prettier --write

docs(mobile): change compagnon maryaj-gratis-pos-v1 (slice 11)
  tchalanet-mobile/openspec/changes/maryaj-gratis-pos-v1/proposal.md
  tchalanet-mobile/openspec/changes/maryaj-gratis-pos-v1/tasks.md
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
Due: prettier --write

feat(api): add TchBackendClient and shell feedback pipeline
  tchalanet-web/AGENTS.md
  tchalanet-web/apps/tch-portal/src/app/app.config.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/tenant-admin-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/dashboard/shell/private-shell.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-admin-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/check-ticket/public-ticket.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/results/public-draw-results.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/shell/public-shell.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/tchala/public-tchala.service.ts
  tchalanet-web/apps/tch-portal/src/app/shared/api/api-feedback.interceptor.ts
  tchalanet-web/apps/tch-portal/src/app/shared/feedback/copy-error-details.ts
  tchalanet-web/apps/tch-portal/src/app/shared/feedback/shell-feedback-banner.component.ts
  tchalanet-web/apps/tch-portal/src/app/shared/feedback/shell-feedback-outlet.component.ts
  tchalanet-web/apps/tch-portal/src/app/shared/feedback/shell-feedback.model.ts
  tchalanet-web/apps/tch-portal/src/app/shared/feedback/shell-feedback.store.ts
  tchalanet-web/libs/api/README.md
  tchalanet-web/libs/api/src/index.ts
  tchalanet-web/libs/api/src/lib/http/api-feedback-context.ts
  tchalanet-web/libs/api/src/lib/http/tch-backend-client.ts
  tchalanet-web/libs/page-model/src/lib/api/page-model-api.service.ts
  tchalanet-web/libs/shared-config/src/lib/settings/settings-api.service.ts
  tchalanet-web/openspec/changes/archive/2026-06-10-backend-client-shell-feedback/design.md
  tchalanet-web/openspec/changes/archive/2026-06-10-backend-client-shell-feedback/proposal.md
  tchalanet-web/openspec/changes/archive/2026-06-10-backend-client-shell-feedback/tasks.md
Due: nx affected:lint --fix, prettier --write

docs(agents): add architecture, conventions and key libs sections to AGENTS.md
  tchalanet-web/AGENTS.md
Due: prettier --write

docs(openspec): slice 10 vérifiée — reçu/events/settlement déjà conformes
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
Due: prettier --write

docs(openspec): cocher input_hash et idempotency_key (livrés en slices 7/9)
  tchalanet-server/openspec/changes/maryaj-gratis-auto-selection-v1/tasks.md
Due: prettier --write

fix(mobile): align runtime state and session lifecycle
  tchalanet-mobile/docs/conventions/state_management.md
  tchalanet-mobile/docs/conventions/theme.md
  tchalanet-mobile/lib/app/app.dart
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/app/notification_polling_host.dart
  tchalanet-mobile/lib/app/runtime_polling_host.dart
  tchalanet-mobile/lib/core/i18n/i18n_repository.dart
  tchalanet-mobile/lib/core/i18n/i18n_service.dart
  tchalanet-mobile/lib/core/network/api_client.dart
  tchalanet-mobile/lib/core/network/auth_interceptor.dart
  tchalanet-mobile/lib/core/network/op_context_interceptor.dart
  tchalanet-mobile/lib/core/network/session_invalidation_controller.dart
  tchalanet-mobile/lib/core/runtime/runtime_controller.dart
  tchalanet-mobile/lib/core/runtime/runtime_models.dart
  tchalanet-mobile/lib/core/runtime/runtime_repository.dart
  tchalanet-mobile/lib/core/runtime/runtime_service.dart
  tchalanet-mobile/lib/core/storage/op_context_storage.dart
  tchalanet-mobile/lib/core/theme/theme_repository.dart
  tchalanet-mobile/lib/core/theme/theme_service.dart
  tchalanet-mobile/lib/features/auth/data/repositories/auth_repository_impl.dart
  tchalanet-mobile/lib/features/auth/presentation/view_models/auth_controller.dart
  tchalanet-mobile/lib/features/auth/presentation/views/forbidden_page.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/services/cashier_op_context_service.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/view_models/cashier_session_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/send_receipt_sheet.dart
  tchalanet-mobile/lib/features/notifications/presentation/view_models/notification_center_view_model.dart
  tchalanet-mobile/lib/features/notifications/presentation/view_models/notification_summary_controller.dart
  tchalanet-mobile/openspec/changes/mobile-runtime-settings-v1/tasks.md
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/core/runtime/runtime_controller_test.dart
  tchalanet-mobile/test/features/auth/auth_repository_test.dart
  tchalanet-mobile/test/features/notifications/notification_center_page_test.dart
  tchalanet-mobile/test/features/notifications/notification_center_view_model_test.dart
  tchalanet-mobile/test/features/notifications/notification_summary_controller_test.dart
Due: prettier --write

feat(web): static public fallback bundle + Vercel CI/CD
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__promotion_effect_selection_generation.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V224__seed_private_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V225__create_public_contact_request.sql
  tchalanet-web/apps/tch-portal/public/assets/fallback/public-bootstrap-fallback.fr.json
  tchalanet-web/apps/tch-portal/src/app/core/runtime/index.ts
  tchalanet-web/apps/tch-portal/src/app/core/runtime/public-bootstrap.store.ts
  tchalanet-web/apps/tch-portal/src/app/core/runtime/public-fallback-bundle.service.ts
  tchalanet-web/apps/tch-portal/src/app/core/runtime/public-runtime-initializer.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/shell/public-shell.service.ts
  tchalanet-web/vercel.json
Due: nx affected:lint --fix, prettier --write

fix(ci): simplify Vercel workflows — build via nx, deploy output dir
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
Due: none

fix(ci): use Vercel Build Output API to avoid rootDirectory path conflict
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
Due: none

fix(web): skip KC init on .vercel.app — fast OIDC discovery failure
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
Due: nx affected:lint --fix, prettier --write

fix(vercel): intercept /realms/* before SPA rewrite to break KC iframe loop
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
Due: nx affected:lint --fix, prettier --write

fix(vercel): run deploy --prebuilt from repo root, not tchalanet-web/
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
Due: none

fix(vercel): create .vercel/output at repo root, not inside tchalanet-web/
  .github/workflows/vercel-preview.yml
  .github/workflows/vercel-stg.yml
Due: none

docs(openspec): add data-lifecycle-archive-v1 spec
  tchalanet-server/openspec/changes/data-lifecycle-archive-v1/README.md
  tchalanet-server/openspec/changes/data-lifecycle-archive-v1/proposal.md
  tchalanet-server/openspec/changes/data-lifecycle-archive-v1/tasks.md
Due: prettier --write

docs(openspec): refine data-lifecycle-archive-v1 tasks breakdown
  tchalanet-server/openspec/changes/data-lifecycle-archive-v1/tasks.md
Due: prettier --write

docs(architecture): add data-lifecycle.md — class matrix, retention defaults, Envers allowlist
  tchalanet-server/docs/architecture/data-lifecycle.md
Due: prettier --write

feat(audit): Phase 2 — partitioned audit_log table + canonicalize AuditAction enum
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V226__create_audit_log_partitioned.sql
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/api/model/AuditAction.java
Due: none

feat(analytics): Phase 3 — analytics_session + analytics_selection projectors + cache specs
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V227__create_analytics_session_and_selection.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsSelectionProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsSessionProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/cache/AnalyticsCacheNames.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/cache/AnalyticsCacheSpecProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/event/AnalyticsEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSelectionEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSelectionRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSessionEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSessionRepository.java
Due: none

feat(archive): Phase 4 — platform.archive registry tables + ArchiveDatasetProvider API
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V228__create_archive_registry.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/architecture/PlatformLayerGatesTest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/ArchiveDatasetProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveDatasetKey.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveDatasetPlan.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveExportRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveExportResult.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveLookupRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveLookupResult.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchivePeriod.java
Due: none

feat(archive): Phase 5 — archive dataset provider stubs per owning module
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/payout/internal/infra/archive/PayoutArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/archive/SalesTicketArchiveDatasetProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/internal/archive/AuditLogArchiveDatasetProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/archive/NotificationArchiveDatasetProvider.java
Due: none

feat(archive): Phase 6 — restore tables + retrieval API + controller stubs
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V229__create_archive_restore_tables.sql
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/ArchiveApi.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveRunView.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchivedEntityView.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/TriggerArchiveRunRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/web/AdminArchiveController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/web/PlatformArchiveController.java
Due: none

feat(archive): Phase 7A+7B — archive execution foundation, idempotency & run guard
  tchalanet-server/openspec/changes/archive-execution-v1/plan.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/payout/internal/infra/archive/PayoutArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/archive/SalesTicketArchiveDatasetProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/ArchiveDatasetProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveExportRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveExportResult.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchiveLookupEntry.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/config/ArchiveProperties.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/config/ArchiveStorageConfig.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/io/JsonlGzReader.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/io/JsonlGzWriter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveLookupIndexJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveObjectJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveRunJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveIdempotencyKeyBuilder.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunExecutor.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunGuard.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/storage/ArchiveStoragePort.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/storage/LocalFileArchiveStorageAdapter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/web/PlatformArchiveController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/internal/archive/AuditLogArchiveDatasetProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/internal/persistence/AuditLogJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/archive/NotificationArchiveDatasetProvider.java
Due: prettier --write

feat(archive): Phase 7C — real audit_log archive lookup via lookup_index + JsonlGzReader
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
Due: none

feat(archive): Phase 7D+7E+7F+7G — API hardening, restore, partition cleanup, ticket design
  tchalanet-server/docs/architecture/ticket-archive-design.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V230__seed_archive_permissions.sql
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/security/PlatformPermissions.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/TriggerArchiveRunRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/config/ArchiveProperties.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveRestoreAuditLogJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveRestoreRunJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchivePartitionCleanupService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRestoreCleanupScheduler.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRestoreService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/web/AdminArchiveController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/web/PlatformArchiveController.java
Due: prettier --write

feat(archive): Phase 8 — ticket archive provider E2E (header-only, V1)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/archive/SalesTicketArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/TicketArchiveJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/api/model/ArchivedTicketView.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
Due: none

feat(archive): Phase 9 — payout archive provider E2E
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/payout/internal/infra/archive/PayoutArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/payout/internal/infra/persistence/PayoutArchiveJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
Due: none

feat(archive): Phase 10 — observability, metrics and ops view
  tchalanet-server/tchalanet-platform/pom.xml
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/config/ArchiveHealthIndicator.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveObjectJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/persistence/ArchiveRunJdbcRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveMetrics.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveRunExecutor.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/service/ArchiveService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/archive/internal/web/PlatformArchiveController.java
Due: none

feat(page-widget): update PageModel structure and enhance widget configurations
  tchalanet-server/openspec/changes/provider-neutral-access-context-v1/inventory.md
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
