Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

refactor(admin): standardize commission form actions
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-default-rate.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-default-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-seller-rate.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-seller-rate.dialog.ts
  tchalanet-web/libs/ui/components/src/lib/admin-crud/admin-form-actions.ts
Due: nx affected:lint --fix, prettier --write

fix(web): use shared period selector breakpoint
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.scss
Due: prettier --write

feat(web): standardize console detail and form surfaces
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/admin-terminal-detail.spec.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/admin-terminal-form.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-terminal-new.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/ui/console/src/index.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/admin-crud-shell.component.ts
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-form-layout/admin-form-layout.component.html
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-form-layout/admin-form-layout.component.scss
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-form-layout/admin-form-layout.component.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.scss
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.ts
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/design.md
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): make terminal list mobile first
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.ts
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/design.md
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): share ticket draw and selection cards
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/libs/web/console/src/index.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-cards.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-draw-card.component.html
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-draw-card.component.scss
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-draw-card.component.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.html
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.scss
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.ts
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/design.md
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/proposal.md
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

docs(web): centralize console CRUD conventions
  tchalanet-web/docs/conventions/README.md
  tchalanet-web/docs/conventions/feature-playbook.md
Due: prettier --write

feat(web): align admin detail surfaces
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-detail-layout/admin-detail-layout.component.html
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-detail-layout/admin-detail-layout.component.scss
  tchalanet-web/libs/ui/console/src/lib/console-surface/components/admin-detail-layout/admin-detail-layout.component.ts
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/design.md
  tchalanet-web/openspec/changes/web-console-surface-consistency-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): make ticket history responsive
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.html
  tchalanet-web/apps/admin-portal/src/app/features/sales-admin/pages/admin-tickets/admin-tickets.page.scss
  tchalanet-web/docs/conventions/feature-playbook.md
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): clarify tenant dashboard periods and sales chart
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.spec.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/period-selector/period-selector.widget.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.spec.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(web): add axes to sales trend
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.spec.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(dashboard): anchor sales trend to selected date
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/design.md
  tchalanet-server/openspec/changes/reconcile-approved-sales-analytics/tasks.md
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.spec.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/trend-chart/trend-chart.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(web): standardize seller terminal pagination
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/admin-seller-terminals.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/admin-seller-terminals.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/list/admin-seller-terminals.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/common.json
Due: nx affected:lint --fix, prettier --write

fix(web): place terminal identity in detail rail
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
Due: nx affected:lint --fix, prettier --write

fix(web): use serialized ids for commission actions
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-seller-rate.dialog.ts
Due: nx affected:lint --fix, prettier --write

fix(web): use seller terminal commission id field
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-default-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-seller-rate.dialog.ts
Due: nx affected:lint --fix, prettier --write

fix(web): preserve quick action query params
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.spec.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): standardize detail rail and commission actions (#487)
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-default-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/dialogs/set-seller-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.spec.ts
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.ts
Due: nx affected:lint --fix, prettier --write

fix(web): standardize commission list surface
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-kpi-strip/commission-kpi-strip.component.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-kpi-strip/commission-kpi-strip.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-kpi-strip/commission-kpi-strip.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/commission-admin.api.service.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): show commission reset only for overrides
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.html
Due: nx affected:lint --fix, prettier --write

fix(admin): standardize commission list surface (#488)
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/commission/admin-commission.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-kpi-strip/commission-kpi-strip.component.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-kpi-strip/commission-kpi-strip.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-kpi-strip/commission-kpi-strip.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/admin-commission-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/commission/data-access/commission-admin.api.service.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): restrict POS sales to available draws
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.ts
Due: nx affected:lint --fix, prettier --write

fix(ci): ephemeral E2E env lifecycle + pnpm esbuild build approval
  .github/workflows/full-validation.yml
  tchalanet-edge-service/pnpm.yaml
Due: none

fix(ci): use dedicated e2e-app server, keep stg-app permanent
  .github/workflows/full-validation.yml
Due: none

fix(admin): calculate draw KPIs from exact summary
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/query/DrawsSummary.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/query/GetDrawsSummaryQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/port/out/DrawSummaryReaderPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/query/handler/GetDrawsSummaryQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/adapter/DrawSummaryPersistenceAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/repo/DrawSummaryViewRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/DrawQueryAdminController.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/query/handler/ListCashierNextDrawsQueryHandlerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(ci): ephemeral E2E env lifecycle + pnpm esbuild build approval (#489)
  .github/workflows/full-validation.yml
  tchalanet-edge-service/pnpm.yaml
Due: none

fix(admin): calculate draw KPIs from exact summary (#490)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/query/DrawsSummary.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/api/query/GetDrawsSummaryQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/port/out/DrawSummaryReaderPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/query/handler/GetDrawsSummaryQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/adapter/DrawSummaryPersistenceAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/repo/DrawSummaryViewRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/DrawQueryAdminController.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/query/handler/ListCashierNextDrawsQueryHandlerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/components/pos-ticket-line-editor/pos-ticket-line-editor.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.html
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/terminal/pos-terminal-sale.page.ts
Due: nx affected:lint --fix, prettier --write

feat(web): group seller commission and pricing configuration
  tchalanet-web/apps/admin-portal/src/app/features/commission/components/commission-table/commission-table.component.html
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): rename commission feature to seller configuration
  tchalanet-web/apps/admin-portal/src/app/features/admin.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/admin-seller-configuration.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/admin-seller-configuration.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/admin-seller-configuration.page.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/admin-seller-configuration.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/commission-error-targets.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/commission-error-targets.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/components/commission-kpi-strip/commission-kpi-strip.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/components/commission-kpi-strip/commission-kpi-strip.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/components/commission-kpi-strip/commission-kpi-strip.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/components/commission-table/commission-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/components/commission-table/commission-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/components/commission-table/commission-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/data-access/admin-commission-api.service.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/data-access/admin-commission-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/dialogs/set-default-rate.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/dialogs/set-default-rate.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/dialogs/set-default-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/dialogs/set-seller-rate.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/dialogs/set-seller-rate.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/dialogs/set-seller-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/set-commission-rate.dialog.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/set-commission-rate.dialog.scss
  tchalanet-web/apps/admin-portal/src/app/features/seller-configuration/set-commission-rate.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/admin-seller-terminals.routes.ts
Due: nx affected:lint --fix, prettier --write

test(web): cover seller pricing override flow
  tchalanet-web/apps/web-e2e/src/admin-portal/seller-configuration.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

feat(ticket-detail): display captured pricing terms
  openspec/changes/ticket-detail-pricing-display-v1/design.md
  openspec/changes/ticket-detail-pricing-display-v1/proposal.md
  openspec/changes/ticket-detail-pricing-display-v1/tasks.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/mapper/PosTicketMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketDetailsResponse.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/mapper/PosTicketMapperTest.java
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-cards.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.html
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.scss
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.ts
Due: nx affected:lint --fix, prettier --write

test(e2e): validate seller pricing override payout
  tchalanet-server/openspec/changes/e2e-business-runtime-v1/tasks.md
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
Due: prettier --write

fix(pos): expose ticket pricing details
  openspec/changes/ticket-detail-pricing-display-v1/design.md
  openspec/changes/ticket-detail-pricing-display-v1/tasks.md
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/print/TicketPrintLine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketPrintViewMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/mapper/PosTicketMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketDetailsResponse.java
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
  tchalanet-server/testing/e2e/tests/full_flow/test_game_bet_options_scenarios.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-server/testing/e2e/tests/multitenant/test_tenant_isolation.py
  tchalanet-server/testing/e2e/tests/onboarding/test_tenant_e2e_onboarding.py
  tchalanet-server/testing/e2e/tests/onboarding/test_tenant_no_seed_onboarding.py
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-cards.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.html
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.scss
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.ts
Due: nx affected:lint --fix, prettier --write

test(e2e): validate seller pricing override payout (#492)
  openspec/changes/ticket-detail-pricing-display-v1/design.md
  openspec/changes/ticket-detail-pricing-display-v1/tasks.md
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-server/openspec/changes/e2e-business-runtime-v1/tasks.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/print/TicketPrintLine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketPrintViewMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/mapper/PosTicketMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketDetailsResponse.java
  tchalanet-server/testing/e2e/tests/full_flow/test_business_day_scenarios.py
  tchalanet-server/testing/e2e/tests/full_flow/test_game_bet_options_scenarios.py
  tchalanet-server/testing/e2e/tests/full_flow/test_provision_to_sale.py
  tchalanet-server/testing/e2e/tests/multitenant/test_tenant_isolation.py
  tchalanet-server/testing/e2e/tests/onboarding/test_tenant_e2e_onboarding.py
  tchalanet-server/testing/e2e/tests/onboarding/test_tenant_no_seed_onboarding.py
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/data-access/pos-sale.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-cards.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.html
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.scss
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.ts
Due: nx affected:lint --fix, prettier --write

fix(web): make ticket pricing info mobile friendly
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-cards.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.html
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.scss
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.ts
Due: nx affected:lint --fix, prettier --write

fix(web): summarize ticket pricing by game
  tchalanet-web/apps/admin-portal/src/app/features/pos/sale/pages/ticket-detail/pos-ticket-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-cards.component.spec.ts
  tchalanet-web/libs/web/console/src/lib/tickets/console-ticket-selections-card.component.ts
Due: nx affected:lint --fix, prettier --write

docs(openspec): design ticket pricing coverage snapshots
  tchalanet-server/openspec/changes/ticket-pricing-coverage-applied-snapshot-v1/design.md
  tchalanet-server/openspec/changes/ticket-pricing-coverage-applied-snapshot-v1/proposal.md
  tchalanet-server/openspec/changes/ticket-pricing-coverage-applied-snapshot-v1/specs/ticket-pricing-coverage/spec.md
  tchalanet-server/openspec/changes/ticket-pricing-coverage-applied-snapshot-v1/tasks.md
Due: prettier --write

feat(server): snapshot applied ticket settlement terms
  tchalanet-server/openspec/changes/ticket-pricing-coverage-applied-snapshot-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/line/TicketLineResult.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/print/TicketPrintLine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/settlement/AppliedSettlementSnapshot.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/api/model/settlement/AppliedSettlementTermSnapshot.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/result/TicketWinningCalculator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/service/sell/TicketSettlementTermPlanner.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/domain/model/ticket/TicketLine.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/entity/TicketLineJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketAggregateMutator.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketJpaMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/persistence/mapper/TicketPrintViewMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/result/TicketWinningCalculatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/TicketLinePreparationServiceTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/mapper/PosTicketMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketDetailsResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/tickets/AdminTicketSettlementService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/tickets/model/AdminTicketSettlementResponse.java
Due: prettier --write
