Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(server): US lottery resilience & manual results v1 — slices 1–5
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/design.md
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/proposal.md
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/tasks/01-resilient-adapter.md
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/tasks/02-active-game-filtering.md
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/tasks/03-kill-switch-ops.md
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/tasks/04-provider-expansion.md
  tchalanet-server/openspec/changes/archive/2026-06-15-uslottery-resilience-and-manual-results-v1/tasks/05-manual-result-permission.md
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/web/PlatformDrawChannelController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelAdminService.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/web/ResultSlotAdminController.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/resultslot/internal/write/ResultSlotAdminService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/command/ConfirmDrawResultCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/command/ConfirmDrawResultResult.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/command/RecordManualDrawResultCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/ConfirmDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/port/out/DrawResultWriterPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/persistence/adapter/DrawResultWriterJdbcAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/application/model/UsLotteryProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/adapter/UsLotteryExternalResultsFetchAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/pa/PennsylvaniaDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/pa/PennsylvaniaDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/registry/ProviderClientRegistry.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/adapter/UsLotteryExternalResultsFetchAdapterTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/drawresult/DrawResultsOpsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/drawresult/TenantAdminDrawResultController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/drawresult/model/ProposeManualDrawResultRequest.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/api/model/AuditAction.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/api/model/AuditEntityType.java
Due: prettier --write

feat(server): add us lottery provider integrations
  tchalanet-server/admin_sidenav_stats_rapports.md
  tchalanet-server/pom.xml
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryProperties.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/ca/CaliforniaDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/ca/CaliforniaDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/mi/MichiganDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/mi/MichiganDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/nj/NewJerseyDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/nj/NewJerseyDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/pa/PennsylvaniaDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/ca/CaliforniaDrawResultsMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/mi/MichiganDrawResultsMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/nj/NewJerseyDrawResultsMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapperTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/pa/PennsylvaniaDrawResultsMapperTest.java
Due: prettier --write

feat(web): platform superadmin + tenant admin pages — slices 1–6
  tchalanet-web/apps/tch-portal/src/app/core/tenant-admin-access/tenant-admin-access.store.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/admin.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/business-days-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/games-admin-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/business-days/admin-business-days.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/games/admin-games.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/settings/admin-config.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/settings/admin-runtime.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/runtime-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/tenant-config-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/dashboard/shell/private-shell.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/audit/platform-audit.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-batch.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-cache.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draw-results.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draws.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admin-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admins.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenants.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-ops-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-tenant-admin-access-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-tenants-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/shared/start-tenant-admin-access-dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-override-banner.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/sensitive-data-mask.pipe.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): align platform/admin pages with admin-ui design system
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/business-days/admin-business-days.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/games/admin-games.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/settings/admin-config.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/settings/admin-runtime.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-batch.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-cache.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draw-results.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admin-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admins.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenants.page.ts
Due: nx affected:lint --fix, prettier --write

feat(web): tenant provisioning + seller-terminal pages
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/terminals/admin-terminals.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/seller-terminal-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-provisioning-api.service.ts
Due: nx affected:lint --fix, prettier --write

feat(web): ops pages — draw lifecycle, settings, i18n, pagemodels + fix admin-create title
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draw-lifecycle.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-i18n.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-pagemodels.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-settings.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admin-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-i18n-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-ops-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-pagemodels-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-settings-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform.routes.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align ops API service and pages with actual backend contracts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-batch.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draw-results.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draws.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-i18n-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-ops-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-pagemodels-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-settings-api.service.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align settings and i18n pages with backend contracts + add Create
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-i18n.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-settings.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-i18n-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-settings-api.service.ts
Due: nx affected:lint --fix, prettier --write

feat(web): fix Firebase logout redirect + add admin support ticket pages
  tchalanet-web/apps/tch-portal/src/app/features/admin/admin-tickets-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/admin.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/support/admin-sell-ticket.page.html
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/support/admin-sell-ticket.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/support/admin-sell-ticket.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/support/admin-tickets.page.html
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/support/admin-tickets.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/support/admin-tickets.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/dashboard/shell/private-shell.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): persist Firebase session across page refresh and URL navigation
  tchalanet-web/apps/tch-portal/src/app/core/auth/auth-session.service.ts
Due: nx affected:lint --fix, prettier --write

feat(web): platform superadmin + tenant admin pages — slices 1–6
  tchalanet-web/.nx/workspace-data/eslint-2654242865465226088.hash
  tchalanet-web/.nx/workspace-data/nx_files.nxt
  tchalanet-web/.nx/workspace-data/playwright-5186013267177752385.hash
  tchalanet-web/apps/tch-portal/src/app/core/tenant-admin-access/tenant-admin-access.store.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/admin.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/business-days-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/games-admin-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/business-days/admin-business-days.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/games/admin-games.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/settings/admin-config.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/settings/admin-runtime.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/runtime-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/tenant-config-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/dashboard/shell/private-shell.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/audit/platform-audit.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-batch.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-cache.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draw-results.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/ops/platform-ops-draws.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admin-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-admins.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenant-create.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenants/platform-tenants.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-ops-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-tenant-admin-access-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-tenants-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/shared/start-tenant-admin-access-dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-override-banner.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/sensitive-data-mask.pipe.ts
Due: nx affected:lint --fix, prettier --write

fix(web): persist Firebase session across page refresh and URL navigation
  tchalanet-web/.nx/workspace-data/eslint-2654242865465226088.hash
  tchalanet-web/apps/tch-portal/src/app/core/auth/auth-session.service.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align private routes with backend nav
  tchalanet-web/apps/tch-portal/src/app/features/admin/admin.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-check-ticket.page.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-check-ticket.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-draw-results.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-help.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-home.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-info.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-managers.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-markdown.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-news.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-operators.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-result-detail.page.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-result-detail.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-results.page.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-results.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-rules.page.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-rules.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-tchala.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-tchala.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-ticket.service.ts
Due: nx affected:lint --fix, prettier --write

chore(web): stop tracking nx cache
  .gitignore
  tchalanet-web/.nx/cache/run.json
  tchalanet-web/.nx/workspace-data/eslint-2654242865465226088.hash
  tchalanet-web/.nx/workspace-data/file-map.json
  tchalanet-web/.nx/workspace-data/nx_files.nxt
  tchalanet-web/.nx/workspace-data/playwright-5186013267177752385.hash
  tchalanet-web/.nx/workspace-data/project-graph.json
  tchalanet-web/.nx/workspace-data/source-maps.json
Due: prettier --write

feat - utilsier seller-terminal et simplification v0
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V101__create_audit_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V103__create_indexes.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V105__configure_rls.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V108__create_read_views.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V201__seed_plans.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V233__seller_terminal.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V234__core_pricing_seller_terminal_odds_override.sql
Due: none

feat - utilsier seller-terminal et simplification v0
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioTokenProviderImpl.java
  tchalanet-web/.agents/skills/tchalanet-screen-realization/SKILL.md
  tchalanet-web/.agents/skills/tchalanet-screen-realization/references/screen-realization-guide.md
  tchalanet-web/apps/tch-portal/src/app/core/auth/firebase/firebase-auth.service.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenant-provisioning/platform-tenant-provisioning.page.html
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/tenant-provisioning/platform-tenant-provisioning.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/admin-detail-layout/admin-detail-layout.component.html
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/admin-detail-layout/admin-detail-layout.component.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/admin-detail-layout/admin-detail-layout.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/admin-provisioning-health-card/admin-provisioning-health-card.component.html
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/admin-provisioning-health-card/admin-provisioning-health-card.component.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/admin-provisioning-health-card/admin-provisioning-health-card.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/tch-identity-card/tch-identity-card.component.html
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/tch-identity-card/tch-identity-card.component.scss
  tchalanet-web/apps/tch-portal/src/app/features/private/shared/admin-ui/components/tch-identity-card/tch-identity-card.component.ts
  tchalanet-web/openspec/changes/firebase-auth-session-persistence/proposal.md
  tchalanet-web/openspec/changes/firebase-auth-session-persistence/specs/auth-session/spec.md
  tchalanet-web/openspec/changes/firebase-auth-session-persistence/tasks.md
  tchalanet-web/openspec/changes/platform-tenant-provisioning-page-v0/proposal.md
  tchalanet-web/openspec/changes/platform-tenant-provisioning-page-v0/specs/platform-tenant-provisioning/spec.md
  tchalanet-web/openspec/changes/platform-tenant-provisioning-page-v0/tasks.md
Due: nx affected:lint --fix, prettier --write

feat - utilsier seller-terminal et simplification v0
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/admin-seller-terminals.page.html
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/admin-seller-terminals.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/admin-seller-terminals.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/dialogs/confirm-disable.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/dialogs/create-seller-terminal.dialog.html
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/dialogs/create-seller-terminal.dialog.scss
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/dialogs/create-seller-terminal.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/dialogs/reset-pin.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/access/platform-super-admins.page.html
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/access/platform-super-admins.page.scss
  tchalanet-web/apps/tch-portal/src/app/features/platform/pages/access/platform-super-admins.page.ts
Due: nx affected:lint --fix, prettier --write

feat - seller terminal PIN reset (admin) + change PIN (POS)
  tchalanet-server/tchalanet-app/src/main/resources/access-control/default-role-permissions.v1.json
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V240__seller_terminal_pin_reset.sql
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/ResolvedAccessContext.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/auth/ActorAuthorizationContextResolver.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/ChangeSellerTerminalPinCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/ResetSellerTerminalPinCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/PinResetReason.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/ResetSellerTerminalPinView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/ChangeSellerTerminalPinCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/ResetSellerTerminalPinCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/mapper/SellerTerminalViews.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/port/out/SellerTerminalIdentityProvisionPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/domain/model/SellerTerminal.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/identity/CoreSellerTerminalIdentityProvisionAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/persistence/SellerTerminalJpaEntity.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/persistence/SellerTerminalMapper.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/web/admin/SellerTerminalAdminController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/web/tenant/SellerTerminalMeController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/home/app/CashierHomeService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/home/model/HomeRequiredStepType.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/api/PermissionKeys.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/persistence/repository/PlatformUserRoleJpaRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/persistence/repository/TenantUserRoleJpaRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/persistence/repository/UserAccessSnapshotJpaRepository.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/service/AccessControlSnapshotResolver.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/service/DatabaseActorAuthorizationContextResolver.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepImpl.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/audit/api/model/AuditAction.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/accesscontrol/internal/service/AccessControlSnapshotResolverTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/accesscontrol/internal/service/DatabaseActorAuthorizationContextResolverTest.java
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/admin-seller-terminals.page.html
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/admin-seller-terminals.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/pages/seller-terminals/dialogs/reset-pin.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/seller-terminal-api.service.ts
Due: nx affected:lint --fix, prettier --write

feat - migration V239 indexes pour la résolution d'accès
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V239__access_resolution_indexes.sql
Due: none

docs - mettre à jour le vocabulaire SellerTerminal et les flows auth
  tchalanet-docs/docs/00-guidelines/glossary.md
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-docs/docs/01-architecture/security-model.md
  tchalanet-docs/docs/02-functional/domains/outlet.md
  tchalanet-docs/docs/02-functional/domains/session.md
  tchalanet-docs/docs/02-functional/domains/terminal.md
  tchalanet-docs/docs/02-functional/flows/admin-pos-selection.md
  tchalanet-docs/docs/02-functional/flows/sell-ticket.md
  tchalanet-docs/docs/02-functional/flows/seller-onboarding.md
  tchalanet-docs/docs/02-functional/flows/session-opening.md
  tchalanet-docs/docs/02-functional/flows/terminal-binding.md
  tchalanet-server/docs/conventions/context/operational-context.md
  tchalanet-server/docs/conventions/context/request-context.md
  tchalanet-server/docs/conventions/context/role-flows.md
  tchalanet-server/docs/conventions/identity-providers.md
Due: prettier --write

docs - near-code domains + tchalanet-docs restants (cashier, identity, accesscontrol, tenantadmin, platform)
  tchalanet-docs/docs/00-guidelines/constitution.md
  tchalanet-docs/docs/00-overview/system-map.md
  tchalanet-docs/docs/00-overview/what-is-tchalanet.md
  tchalanet-docs/docs/01-architecture/flows/permission-flow.md
  tchalanet-docs/docs/02-functional/domains/external.md
  tchalanet-docs/docs/02-functional/domains/index.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/DOMAIN_SELLERTERMINAL.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/FEATURE_CASHIER.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/FEATURE_TENANTADMIN.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/PLATFORM_ACCESSCONTROL.md
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/PLATFORM_IDENTITY.md
Due: prettier --write
