Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

refactor(security): streamline tenant context resolution and bind process (#78)
  tchalanet-server/docs/conventions/api/request_context_usage.md
  tchalanet-server/openspec/changes/refactor-request-tenant-context-flow/HANDOFF.md
  tchalanet-server/openspec/changes/refactor-request-tenant-context-flow/design.md
  tchalanet-server/openspec/changes/refactor-request-tenant-context-flow/proposal.md
  tchalanet-server/openspec/changes/refactor-request-tenant-context-flow/specs/request-context/spec.md
  tchalanet-server/openspec/changes/refactor-request-tenant-context-flow/tasks.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/context/TchContext.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/context/TchContextRunner.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/context/TchContextScope.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/context/TchRequestContext.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/ActorContextResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/AuthContextExtractor.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/ExtractedAuthContext.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/TchContextBinder.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/TchContextFilter.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/TchRequestContextFactory.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/security/TenantContextResolver.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/flow/README.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/query/handler/ResolveEffectivePageModelHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/pagemodel/onboarding/PageModelOnboardingRunner.java
  tchalanet-server/src/test/java/com/tchalanet/server/common/context/TchContextRunnerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/notification/infra/external/EdgeHmacSignerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/pagemodel/application/query/handler/ResolveEffectivePageModelHandlerTest.java
Due: prettier --write

refactor(infra): reduce scripts/docs/Makefile surface area
  tchalanet-infra/Makefile
  tchalanet-infra/compose/docker-compose-dev-local.yml
  tchalanet-infra/compose/docker-compose-dev-ports.yml
  tchalanet-infra/compose/docker-compose-unleash-host.yml
  tchalanet-infra/docs/00-infra-charter.md
  tchalanet-infra/docs/ACTION-REALM-REGEN.md
  tchalanet-infra/docs/BUILD-LOCAL-VS-PUBLISHED.md
  tchalanet-infra/docs/CLEANUP-FINAL.md
  tchalanet-infra/docs/DOPPLER-DOWNLOAD-SECRETS.md
  tchalanet-infra/docs/ENV-SEPARATION.md
  tchalanet-infra/docs/QUICKSTART-IMAGES.md
  tchalanet-infra/docs/QUICKSTART.md
  tchalanet-infra/docs/README.md
  tchalanet-infra/docs/VITE-ALLOWED-HOSTS.md
  tchalanet-infra/docs/scripts-index.md
  tchalanet-infra/docs/spec-local-dev-stack-2026-04-27.md
  tchalanet-infra/openspec/context/00-infra-charter.md
  tchalanet-infra/openspec/context/02-claude-context.md
  tchalanet-infra/scripts/local/start-traefik.sh
  tchalanet-infra/scripts/remote/03-rotate-meili-master-key.sh
  tchalanet-infra/scripts/remote/04-generate-meili-master-key.sh
  tchalanet-infra/scripts/utils/generate-cookie-secret.sh
  tchalanet-infra/scripts/utils/health-check.sh
  tchalanet-infra/scripts/utils/render-traefik-dynamic.sh
  tchalanet-infra/scripts/utils/ssh-host-refresh.sh
  tchalanet-infra/scripts/utils/wait-unleash.sh
Due: prettier --write

fix(arch,docs): cleanup corrupted ARCHITECTURE.md and add missing domain CLAUDE.md files
  FIXES_APPLIED.md
  TCHALANET_ANALYSIS_SUMMARY.md
  TCHALANET_V1_FLOWS_ANALYSIS.md
  build/ai-agent-files-inventory.json
  build/docs-duplicates.md
  build/docs-inventory.json
  openspec/specs/docs/inventory-ai-agent-files.py
  openspec/specs/docs/inventory-docs.py
  scripts/docs/inventory-ai-agent-files.py
  tchalanet-docs/docs/99-reference/docs-cleanup-plan.md
  tchalanet-docs/docs/99-reference/docs-duplicates.md
  tchalanet-docs/docs/99-reference/docs-inventory.md
  tchalanet-server/docs/ARCHITECTURE.md
  tchalanet-server/docs/conventions/batch/draw-batch-helper-matrix.md
  tchalanet-server/docs/conventions/batch/tchalanet-draw-results-tick-decision-barriers.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/query/handler/ListDrawsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/CLAUDE.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/CLAUDE.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/CLAUDE.md
Due: prettier --write

docs(domains): add V1 flow analysis to DOMAIN_*.md files
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/DOMAIN_DRAW.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/DOMAIN_DRAWRESULT.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/DOMAIN_HAITI.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/DOMAIN_SALES.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/DOMAIN_USLOTTERY.md
Due: prettier --write

feat(draw): add pessimistic locking to SettleDrawCommandHandler
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/command/handler/SettleDrawCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/port/out/DrawLookupPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/adapter/DrawLookupPersistenceAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/repo/DrawJpaRepository.java
Due: none

refactor(handlers): rename all handlers with explicit *QueryHandler/*CommandHandler suffixes
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/application/query/handler/CheckUserPermissionsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/accesscontrol/application/query/handler/GetEffectivePermissionsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/query/handler/ListDrawsHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/query/handler/ListLatestDrawsWithResultsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/query/handler/ListNextDrawsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/ArchiveNotificationCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/ArchiveNotificationsCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/CreateNotificationCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/ExpireNotificationsCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/MarkNotificationReadCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/MarkNotificationsReadCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/ScheduleNotificationDeliveryCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/query/handler/GetNotificationSummaryQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/query/handler/ListNotificationDeliveriesQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/query/handler/ListNotificationsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/CreateDraftFromTemplateUpdateCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/CreatePageTemplateUpdateNotificationsCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/DuplicatePageModelCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/IgnoreTemplateUpdateCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/MergePageModelWithTemplateCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/PublishPageModelCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/ReplacePageModelFromTemplateCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/ResetPageModelCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/command/handler/UpsertPageModelCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/query/handler/ListPageModelsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/query/handler/PreviewPageModelQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/query/handler/PreviewTemplateUpdateQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/pagemodel/application/query/handler/ResolveEffectivePageModelQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/application/query/handler/ListCashierOpenSessionsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/application/query/model/ListCashierOpenSessionsQuery.java
Due: none

refactor(vars): rename single-letter variables to meaningful names
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/application/print/AbstractTicketReceiptFormatter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/domain/service/TicketWinningCalculator.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/infra/persistence/mapper/TicketMapper.java
Due: none

refactor(session): rename variable 'v' to 'amount' in BigDecimal utility method
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/application/command/handler/RecomputeSalesSessionTotalsCommandHandler.java
Due: none

refactor(code-quality): rename single-letter variables to meaningful names in core domains
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/command/handler/ApplyExternalResultsWindowCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/batch/results/settle/SettleableDrawIdsReader.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/adapter/DrawLifecycleJpaAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/mapper/DrawSummaryViewMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/repo/DrawApplyJdbcRepository.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/scheduler/DrawProvisionalWatchdogScheduler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/OverrideDrawResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/infra/persistence/mapper/DrawResultMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/infra/util/SourceResultBuilder.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/application/command/handler/SubmitTchalaSuggestionCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/domain/lottery/model/ExternalPick.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/domain/lottery/service/DefaultHaitiResultProjector.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/domain/tchala/model/DedupeKey.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/domain/tchala/model/DreamText.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/domain/tchala/model/TchalaEntry.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/domain/tchala/model/TchalaLang.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/infra/external/ga/GeorgiaDrawResultsMapper.java
Due: none

refactor(code-quality): rename single-letter variables in haiti handlers and adapters
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/application/command/handler/ImportTchalaEntriesCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/infra/adapter/FileSystemCsvTchalaImportSourceAdapter.java
Due: none

refactor(code-quality): rename single-letter variables in uslottery cache/clients
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/infra/cache/ProviderQueryHash.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/uslottery/infra/external/fl/FloridaDrawResultsClient.java
Due: none

refactor(code-quality): rename remaining single-letter variables in domain models
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/domain/model/Ticket.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/domain/service/TicketWinningCalculator.java
Due: none

refactor(code-quality): rename single-letter variables in TicketLine domain model
  tchalanet-server/src/main/java/com/tchalanet/server/core/sales/domain/model/TicketLine.java
Due: none

chore: remove unused `CreateNotificationHandlerTest` class and update context handling across core services
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/application/command/handler/ApplyExternalResultsWindowCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/batch/results/settle/SettleWriter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/adapter/DrawLifecycleJpaAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/adapter/DrawLookupPersistenceAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/adapter/DrawReaderPersistenceAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/adapter/DrawSummaryPersistenceAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/draw/infra/persistence/repo/DrawJpaRepository.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/haiti/application/command/handler/ImportTchalaEntriesCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/application/query/handler/ListCashierOpenSessionsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/session/application/query/model/ListCashierOpenSessionsQuery.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/tenantgame/infra/web/TenantGameAdminController.java
  tchalanet-server/src/main/resources/application-local-ide.yaml
  tchalanet-server/src/test/java/com/tchalanet/server/core/draw/infra/scheduler/DrawProvisionalWatchdogSchedulerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/notification/application/command/handler/CreateNotificationHandlerTest.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/pagemodel/application/query/handler/ResolveEffectivePageModelHandlerTest.java
Due: none

chore: remove unused `CreateNotificationHandlerTest` class and update context handling across core services
  tchalanet-server/src/test/java/com/tchalanet/server/core/notification/application/command/handler/CreateNotificationCommandHandlerTest.java
Due: none

migrate(mobile): remove legacy Ionic/Capacitor app and migrate mobile project to Flutter
  VERSIONS.md
  apps/tchalanet-mobile-e2e/playwright.config.ts
  apps/tchalanet-mobile-e2e/project.json
  apps/tchalanet-mobile-e2e/src/example.spec.ts
  apps/tchalanet-mobile-e2e/tsconfig.json
  apps/tchalanet-mobile/.claude/skills/flutter/SKILL.md
  apps/tchalanet-mobile/CLAUDE.md
  apps/tchalanet-mobile/capacitor.config.ts
  apps/tchalanet-mobile/ionic.config.json
  apps/tchalanet-mobile/project.json
  apps/tchalanet-mobile/public/favicon.ico
  apps/tchalanet-mobile/src/app/app.config.ts
  apps/tchalanet-mobile/src/app/app.routes.ts
  apps/tchalanet-mobile/src/app/app.spec.ts
  apps/tchalanet-mobile/src/app/app.ts
  apps/tchalanet-mobile/src/app/register-icons.ts
  apps/tchalanet-mobile/src/features/tab1/tab1.page.ts
  apps/tchalanet-mobile/src/features/tab2/tab2.page.ts
  apps/tchalanet-mobile/src/features/tab3/tab3.page.ts
  apps/tchalanet-mobile/src/features/tabs/tabs.spec.ts
  apps/tchalanet-mobile/src/features/tabs/tabs.ts
  apps/tchalanet-mobile/src/index.html
  apps/tchalanet-mobile/src/main.ts
  apps/tchalanet-mobile/src/styles.scss
  apps/tchalanet-mobile/src/test-setup.ts
  apps/tchalanet-mobile/tailwind.config.mjs
  apps/tchalanet-mobile/tsconfig.app.json
  apps/tchalanet-mobile/tsconfig.json
  apps/tchalanet-mobile/tsconfig.spec.json
  apps/tchalanet-mobile/vite.config.mts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --fix, prettier --write

chore(openspec): remove bootstrap-edge-service-fastify spec and related design/proposal files
  tchalanet-edge-service/openspec/archive/.gitkeep
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-bootstrap-edge-service-fastify/README.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-bootstrap-edge-service-fastify/claude-prompt.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-bootstrap-edge-service-fastify/design.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-bootstrap-edge-service-fastify/proposal.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-bootstrap-edge-service-fastify/tasks.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-create-edge-communication-services/README.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-create-edge-communication-services/claude-prompt.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-create-edge-communication-services/design.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-create-edge-communication-services/proposal.md
  tchalanet-edge-service/openspec/changes/archive/2026-05-07-create-edge-communication-services/tasks.md
Due: prettier --write

chore(openspec): remove infra-git-workflows-light specification and related design/proposal files
  tchalanet-infra/openspec/changes/infra-git-workflows-light/design.md
  tchalanet-infra/openspec/changes/infra-git-workflows-light/proposal.md
  tchalanet-infra/openspec/changes/infra-git-workflows-light/specs/ci-cd/spec.md
  tchalanet-infra/openspec/changes/infra-git-workflows-light/tasks.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/design.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/proposal.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/specs/infra-local-server/spec.md
  tchalanet-infra/openspec/changes/infra-refactor-local-server-v0/tasks.md
Due: prettier --write

chore(openspec): remove obsolete files from Flutter mobile migration specification
  tchalanet-mobile/openspec/changes/archive/2026-05-07-migrate-mobile-from-nx-ionic-to-flutter/claude-implementation-prompt.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-migrate-mobile-from-nx-ionic-to-flutter/design.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-migrate-mobile-from-nx-ionic-to-flutter/docs/flutter-mobile-local-test.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-migrate-mobile-from-nx-ionic-to-flutter/proposal.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-migrate-mobile-from-nx-ionic-to-flutter/specs/mobile-app/spec.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-migrate-mobile-from-nx-ionic-to-flutter/tasks.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/README.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/claude-implementation-prompt.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/design.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/docs/flutter-mobile-architecture-and-upgrade.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/proposal.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/specs/mobile-flutter-architecture/spec.md
  tchalanet-mobile/openspec/changes/archive/2026-05-07-mobile-flutter-architecture-upgrade/tasks.md
  tchalanet-mobile/openspec/changes/create-feature-pos-sell-ticket/.openspec.yaml
Due: prettier --write

chore(openspec): reorganize AI agent files into context-specific templates and archive obsolete specifications
  .agents/agents/api-controller-cleanup.md
  .agents/agents/batch-scheduler-agent.md
  .agents/agents/catalog-domain-creator.md
  .agents/agents/cleanup-agent.md
  .agents/agents/domain-core-creator.md
  .agents/agents/domain-reviewer.md
  .agents/agents/event-listener-agent.md
  .agents/agents/feature-bff-creator.md
  .agents/agents/reader-port-implementation.md
  .agents/agents/repository-persistence-adapter.md
  .agents/agents/test-generator-agent.md
  openspec/changes/ai-agents/README.md
  openspec/changes/ai-agents/templates/agent-task-template.md
  openspec/changes/ai-agents/templates/review-output-template.md
  openspec/changes/ai-agents/usage/CLAUDE_CODE.md
  openspec/changes/ai-agents/usage/CODEX.md
  openspec/changes/ai-agents/usage/COPILOT.md
  openspec/changes/ai-agents/usage/EXAMPLE_PROMPTS.md
  openspec/changes/archive/2026-05-07-organize-ai-agent-files/design.md
  openspec/changes/archive/2026-05-07-organize-ai-agent-files/proposal.md
  openspec/changes/archive/2026-05-07-organize-ai-agent-files/specs/ai-agent-context/spec.md
  openspec/changes/archive/2026-05-07-organize-ai-agent-files/tasks.md
  openspec/specs/ai-agent-context/spec.md
Due: prettier --write

chore(audit): archive hardening spec and expose audit logs
  tchalanet-server/openspec/changes/archive/2026-05-07-audit-system-hardening/design.md
  tchalanet-server/openspec/changes/archive/2026-05-07-audit-system-hardening/proposal.md
  tchalanet-server/openspec/changes/archive/2026-05-07-audit-system-hardening/specs/audit/spec.md
  tchalanet-server/openspec/changes/archive/2026-05-07-audit-system-hardening/tasks.md
  tchalanet-server/src/main/java/com/tchalanet/server/common/types/enums/AuditAction.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/DOMAIN_AUDIT.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/command/handler/PurgeOldAuditEventsCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/command/model/PurgeOldAuditEventsCommand.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/command/model/PurgeOldAuditEventsResult.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/port/out/AuditEventReaderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/port/out/AuditEventsCriteria.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/query/handler/ListAuditEventsQueryHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/application/query/model/ListAuditEventsQuery.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/infra/persistence/AuditEventSpringRepository.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/infra/persistence/adapter/AuditEventRepositoryAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/infra/web/AuditEventResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/audit/infra/web/AuditEventRestController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ops/drawresult/DrawResultsOpsController.java
  tchalanet-server/src/test/java/com/tchalanet/server/core/audit/application/command/handler/PurgeOldAuditEventsCommandHandlerTest.java
Due: prettier --write

chore(messages): add internal messages route and HMAC verification / remove notification
  tchalanet-edge-service/.env.example
  tchalanet-edge-service/README.md
  tchalanet-edge-service/docs/internal-messages-hmac-curl.md
  tchalanet-edge-service/openspec/changes/openspec-server-edge-communication-rename/README.md
  tchalanet-edge-service/openspec/changes/p1-rename-notification-route-to-messages/design.md
  tchalanet-edge-service/openspec/changes/p1-rename-notification-route-to-messages/proposal.md
  tchalanet-edge-service/openspec/changes/p1-rename-notification-route-to-messages/specs/edge-internal-messages/spec.md
  tchalanet-edge-service/openspec/changes/p1-rename-notification-route-to-messages/tasks.md
  tchalanet-edge-service/src/app.ts
  tchalanet-edge-service/src/config/env.ts
  tchalanet-edge-service/src/modules/delivery/application/ticket-delivery.service.ts
  tchalanet-edge-service/src/modules/messages/adapters/email/brevo-email-message.sender.ts
  tchalanet-edge-service/src/modules/messages/adapters/slack/slack-message.sender.ts
  tchalanet-edge-service/src/modules/messages/adapters/sms/twilio-sms-message.sender.ts
  tchalanet-edge-service/src/modules/messages/application/send-message.service.ts
  tchalanet-edge-service/src/modules/messages/domain/message.ts
  tchalanet-edge-service/src/modules/messages/http/message-hmac.ts
  tchalanet-edge-service/src/modules/messages/http/message.routes.ts
  tchalanet-edge-service/src/modules/messages/http/message.schemas.ts
  tchalanet-edge-service/src/modules/messages/ports/message-sender.port.ts
  tchalanet-edge-service/src/modules/notifications/adapters/email/brevo-email-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/email/noop-email-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/slack/slack-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/adapters/sms/noop-sms-notification.sender.ts
  tchalanet-edge-service/src/modules/notifications/domain/notification-channel.ts
  tchalanet-edge-service/src/modules/notifications/domain/notification-message.ts
  tchalanet-edge-service/src/modules/notifications/domain/notification-severity.ts
  tchalanet-edge-service/src/modules/notifications/http/notification.routes.ts
  tchalanet-edge-service/src/modules/notifications/ports/notification-sender.port.ts
  tchalanet-edge-service/tests/message.routes.test.ts
  tchalanet-edge-service/tests/message.service.test.ts
  tchalanet-edge-service/tests/notification.routes.test.ts
  tchalanet-edge-service/tests/notification.service.test.ts
Due: nx affected:lint --fix, prettier --write

chore(communication): refactor notification handling to use outbound message gateway and communication channels
  tchalanet-server/src/main/java/com/tchalanet/server/common/batch/notification/BatchEventNotificationService.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/api/CommunicationChannel.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/api/OutboundMessageGateway.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/api/OutboundMessageRequest.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/api/OutboundRecipient.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/edge/EdgeCommunicationConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/edge/EdgeCommunicationGatewayAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/edge/EdgeCommunicationProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/communication/edge/EdgeHmacSigner.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/notification/NotificationGatewayPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/notification/model/NotificationTarget.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/notification/model/SendNotificationPayload.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/DOMAIN_NOTIFICATION.md
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/command/handler/SendNotificationCommandHandler.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/application/mapper/OutboundMessageMapper.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/config/EdgeNotificationConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/config/EdgeNotificationProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/notification/infra/external/EdgeNotificationGatewayAdapter.java
  tchalanet-server/src/main/resources/application.yaml
Due: prettier --write

chore(document): implement receipt rendering and QR code generation components
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/escpos/EscPosBuilder.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/pdf/ReceiptPdfRenderer.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/qr/QrRenderer.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/qr/escpos/EscPosQrRenderer.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/qr/zxing/ZxingPngQrRenderer.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/receipt/ReceiptLine.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/receipt/ReceiptModel.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/document/receipt/ReceiptSpan.java
Due: none

chore(audit): add new action types and simplify public draw result queries
  tchalanet-server/src/main/java/com/tchalanet/server/common/types/enums/AuditAction.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/drawresult/application/query/model/ListPublicDrawResultSlotsQuery.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/PublicDrawResultsProvider.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/publicdrawresults/PublicDrawResultService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/EdgeTicketDeliveryGatewayService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/TicketDeliveryController.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/app/EdgeTicketDeliveryGateway.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/app/TicketDeliveryService.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/config/TicketDeliveryConfig.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/config/TicketDeliveryProperties.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/model/DeliverTicketRequest.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/model/DeliverTicketResponse.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/model/EdgeDeliveryPayload.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/model/TicketDeliveryChannel.java
  tchalanet-server/src/main/java/com/tchalanet/server/features/ticketdelivery/model/TicketDeliveryStatus.java
Due: none

chore(bus): refactor SimpleCommandBus and SimpleQueryBus for improved clarity and performance
  tchalanet-server/src/main/java/com/tchalanet/server/common/bus/SimpleCommandBus.java
  tchalanet-server/src/main/java/com/tchalanet/server/common/bus/SimpleQueryBus.java
Due: none

chore(bus): refactoring
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/infra/http/BillingGatewayNoopAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/infra/http/KeycloakUserProvisioningHttpAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/infra/http/UnleashFeatureFlagHttpAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/port/out/BillingGatewayPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/port/out/BillingGatewayRequest.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/port/out/FeatureFlagPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/port/out/KeycloakUserProvisioningPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/external/port/out/SearchIndexPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/featureflags/application/FeatureFlagService.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/featureflags/domain/ports/out/FeatureFlagProviderPort.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/featureflags/infra/adapter/SimpleFeatureFlagProviderAdapter.java
  tchalanet-server/src/main/java/com/tchalanet/server/core/featureflags/infra/aop/FeatureFlagAspect.java
Due: none

chore(bus): refactoring
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/DrawAdminOpsController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/api/command/CreateOutletCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/api/command/OutletConfigPatch.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/api/query/OutletView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/application/command/handler/CreateOutletCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/application/command/handler/UpdateOutletConfigCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/application/query/handler/GetOutletByIdQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/infra/web/admin/OutletAdminAssignmentController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/infra/web/admin/OutletAdminController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/infra/web/admin/model/CreateOutletRequest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/outlet/internal/infra/web/admin/model/OutletResponse.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/CreatePageTemplateUpdateNotificationsCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/pagemodel/internal/application/command/handler/IgnoreTemplateUpdateCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/query/handler/ListTicketsQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/admin/AdminTicketController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/subscription/internal/web/SubscriptionController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/terminal/internal/infra/web/admin/AdminTerminalOperationalControlsController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/terminal/internal/infra/web/admin/TerminalAdminAssignmentController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/terminal/internal/infra/web/admin/TerminalAdminMetadatatController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/terminal/internal/infra/web/tenant/TerminalTenantController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/draw/DrawCalendarOpsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/drawresult/DrawResultsOpsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dashboard/DashboardPageModelResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dashboard/DashboardPageModelService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/config/identity/TenantAdminIdentityController.java
Due: none
