Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(web): add seller detail page
  tchalanet-web/apps/admin-portal/src/app/features/admin/data-access/seller-terminal-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/admin-seller-terminals.routes.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

feat(web): show seller daily stats
  tchalanet-web/apps/admin-portal/src/app/features/admin/financials/data-access/admin-financials-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

refactor(web): normalize seller list async state
  tchalanet-web/apps/admin-portal/src/app/features/admin/data-access/seller-terminal-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): align seller list status badge
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): colocate seller terminal data access
  tchalanet-web/apps/admin-portal/src/app/features/admin/data-access/commission-admin.api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/limits/pages/seller-terminal/admin-limits-seller-terminal.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-success-card/seller-terminal-success-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/data-access/seller-terminal-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/dialogs/block-seller-terminal.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/dialogs/confirm-disable.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/dialogs/create-seller-terminal.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/dialogs/reset-pin.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/dialogs/seller-terminal-limits.dialog.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/new/admin-seller-terminal-new.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): extract seller terminal list components
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-kpi-strip/seller-terminal-kpi-strip.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-table/seller-terminal-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/list/admin-seller-terminals.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): extract seller terminal detail components
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-summary-card/seller-terminal-detail-summary-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-summary-card/seller-terminal-detail-summary-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-summary-card/seller-terminal-detail-summary-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
Due: nx affected:lint --fix, prettier --write

fix(web): show seller stats section errors
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-today-stats-card/seller-terminal-today-stats-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): convert seller creation to signal forms
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-address-form-section/seller-terminal-address-form-section.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-address-form-section/seller-terminal-address-form-section.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-identity-form-section/seller-terminal-identity-form-section.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-identity-form-section/seller-terminal-identity-form-section.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-preview-card/seller-terminal-preview-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-preview-card/seller-terminal-preview-card.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-preview-card/seller-terminal-preview-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-success-card/seller-terminal-success-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-success-card/seller-terminal-success-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/new/admin-seller-terminal-new.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/new/admin-seller-terminal-new.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/new/admin-seller-terminal-new.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

docs(web): document api service decorator
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/data-access/seller-terminal-api.service.ts
  tchalanet-web/docs/conventions/http-api.md
Due: nx affected:lint --fix, prettier --write

refactor(web): centralize console identity forms
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-address-form-section/seller-terminal-address-form-section.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-identity-form-section/seller-terminal-identity-form-section.component.html
  tchalanet-web/docs/conventions/feature-playbook.md
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/index.ts
  tchalanet-web/libs/web/console/src/lib/forms/console-address-form-section.component.html
  tchalanet-web/libs/web/console/src/lib/forms/console-address-form-section.component.ts
  tchalanet-web/libs/web/console/src/lib/forms/console-form-sections.scss
  tchalanet-web/libs/web/console/src/lib/forms/console-person-identity-form-section.component.html
  tchalanet-web/libs/web/console/src/lib/forms/console-person-identity-form-section.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse identity section in platform accounts
  tchalanet-web/apps/platform-portal/src/app/features/platform/super-admins/pages/super-admins/platform-admin-users.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/super-admins/pages/super-admins/platform-admin-users.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/admin-create/platform-tenant-admin-create.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/admin-create/platform-tenant-admin-create.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/web/console/src/lib/forms/console-person-identity-form-section.component.html
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse address section in admin tenant config
  tchalanet-web/apps/admin-portal/src/app/features/admin/business-profile/pages/overview/admin-business-profile.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/business-profile/pages/overview/admin-business-profile.page.ts
  tchalanet-web/libs/web/console/src/lib/forms/console-address-form-section.component.html
  tchalanet-web/libs/web/console/src/lib/forms/console-address-form-section.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): share address summary component
  tchalanet-web/apps/admin-portal/src/app/features/admin/business-profile/pages/overview/admin-business-profile.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/business-profile/pages/overview/admin-business-profile.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/detail/platform-tenant-detail.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenants/pages/detail/platform-tenant-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/web/console/src/index.ts
  tchalanet-web/libs/web/console/src/lib/address/console-address-summary.component.html
  tchalanet-web/libs/web/console/src/lib/address/console-address-summary.component.scss
  tchalanet-web/libs/web/console/src/lib/address/console-address-summary.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): share person identity summary
  tchalanet-web/apps/platform-portal/src/app/features/platform/shared/admin-user-card/platform-admin-user-card.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/shared/admin-user-card/platform-admin-user-card.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/web/console/src/index.ts
  tchalanet-web/libs/web/console/src/lib/identity/console-person-identity-summary.component.html
  tchalanet-web/libs/web/console/src/lib/identity/console-person-identity-summary.component.scss
  tchalanet-web/libs/web/console/src/lib/identity/console-person-identity-summary.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse identity summary in seller detail
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-identity-card/seller-terminal-identity-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-identity-card/seller-terminal-identity-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse existing i18n for platform admin accounts
  tchalanet-web/apps/platform-portal/src/app/features/platform/shared/admin-user-card/platform-admin-user-card.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/shared/admin-user-card/platform-admin-user-card.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/super-admins/pages/admin-user-detail/platform-admin-user-detail.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/super-admins/pages/admin-user-detail/platform-admin-user-detail.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenant-admins/pages/detail/platform-tenant-admin-detail.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenant-admins/pages/detail/platform-tenant-admin-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
Due: nx affected:lint --fix, prettier --write

refactor(web): move generic admin labels to common i18n
  tchalanet-web/apps/platform-portal/src/app/features/platform/shared/admin-user-card/platform-admin-user-card.component.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/shared/admin-user-card/platform-admin-user-card.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenant-admins/pages/list/platform-tenant-admins-global.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/tenant-admins/pages/list/platform-tenant-admins-global.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
Due: nx affected:lint --fix, prettier --write

fix: update game code from HT_MARYAJ_GRATUIT to HT_MARYAJ_GRATIS
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V206__seed_pricing_odds.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V208__seed_receipt_i18n.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V211__seed_promotions_maryaj_gratis.sql
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/game/api/model/GameCode.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/pricing/internal/write/PricingProvisioningService.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/application/service/template/MaryajGratisDefaultTemplate.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/application/command/handler/template/InstantiateDefaultMaryajGratisCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/application/service/PromotionRuleEvaluatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/ConfirmPreparedSaleCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/RegenerateSalePreparationPromotionLineCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/generation/DefaultSelectionGenerationServiceTest.java
Due: none

chore: update service descriptions in 10-routers.yaml for clarity
  tchalanet-infra/traefik/dynamic/10-routers.yaml
Due: none

fix(web): preserve tenant owner access role
  tchalanet-web/libs/core/auth/src/lib/auth-redirect.service.ts
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.ts
  tchalanet-web/libs/core/auth/src/lib/auth.guard.ts
  tchalanet-web/libs/core/auth/src/lib/auth.types.ts
Due: nx affected:lint --fix, prettier --write

feat(web): refresh access permissions from runtime config
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-session.service.ts
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.json
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.platform-portal.json
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-config.ts
  tchalanet-web/libs/web/errors/src/lib/copy/error-feedback-copy.spec.ts
  tchalanet-web/libs/web/errors/src/lib/copy/error-feedback-copy.ts
Due: nx affected:lint --fix, prettier --write

fix(server): move draw channel quota adapter to platform
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/api/DrawChannelCatalog.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/persistence/DrawChannelRepository.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/read/DrawChannelCatalogImpl.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/entitlement/internal/usage/DrawChannelUsageProvider.java
Due: none

feat: align access and platform draw results
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V210__seed_access_context.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssembler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/application/command/handler/CorrectAppliedDrawResultCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/batch/OpsBatchJobController.java
  tchalanet-server/tchalanet-platform/pom.xml
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/TenantUserProvisioningServiceTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/web/me/CurrentUserProfileControllerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/admin/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-create-form/seller-terminal-create-form.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/admin/seller-terminals/components/seller-terminal-detail-facts-card/seller-terminal-detail-facts-card.component.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/components/dialogs/create-game.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/components/dialogs/create-pricing.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/components/dialogs/edit-game.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/catalog/components/dialogs/edit-pricing.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/components/dialogs/generate-draws.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/components/dialogs/override-result.dialog.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/components/dialogs/source-result.dialog.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/components/dialogs/source-result.dialog.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/components/dialogs/source-result.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draw-results.page.html
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draw-results.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/ops/platform-ops-draws.page.scss
  tchalanet-web/apps/platform-portal/src/app/features/platform/operations/pages/page-engine/platform-page-engine.page.ts
  tchalanet-web/apps/platform-portal/src/app/shared/lottery/lottery-assets.ts
  tchalanet-web/libs/web/console/README.md
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.html
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.scss
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.ts
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.models.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
  tchalanet-web/libs/web/console/src/lib/forms/console-address-form-section.component.html
  tchalanet-web/libs/web/console/src/lib/games/console-game-card.component.html
  tchalanet-web/libs/web/console/src/lib/games/console-game-card.component.ts
  tchalanet-web/libs/web/console/src/lib/games/console-games-table.models.ts
Due: nx affected:lint --fix, prettier --write

feat(web): prepare cross-origin portal auth handoff
  openspec/changes/cross-origin-portal-auth-handoff-v1/design.md
  openspec/changes/cross-origin-portal-auth-handoff-v1/proposal.md
  openspec/changes/cross-origin-portal-auth-handoff-v1/specs/portal-auth-handoff/spec.md
  openspec/changes/cross-origin-portal-auth-handoff-v1/tasks.md
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access-dialog.ts
  tchalanet-web/apps/public-portal/src/app/app.config.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.spec.ts
  tchalanet-web/libs/core/auth/src/lib/firebase/login.page.ts
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

refactor(mobile): align POS on SellerTerminal-only model
  tchalanet-mobile/docs/SELL_FLOW.md
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/core/network/api_client.dart
  tchalanet-mobile/lib/core/network/api_exception.dart
  tchalanet-mobile/lib/core/network/connectivity_repository.dart
  tchalanet-mobile/lib/core/network/op_context_interceptor.dart
  tchalanet-mobile/lib/core/storage/op_context_storage.dart
  tchalanet-mobile/lib/features/auth/data/repositories/auth_repository_impl.dart
  tchalanet-mobile/lib/features/cashier/home/data/models/cashier_home_models.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/models/op_context_options.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/services/cashier_op_context_service.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/presentation/view_models/op_context_setup_controller.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/presentation/views/cashier_setup_page.dart
  tchalanet-mobile/lib/features/cashier/session/data/models/cashier_session_models.dart
  tchalanet-mobile/lib/features/cashier/session/data/services/cashier_session_service.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/view_models/cashier_session_controller.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/views/cashier_session_open_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/send_receipt_sheet.dart
  tchalanet-mobile/lib/features/pos/data/models/operational_context_view.dart
  tchalanet-mobile/lib/features/pos/data/models/sales_session_view.dart
  tchalanet-mobile/lib/features/pos/data/models/terminal_binding_view.dart
  tchalanet-mobile/lib/features/pos/presentation/views/pos_dashboard_page.dart
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/auth/auth_repository_test.dart
Due: prettier --write

feat(mobile): seller notifications, freshness, and reactive sell gate
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/notifications/presentation/view_models/notification_center_view_model.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
Due: none

feat(mobile): severity-aware notification badge on POS header
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
Due: none

feat(mobile): severity-tinted icon in notification center rows
  tchalanet-mobile/lib/features/notifications/presentation/views/notification_center_page.dart
Due: none

feat(mobile): readiness attention banner on POS home
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
Due: none

feat(mobile): mark-all-read in the notification center
  tchalanet-mobile/lib/features/notifications/presentation/view_models/notification_center_view_model.dart
  tchalanet-mobile/lib/features/notifications/presentation/views/notification_center_page.dart
  tchalanet-mobile/test/features/notifications/notification_center_page_test.dart
  tchalanet-mobile/test/features/notifications/notification_center_view_model_test.dart
Due: none
