Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

test(web-e2e): fixes from a real run (browser path, error timeout, smoke titles)
  tchalanet-web/apps/web-e2e/playwright.config.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/smoke.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/smoke.spec.ts
  tchalanet-web/apps/web-e2e/src/public-portal/smoke.spec.ts
  tchalanet-web/apps/web-e2e/src/support/pages/login.page.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): Phase 2 — platform support mode (support-tenant)
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.html
  tchalanet-web/apps/platform-portal/src/app/features/support-tenant/platform-support-tenant.page.html
  tchalanet-web/apps/web-e2e/src/platform-portal/support-tenant.spec.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/support-tenant.page.ts
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/proposal.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/specs/web-e2e-support-tenant-phase2/spec.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web-e2e): fix REST stubs — validated variant A green on a real emulator
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): API stub pattern (backend-free unauth tests)
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
Due: nx affected:lint --fix, prettier --write

refactor(web-e2e): Page Object Model + fixtures for the single web-e2e suite
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/admin-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/public-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/auth.ts
  tchalanet-web/apps/web-e2e/src/support/env.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/login.page.ts
Due: nx affected:lint --fix, prettier --write

test(web-e2e): variant A — firebase emulator auth + REST stubs
  .github/workflows/full-validation.yml
  tchalanet-web/apps/admin-portal/project.json
  tchalanet-web/apps/admin-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/platform-portal/project.json
  tchalanet-web/apps/platform-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/public-portal/project.json
  tchalanet-web/apps/public-portal/src/environments/environment.emulator.ts
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/playwright.config.ts
  tchalanet-web/apps/web-e2e/src/admin-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase1.spec.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/support-tenant.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/global-setup.ts
Due: nx affected:lint --fix, prettier --write

ci(web-e2e): make the target non-blocking + enable deployed-portal runs
  .github/workflows/full-validation.yml
  tchalanet-web/apps/web-e2e/playwright.config.ts
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): resolve handoff urls from runtime config
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/shared/start-tenant-admin-access/start-tenant-admin-access-dialog.ts
  tchalanet-web/apps/web-e2e/src/platform-portal/auth-phase3.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-redirect.service.spec.ts
  tchalanet-web/libs/core/auth/src/lib/auth-redirect.service.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-runtime-initializer.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-runtime-initializer.ts
Due: nx affected:lint --fix, prettier --write

test(web): add admin business e2e flow
  tchalanet-web/README.md
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/global/admin-limits-global.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/seller-report-table/seller-report-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/admin-portal/business-admin-v1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-limits.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-report.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
  tchalanet-web/docs/QUICKSTART.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
  tchalanet-web/package.json
  tchalanet-web/tools/run-web-e2e.mjs
  tchalanet-web/tools/serve-portals.mjs
Due: nx affected:lint --fix, prettier --write

test(web): add admin business e2e flow (#336)
  tchalanet-web/README.md
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/upsert-limit-dialog/upsert-limit-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/global/admin-limits-global.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/admin-maryaj-gratis.page.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-game-settings-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/promotions/pages/maryaj-gratis/components/maryaj-offer-panel.component.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/components/seller-report-table/seller-report-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/src/admin-portal/business-admin-v1.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/fixtures.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-limits.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-maryaj-gratis.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-seller-report.page.ts
  tchalanet-web/apps/web-e2e/src/support/pages/admin-setup.page.ts
  tchalanet-web/docs/QUICKSTART.md
  tchalanet-web/openspec/changes/web-e2e-critical-flows-v1/tasks.md
  tchalanet-web/package.json
  tchalanet-web/tools/run-web-e2e.mjs
  tchalanet-web/tools/serve-portals.mjs
Due: nx affected:lint --fix, prettier --write

chore(mobile): align Flutter setup and dependencies
  tchalanet-mobile/README.md
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
Due: prettier --write

docs: complete notification realtime checklist
  tchalanet-server/openspec/changes/private-notification-realtime-v1/tasks.md
Due: prettier --write

fix(web): make private notifications mobile-safe
  tchalanet-web/apps/web-e2e/src/admin-portal/notification-mobile.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/private-shell.page.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notification-bell.component.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.scss
Due: nx affected:lint --fix, prettier --write

docs: reconcile cross-client error contract
  openspec/changes/error-contract-bff-web-v1/design.md
  openspec/changes/error-contract-bff-web-v1/proposal.md
  openspec/changes/error-contract-bff-web-v1/specs/api-error-contract/spec.md
  openspec/changes/error-contract-bff-web-v1/tasks.md
Due: prettier --write

docs: expand error contract rollout plan
  openspec/changes/error-contract-bff-web-v1/design.md
  openspec/changes/error-contract-bff-web-v1/specs/api-error-contract/spec.md
  openspec/changes/error-contract-bff-web-v1/tasks.md
Due: prettier --write

docs: inventory error contract risks
  openspec/changes/error-contract-bff-web-v1/inventory.md
  openspec/changes/error-contract-bff-web-v1/tasks.md
Due: prettier --write

docs: map initial BFF error ownership
  openspec/changes/error-contract-bff-web-v1/inventory.md
Due: prettier --write

feat(common): add code-first problem descriptors
  openspec/changes/error-contract-bff-web-v1/inventory.md
  openspec/changes/error-contract-bff-web-v1/tasks.md
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ErrorCategory.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ErrorDescriptor.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ErrorRetryPolicy.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ProblemRest.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/web/error/ErrorDescriptorTest.java
Due: prettier --write

fix(pos): hide receipt profile validation detail
  openspec/changes/error-contract-bff-web-v1/inventory.md
  openspec/changes/error-contract-bff-web-v1/tasks.md
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ProblemRest.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/web/error/ErrorDescriptorTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketReceiptService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/error/PosTicketReceiptErrorCodes.java
Due: prettier --write

feat(error-contract): register descriptors and migrate login
  openspec/changes/error-contract-bff-web-v1/tasks.md
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/RequestContextErrorDescriptorContributor.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/api/CommonErrorDescriptorContributor.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ErrorDescriptorContributor.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/ErrorDescriptorRegistry.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/web/error/ErrorDescriptorTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/error/PosTicketReceiptErrorCodes.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/error/PosTicketReceiptErrorDescriptorContributor.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/api/error/IdentityErrorCodes.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/api/error/IdentityErrorDescriptorContributor.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/service/PublicLoginIdentifierService.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/PublicLoginIdentifierServiceTest.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
Due: prettier --write

fix(error-contract): stabilize context and promotion feedback
  tchalanet-server/tchalanet-app/src/main/java/com/tchalanet/server/app/config/security/SecurityConfig.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/config/security/SecurityConfigRouteTest.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/RequestContextErrorCodes.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/tenant/TenantContextResolver.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/web/TchContextFilter.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/context/web/TchContextFilterSlice5Test.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/web/error/GlobalErrorHandlerTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/api/model/PromotionNoticeCodes.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/internal/application/query/handler/EvaluatePromotionQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/sale/SaleIssueFactory.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/application/query/handler/EvaluatePromotionQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/sale/SaleIssueFactoryTest.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
Due: prettier --write

chore(server): apply import and formatting fixes
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsDailyProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsDrawProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsSellerTerminalDrawProjector.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/event/AnalyticsEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/application/port/out/DrawSummaryReaderPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/CreateMissingResultReminderCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultReminderCorrelationKeys.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/event/DrawResultEventListener.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/haiti/internal/infra/web/adminapi/AdminTchalaController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptAssembler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsDrawProjectorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/analytics/internal/application/service/AnalyticsSellerTerminalDrawProjectorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/CreateMissingResultReminderCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultReminderExpirationPolicyTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/promotion/internal/application/query/handler/EvaluatePromotionQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/result/RecordDrawTicketsResultCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatterTest.java
Due: none

fix(server): self-heal seller-terminal PIN reset and restore cashier shell fragments
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/cashier/private_quick_actions_cashier.json
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/cashier/private_shell_cashier.json
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/identity/CoreSellerTerminalIdentityProvisionAdapter.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/api/IdentityUserNotFoundException.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/firebase/FirebaseUserProvisionService.java
Due: prettier --write

fix(mobile): connect physical-device POS to local backend contract
  tchalanet-mobile/android/app/src/main/res/xml/network_security_config.xml
  tchalanet-mobile/lib/core/config/firebase_config.dart
  tchalanet-mobile/lib/core/network/api_client.dart
  tchalanet-mobile/lib/features/cashier/home/data/models/cashier_home_models.dart
Due: none

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
