Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

docs - neutral identity provider pattern + retire liens payout/ledger/offlinesync/réconciliation
  tchalanet-docs/docs/00-overview/what-is-tchalanet.md
  tchalanet-docs/docs/02-functional/domains/index.md
  tchalanet-docs/docs/02-functional/flows/index.md
  tchalanet-docs/docs/02-functional/index.md
  tchalanet-server/docs/conventions/identity-providers.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/FEATURE_CASHIER.md
Due: prettier --write

docs - request-context : identité vs autorisation, acteur vs rôle, SellerTerminal machine identity
  tchalanet-server/docs/conventions/context/request-context.md
Due: prettier --write

docs - request-context pipeline exact + auth-flow X-Tch-Client-Type documenté
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-server/docs/conventions/context/request-context.md
Due: prettier --write

docs - auth-flow.puml : pipeline complet (public/identity/admin-tenant/platform)
  tchalanet-docs/docs/01-architecture/flows/auth-flow.puml
Due: none

docs - flows : nettoyage offline-sync/payout/reconciliation + corrections seller-onboarding et settlement
  tchalanet-docs/docs/02-functional/flows/offline-sync.md
  tchalanet-docs/docs/02-functional/flows/payout-field-flow.md
  tchalanet-docs/docs/02-functional/flows/reconciliation.md
  tchalanet-docs/docs/02-functional/flows/seller-onboarding.md
  tchalanet-docs/docs/02-functional/flows/settlement.md
Due: prettier --write

docs - suppression domaines retirés + nettoyage refs outlet/payout/ledger/session/autonomy/reconciliation
  tchalanet-docs/docs/00-guidelines/glossary.md
  tchalanet-docs/docs/02-functional/domains/autonomy.md
  tchalanet-docs/docs/02-functional/domains/index.md
  tchalanet-docs/docs/02-functional/domains/ledger.md
  tchalanet-docs/docs/02-functional/domains/outlet.md
  tchalanet-docs/docs/02-functional/domains/payout.md
  tchalanet-docs/docs/02-functional/domains/session.md
  tchalanet-docs/docs/02-functional/flows/draw-execution.md
  tchalanet-docs/docs/02-functional/flows/offline-sync.md
  tchalanet-docs/docs/02-functional/flows/payout-field-flow.md
  tchalanet-docs/docs/02-functional/flows/reconciliation.md
  tchalanet-docs/docs/02-functional/flows/sell-ticket.md
  tchalanet-docs/docs/02-functional/flows/settlement.md
Due: prettier --write

refactor - renommer clés permission POS : seller_terminal.{sell,ticket.*} → ticket.{sell,read_own,reprint_own}
  tchalanet-docs/docs/01-architecture/flows/authentication-flow.md
  tchalanet-server/docs/conventions/context/request-context.md
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/cashier/dashboard/CashierDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/cashier/home/CashierHomeServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/cashier/tickets/app/CashierTicketReceiptServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/cashier/tickets/app/CashierTicketsServiceTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/SalePreparationController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/TicketLifecycleController.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/infra/web/TicketSalesController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/api/PermissionKeys.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepImpl.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/accesscontrol/api/permissionevaluator/TchPermissionEvaluatorTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/accesscontrol/internal/web/AccessResolutionStepSellerTerminalTest.java
Due: prettier --write

feat(v0) - retirer TchRole.CASHIER des guards actifs et nettoyer l'identité SellerTerminal
  tchalanet-docs/docs/00-guidelines/glossary.md
  tchalanet-docs/docs/01-architecture/security-model.md
  tchalanet-server/docs/conventions/context/request-context.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V241__seller_terminal_external_identity_drop_firebase_check.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/arch/FeatureArchitectureTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/dashboard/PosDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/home/PosHomeServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketReceiptServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/settings/internal/web/TenantSettingsController.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/context/TchRequestContext.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/security/TchRole.java
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/persistence/rls/RlsAwareDataSourceTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/query/handler/VerifyTicketByPublicCodeQueryHandlerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/bootstrap/privateruntime/app/RuntimeBootstrapService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/dashboard/PosWebDashboardProvider.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/identity/internal/web/me/CurrentUserProfileController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/TenantNotificationController.java
Due: prettier --write

docs - aligner request-context et security-model sur identité provider-neutre V0
  tchalanet-docs/docs/01-architecture/security-model.md
  tchalanet-server/docs/conventions/context/request-context.md
Due: prettier --write

docs - mettre à jour auth-flow.puml : identité provider-neutre V0
  tchalanet-docs/docs/01-architecture/flows/auth-flow.puml
Due: none

docs - request-context : 6 corrections ciblées V0
  tchalanet-server/docs/conventions/context/request-context.md
Due: prettier --write

chore(deps): weekly Dependabot review 2026-06-23
  .agents/dependabot-reports/2026-06-23.md
Due: prettier --write

feat: auth session fixes + sidenav openspec
  tchalanet-web/apps/tch-portal/src/app/core/auth/auth-session.service.ts
  tchalanet-web/apps/tch-portal/src/app/core/auth/firebase/firebase-auth.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/auth/login/login.page.html
  tchalanet-web/apps/tch-portal/src/app/features/auth/login/login.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/catalog/platform-catalog.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/operations/platform-operations.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shell/private-shell.service.ts
  tchalanet-web/docs/auth-flow.md
  tchalanet-web/openspec/changes/admin-superadmin-sidenav-v0/gaps-backend.md
  tchalanet-web/openspec/changes/admin-superadmin-sidenav-v0/proposal.md
  tchalanet-web/openspec/changes/admin-superadmin-sidenav-v0/tasks.md
  tchalanet-web/openspec/changes/admin-tenant-sidenav-v0/gaps-backend.md
  tchalanet-web/openspec/changes/admin-tenant-sidenav-v0/proposal.md
  tchalanet-web/openspec/changes/admin-tenant-sidenav-v0/tasks.md
  tchalanet-web/openspec/changes/platform-superadmin-and-tenant-admin-pages/proposal.md
  tchalanet-web/openspec/changes/platform-superadmin-and-tenant-admin-pages/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor: remove unused admin dialog components and SQL migrations
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/superadmin/private_shell_superadmin.json
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/admin.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/admin/draws/admin-generated-draws.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/catalog/platform-catalog.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/operations/platform-operations.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/platform.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/shell/private-navigation.model.ts
  tchalanet-web/openspec/changes/admin-superadmin-sidenav-v0/tasks.md
  tchalanet-web/openspec/changes/admin-tenant-sidenav-v0/tasks.md
Due: nx affected:lint --fix, prettier --write

test: enforce i18n bundle ownership
  openspec/changes/i18n-split-web-mobile-v1/specs/i18n-local-bundles/spec.md
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/en/component.json
  tchalanet-mobile/assets/i18n/en/surface-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/fr/component.json
  tchalanet-mobile/assets/i18n/fr/surface-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-mobile/assets/i18n/ht/component.json
  tchalanet-mobile/assets/i18n/ht/surface-seller-terminal.json
  tchalanet-mobile/docs/conventions/i18n.md
  tchalanet-mobile/test/core/i18n/i18n_contract_test.dart
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/component.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/component.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/component.json
  tchalanet-web/docs/conventions/i18n.md
  tchalanet-web/tools/i18n-inventory.mjs
Due: prettier --write

refactor(web): translate public ticket receipt labels
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/check-ticket/public-check-ticket.page.html
Due: nx affected:lint --fix, prettier --write

refactor: move shell i18n to surface bundles
  openspec/changes/i18n-split-web-mobile-v1/design.md
  tchalanet-mobile/assets/i18n/en/surface-public.json
  tchalanet-mobile/assets/i18n/fr/surface-public.json
  tchalanet-mobile/assets/i18n/ht/surface-public.json
  tchalanet-mobile/docs/conventions/i18n.md
  tchalanet-mobile/lib/core/i18n/i18n_repository.dart
  tchalanet-mobile/test/core/i18n/i18n_contract_test.dart
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/surface-admin.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/surface-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/surface-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/surface-seller-terminal.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/surface-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/surface-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/surface-seller-terminal.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/surface-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/surface-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/surface-seller-terminal.json
  tchalanet-web/docs/conventions/i18n.md
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.spec.ts
  tchalanet-web/libs/shared-config/src/lib/runtime/runtime-paths.ts
  tchalanet-web/tools/i18n-inventory.mjs
Due: nx affected:lint --fix, prettier --write

refactor(web): trim duplicated public tchala labels
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
Due: prettier --write

refactor(web): reuse shared i18n labels on public results
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/src/app/features/public/results-detail/public-result-detail.page.html
  tchalanet-web/apps/tch-portal/src/app/features/public/results/public-results.page.html
  tchalanet-web/apps/tch-portal/src/app/features/public/shared/components/public-pagination-bar.component.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse shared loading label on public tchala
  tchalanet-web/apps/tch-portal/src/app/features/public/tchala/public-tchala.page.html
Due: nx affected:lint --fix, prettier --write

docs: define shared i18n vocabulary keys
  openspec/changes/i18n-split-web-mobile-v1/design.md
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/en/domain.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/fr/domain.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-mobile/assets/i18n/ht/domain.json
  tchalanet-mobile/docs/conventions/i18n.md
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/domain.json
  tchalanet-web/docs/conventions/i18n.md
Due: prettier --write

feat: translate platform i18n override UI
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/component.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/component.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/component.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/catalog/components/dialogs/create-i18n-override.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/catalog/components/dialogs/edit-i18n-override.dialog.ts
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/catalog/pages/translations/platform-catalog-i18n-overrides.page.html
  tchalanet-web/apps/tch-portal/src/app/features/private/platform/catalog/pages/translations/platform-catalog-i18n-overrides.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse shared public form labels
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/contact/public-contact-form.component.html
  tchalanet-web/apps/tch-portal/src/app/features/public/operators/public-operators.page.html
Due: nx affected:lint --fix, prettier --write

refactor(web): normalize public rules i18n labels
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/en/domain.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/fr/domain.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-mobile/assets/i18n/ht/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/rules/public-rules.data.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/rules/public-rules.page.html
  tchalanet-web/tools/i18n-inventory.mjs
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse shared labels in public news help
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/help/public-help.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/news/public-news.page.ts
Due: nx affected:lint --fix, prettier --write

refactor(web): reuse shared login form labels
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-auth.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-auth.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-auth.json
  tchalanet-web/apps/tch-portal/src/app/core/auth/firebase/login.page.html
  tchalanet-web/apps/tch-portal/src/app/features/auth/login/login.page.html
Due: nx affected:lint --fix, prettier --write

refactor(web): remove duplicated public results labels
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/results/public-results.page.ts
Due: nx affected:lint --fix, prettier --write

docs(web): clarify public widget structure
  tchalanet-web/docs/conventions/feature-structure.md
  tchalanet-web/docs/conventions/naming.md
  tchalanet-web/docs/conventions/placement-guide.md
  tchalanet-web/libs/widgets/src/lib/widget-registry.spec.ts
  tchalanet-web/libs/widgets/src/lib/widget-registry.ts
  tchalanet-web/libs/widgets/src/lib/widgets/public/hero/hero.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/public/hero/hero.widget.scss
  tchalanet-web/libs/widgets/src/lib/widgets/public/hero/hero.widget.ts
Due: nx affected:lint --fix, prettier --write

refactor(i18n): centralize generic search labels
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/tchala/public-tchala.page.html
Due: nx affected:lint --fix, prettier --write

refactor(web): forbid page-local public nav labels
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/docs/conventions/i18n.md
  tchalanet-web/tools/i18n-inventory.mjs
Due: prettier --write

refactor(i18n): move bet field labels to domain
  tchalanet-mobile/assets/i18n/en/domain.json
  tchalanet-mobile/assets/i18n/fr/domain.json
  tchalanet-mobile/assets/i18n/ht/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/rules/public-rules.page.html
  tchalanet-web/docs/conventions/i18n.md
  tchalanet-web/tools/i18n-inventory.mjs
Due: nx affected:lint --fix, prettier --write

refactor(i18n): move draw filter labels to domain
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/en/domain.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/fr/domain.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-mobile/assets/i18n/ht/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/en/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr/feature-public.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/common.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/domain.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht/feature-public.json
  tchalanet-web/apps/tch-portal/src/app/features/public/results/public-results.page.html
  tchalanet-web/apps/tch-portal/src/app/features/public/results/public-results.page.ts
  tchalanet-web/docs/conventions/i18n.md
  tchalanet-web/tools/i18n-inventory.mjs
Due: nx affected:lint --fix, prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
