Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

feat(admin): expose daily admin actions
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.html
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/seller-terminals/pages/detail/admin-seller-terminal-detail.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/proposal.md
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/specs/admin-navigation/spec.md
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): tune dashboard quick actions
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/specs/admin-navigation/spec.md
Due: nx affected:lint --fix, prettier --write

fix(admin): use ui.up() mixin instead of literal media query
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.scss
Due: prettier --write

refactor(admin): unify quick actions — backend is single source of truth
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.html
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/dashboard/admin-dashboard.page.ts
  tchalanet-web/libs/shared-assets/public/assets/config/page-private-fallback.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

i18n(web): translate draw detail activity and results table
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.html
Due: nx affected:lint --fix, prettier --write

fix(i18n): replace hardcoded French in draw labels with i18n keys
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/admin-draw-results.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-results/detail/admin-draw-result-detail.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/draw-result-drawer/draw-result-drawer.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/draw-result-drawer/draw-result-drawer.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/admin-draw-detail.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/detail/components/draw-detail-activity/draw-detail-activity.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-detail.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-lifecycle.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-lifecycle.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-results.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-results.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draws.page.html
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draws.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.html
  tchalanet-web/libs/web/console/src/lib/draw-results/console-draw-results-table.component.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-detail.component.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draw-labels.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
Due: nx affected:lint --fix, prettier --write

fix(admin): prevent dashboard mobile overflow
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.spec.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.spec.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/terminal-performance/terminal-performance.widget.scss
  tchalanet-web/openspec/changes/admin-nav-vocabulary-v1/specs/admin-navigation/spec.md
Due: nx affected:lint --fix, prettier --write

docs: add UX audit reports — admin portal and mobile
  output/audits/admin-validation-report.html
  output/audits/ux-audit-mobile.html
Due: nx affected:lint --fix, prettier --write

feat(pos): add direct receipt printer configuration
  tchalanet-mobile/android/app/src/main/AndroidManifest.xml
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/data/models/pos_profile_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/pos_profile_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/bluetooth_esc_pos_printer.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_service.dart
  tchalanet-mobile/openspec/changes/mobile-ux-audit-remediation-v1/design.md
  tchalanet-mobile/openspec/changes/mobile-ux-audit-remediation-v1/proposal.md
  tchalanet-mobile/openspec/changes/mobile-ux-audit-remediation-v1/specs/mobile-ux-audit/spec.md
  tchalanet-mobile/openspec/changes/mobile-ux-audit-remediation-v1/tasks.md
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/design.md
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/proposal.md
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/specs/pos-fast-sale-direct-print/spec.md
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/tasks.md
  tchalanet-mobile/openspec/changes/post-sale-delivery-channels-v1/design.md
  tchalanet-mobile/openspec/changes/post-sale-delivery-channels-v1/proposal.md
  tchalanet-mobile/openspec/changes/post-sale-delivery-channels-v1/specs/post-sale-delivery/spec.md
  tchalanet-mobile/openspec/changes/post-sale-delivery-channels-v1/tasks.md
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_controller_test.dart
  tchalanet-mobile/test/features/cashier/tickets/ticket_reprint_dialog_test.dart
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/design.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/proposal.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/specs/pos-profile-receipt-settings/spec.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__add_terminal_pos_receipt_settings.sql
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/app/PosProfileService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileReceiptSettings.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/UpdatePosProfileSettingsRequest.java
Due: prettier --write

refactor(pos): move terminal settings persistence to core
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/UpdateSellerTerminalSettingsCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalNotificationSettingsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalReceiptSettingsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalSettingsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/query/GetSellerTerminalSettingsQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/port/out/SellerTerminalSettingsReaderPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/port/out/SellerTerminalSettingsWriterPort.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/query/handler/GetSellerTerminalSettingsQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/persistence/SellerTerminalSettingsJdbcAdapter.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/app/PosProfileService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/profile/app/PosProfileServiceTest.java
Due: none

refactor(pos): isolate printer contracts
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/bluetooth_esc_pos_printer.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_contracts.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_service.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/infra/persistence/SellerTerminalSettingsJdbcAdapter.java
Due: none

fix(db): fold terminal settings into core schema
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/design.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__add_terminal_pos_receipt_settings.sql
Due: prettier --write

fix(web): use local proxy for admin api
  tchalanet-web/libs/shared-assets/public/assets/config/runtime.admin-portal.json
Due: prettier --write

fix(mobile): use real firebase auth by default
  tchalanet-mobile/lib/core/config/firebase_config.dart
Due: none

fix(mobile): add home navigation from settings
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
Due: none

fix(receipt): honor terminal paper width and locale
  tchalanet-mobile/lib/core/network/api_client.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_service.dart
  tchalanet-mobile/test/features/cashier/tickets/ticket_reprint_dialog_test.dart
Due: none

fix(pos): default terminals to 58mm direct printing
  tchalanet-mobile/lib/features/cashier/home/data/models/pos_profile_models.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/design.md
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/specs/pos-fast-sale-direct-print/spec.md
  tchalanet-mobile/openspec/changes/pos-fast-sale-direct-print-v1/tasks.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/design.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/specs/pos-profile-receipt-settings/spec.md
  tchalanet-server/openspec/changes/pos-terminal-receipt-settings-v1/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__add_terminal_pos_receipt_settings.sql
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/model/PosProfileReceiptSettings.java
Due: prettier --write

fix(server): move POS settings persistence to core
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/command/UpdateSellerTerminalSettingsCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalNotificationSettingsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalReceiptSettingsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/model/SellerTerminalSettingsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/api/query/GetSellerTerminalSettingsQuery.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/command/handler/UpdateSellerTerminalSettingsCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sellerterminal/internal/application/query/handler/GetSellerTerminalSettingsQueryHandler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/profile/app/PosProfileService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/profile/app/PosProfileServiceTest.java
Due: none

fix(pos): tighten receipt printing and verification
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/printing/printer_service.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_scan_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_controller_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_service_test.dart
  tchalanet-mobile/test/features/cashier/tickets/ticket_reprint_dialog_test.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptGameLinesFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketVerificationUrlBuilder.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatterTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptGameLinesFormatterTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketVerificationUrlBuilderTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/TicketScanResolver.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/TicketScanResolverTest.java
Due: none

feat(public): scan ticket verification QR
  tchalanet-web/apps/public-portal/src/app/features/public/check-ticket/public-check-ticket.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/check-ticket/public-check-ticket.page.scss
  tchalanet-web/apps/public-portal/src/app/features/public/check-ticket/public-check-ticket.page.spec.ts
  tchalanet-web/apps/public-portal/src/app/features/public/check-ticket/public-check-ticket.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
Due: nx affected:lint --fix, prettier --write

test(pos): cover ticket verification inputs
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_service_test.dart
  tchalanet-web/apps/public-portal/src/app/features/public/check-ticket/public-check-ticket.page.spec.ts
Due: nx affected:lint --fix, prettier --write

feat(mobile): route ticket app links to POS verify
  VERSIONS.md
  tchalanet-mobile/android/app/src/main/AndroidManifest.xml
  tchalanet-mobile/lib/app/app.dart
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/app/deep_link_host.dart
  tchalanet-mobile/lib/app/deep_link_parser.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
  tchalanet-mobile/test/app/deep_link_host_test.dart
Due: prettier --write

chore(deps): weekly Dependabot review 2026-08-11
  .agents/dependabot-reports/2026-08-11.md
Due: prettier --write

feat(mobile): add POS QR camera scanner
  VERSIONS.md
  tchalanet-mobile/android/app/src/main/AndroidManifest.xml
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
Due: prettier --write

fix(mobile): localize POS settings labels
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
Due: prettier --write

feat(mobile): expose ticket verification on POS home
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
Due: prettier --write

fix(mobile): refine Haitian ticket verify label
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
Due: prettier --write

fix(db): make terminal receipt settings migration idempotent
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__add_terminal_pos_receipt_settings.sql
Due: none

feat(mobile): regenerate prepared promotion lines
  tchalanet-mobile/assets/i18n/en/common.json
  tchalanet-mobile/assets/i18n/fr/common.json
  tchalanet-mobile/assets/i18n/ht/common.json
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_controller_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_service_test.dart
Due: prettier --write

fix(admin): sync seller quick action pagemodel
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V100__create_core_tables.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V218__add_terminal_pos_receipt_settings.sql
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V219__default_terminal_pos_receipt_settings.sql
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-web/libs/shared-assets/public/assets/config/page-private-fallback.json
Due: prettier --write

test(admin): cover create seller quick action
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
Due: none

optimize: reduce GitHub Actions costs by -40%
  .github/workflows/full-validation.yml
  .github/workflows/mobile-pr.yml
  .github/workflows/server-pr.yml
  .github/workflows/web-pr.yml
Due: none

ci(mobile): guard installable release artifacts
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-mobile/docs/RELEASE.md
  tchalanet-mobile/scripts/validate_android_artifact.sh
Due: prettier --write

ci(mobile): make emulator install smoke optional
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-mobile/docs/RELEASE.md
Due: prettier --write

feat(admin): inline slot toggle on draw channel provider cards
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-provider-card/draw-channel-provider-card.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-slot-row/draw-channel-slot-row.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/pages/overview/admin-draw-channels.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

ci(mobile): remove emulator install gate
  .github/workflows/mobile-distribute-staging.yml
  tchalanet-mobile/docs/RELEASE.md
Due: prettier --write

feat(admin): add block-number quick dialog for limits
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/components/block-number-quick-dialog/block-number-quick-dialog.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.html
  tchalanet-web/apps/admin-portal/src/app/features/limits/pages/number/admin-limits-number.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(server): clean up compact POS receipt labels
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V220__fix_pos_receipt_ht_labels.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptBrandingFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptFactsFormatter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptI18nResolver.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/sales/internal/application/receipt/formatter/TicketReceiptLabelResolver.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/receipt/TicketReceiptPrintFormatterTest.java
Due: none

fix(mobile): isolate debug Android package
  tchalanet-mobile/android/app/build.gradle.kts
  tchalanet-mobile/docs/RELEASE.md
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
