Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

fix(pos): scope seller ticket reports to terminal
  tchalanet-server/openspec/changes/seller-terminal-ticket-visibility-v1/proposal.md
  tchalanet-server/openspec/changes/seller-terminal-ticket-visibility-v1/tasks.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
Due: prettier --write

fix(infra): keep real-firebase runtime deploy alive
  tchalanet-infra/openspec/changes/runtime-deploy-real-firebase-smoke-v1/proposal.md
  tchalanet-infra/openspec/changes/runtime-deploy-real-firebase-smoke-v1/tasks.md
  tchalanet-infra/scripts/remote/deploy-runtime-services.sh
  tchalanet-infra/scripts/tests/test-deploy-runtime-services.sh
Due: prettier --write

fix(server): send draw-result alerts to a Slack channel that exists
  tchalanet-edge-service/src/modules/messages/http/message.routes.ts
  tchalanet-server/tchalanet-app/src/main/resources/application-draw.yaml
Due: nx affected:lint --fix, prettier --write

feat(pos): open a per-draw seller report from the home draw list
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/terminal_stats_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_draw_report_page_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_stats_page_test.dart
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/api/model/CashierDashboardStatsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/query/handler/GetCashierDashboardStatsQueryHandler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/DrawStatLineItem.java
Due: prettier --write

ci(edge): repair the edge PR check
  .github/workflows/edge-pr.yml
  tchalanet-edge-service/package.json
  tchalanet-edge-service/pnpm-lock.yaml
  tchalanet-edge-service/pnpm-workspace.yaml
Due: prettier --write

fix(edge): synchronize npm lockfile
  tchalanet-edge-service/openspec/changes/edge-npm-lockfile-sync-v1/proposal.md
  tchalanet-edge-service/openspec/changes/edge-npm-lockfile-sync-v1/tasks.md
  tchalanet-edge-service/package-lock.json
Due: prettier --write

fix(pos): make the seller screens survive a 360x720 POS terminal
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/design_system/components/tch_brand_mark.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-mobile/test/features/cashier/home/cashier_home_page_layout_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_draw_report_page_test.dart
Due: prettier --write

fix(core): dispatch result notifications after commit
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/OverrideDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
Due: none

test(pos): pin how many draws stay visible with the summary on top
  tchalanet-mobile/test/features/cashier/home/cashier_home_page_layout_test.dart
Due: none

fix(pos): recover 135 dp on the sell screen at 360x720
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/games/PosGamesService.java
Due: none

docs(i18n): add trilingual editorial audit baseline
  openspec/BACKLOG.md
  openspec/changes/i18n-trilingual-editorial-pass-v1/consolidation.md
  openspec/changes/i18n-trilingual-editorial-pass-v1/design.md
  openspec/changes/i18n-trilingual-editorial-pass-v1/proposal.md
  openspec/changes/i18n-trilingual-editorial-pass-v1/tasks.md
  scripts/i18n-audit.py
  tchalanet-docs/docs-public/glossaire/index.md
  tchalanet-docs/docs/00-guidelines/glossary.md
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-seller-terminal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: prettier --write

feat(pos): add seller draw reports and analytics retention
  tchalanet-edge-service/src/modules/messages/http/message.routes.ts
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/terminal_stats_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_draw_report_page_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_stats_page_test.dart
  tchalanet-server/tchalanet-app/src/main/resources/application-draw.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/api/model/CashierDashboardStatsView.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/api/model/PurgeAnalyticsResult.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/command/handler/PurgeAnalyticsCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/application/query/handler/GetCashierDashboardStatsQueryHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AbstractAnalyticsArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsDailyArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsDrawArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsSelectionArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsSellerTerminalDrawArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSelectionRepository.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/persistence/AnalyticsSellerTerminalDrawRepository.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/DrawStatLineItem.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
Due: nx affected:lint --fix, prettier --write

fix(server): align the stored spelling of Bòlèt
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V213__fix_bolet_spelling.sql
Due: none

fix(pos): reuse main ticket isolation
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/PosTicketsController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
Due: none

chore(pos): align ticket isolation test with main
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
Due: none

feat(archive): add analytics archive datasets
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AbstractAnalyticsArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsDailyArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsDrawArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsSelectionArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsSellerTerminalDrawArchiveDatasetProvider.java
Due: none

fix(mobile): make StatCard.accentColor usable
  tchalanet-mobile/lib/design_system/components/stat_card.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-mobile/test/design_system/stat_card_test.dart
Due: none

chore(archive): keep analytics rebuildable
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AbstractAnalyticsArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsDailyArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsDrawArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsSelectionArchiveDatasetProvider.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/analytics/internal/infra/archive/AnalyticsSellerTerminalDrawArchiveDatasetProvider.java
Due: none

fix(pos): give the ticket lines room on the sell screen at 360x720
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
Due: none

fix(web): refresh admin notifications when bell opens
  tchalanet-web/libs/notifications/src/lib/private/private-notification-bell.component.ts
Due: nx affected:lint --fix, prettier --write

fix(pos): keep every game visible on the sell screen
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
Due: none

fix(pos): stop the sell screen losing work to a single tap
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
Due: prettier --write

fix(pos): make removing a bet line cheap again
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
Due: prettier --write

fix(notifications): resolve tenant admin scope
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/NotificationAdminGate.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/NotificationRoleCodeResolver.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/web/TenantNotificationController.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/notification/internal/web/NotificationRoleCodeResolverTest.java
  tchalanet-web/libs/notifications/src/lib/private/private-notifications-realtime.service.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align tenant admin seller navigation label
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
Due: prettier --write

fix(pos): stop echoing the last bet twice while typing
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
Due: none

fix(pos): stop the undo offer blocking the next bet
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_layout_test.dart
Due: none

fix(server): order the POS game chips deliberately
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V214__order_tenant_games.sql
Due: none

fix(platform): expose manual result action for closed draws
  tchalanet-web/apps/platform-portal/src/app/features/operations/components/dialogs/manual-result.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-detail.page.ts
Due: nx affected:lint --fix, prettier --write

feat(pos): open the seller report on any date, and drop net revenue
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_draw_report_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_draw_report_page_test.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_stats_page_test.dart
Due: prettier --write

fix(draws): align result actions with draw transitions
  tchalanet-server/openspec/changes/result-provider-notification-reminders/proposal.md
  tchalanet-server/openspec/changes/result-provider-notification-reminders/specs/drawresult-processing/spec.md
  tchalanet-server/openspec/changes/result-provider-notification-reminders/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V214__restrict_draw_result_confirmation_to_platform.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/web/DrawAdminOpsController.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/draw/internal/infra/web/DrawAdminOpsControllerTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/dialogs/admin-draw-lifecycle.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/components/dialogs/draw-action-dialogs.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/components/dialogs/draw-lifecycle-action.dialog.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-action-matrix.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-detail.page.spec.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-detail.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draw-lifecycle.page.ts
  tchalanet-web/apps/platform-portal/src/app/features/operations/pages/ops/platform-ops-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(server): avoid duplicate draw result migration version
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V215__restrict_draw_result_confirmation_to_platform.sql
Due: none

ci(staging): allow ashburn infra recreation
  .github/workflows/deploy-staging.yml
  .github/workflows/reusable-staging-core-infra.yml
  tchalanet-infra/scripts/hcloud/01-create-network.sh
  tchalanet-infra/scripts/hcloud/staging-create.sh
Due: none

infra(staging): use dedicated us-east network
  tchalanet-infra/scripts/hcloud/01-create-network.sh
  tchalanet-infra/scripts/hcloud/staging-create.sh
Due: none

feat(public-portal): translate all hardcoded strings to i18n keys (ht/fr/en)
  tchalanet-web/apps/public-portal/src/app/features/public/help/public-help.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/help/public-help.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/markdown/data-access/public-markdown-content.service.ts
  tchalanet-web/apps/public-portal/src/app/features/public/markdown/public-markdown.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/news/public-news.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/news/public-news.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/operators/public-operators.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/operators/public-operators.page.ts
  tchalanet-web/apps/public-portal/src/app/features/public/results-detail/public-result-detail.page.html
  tchalanet-web/apps/public-portal/src/app/features/public/results/public-results.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/common.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-public.json
  tchalanet-web/libs/shared-assets/public/assets/public/pages/en/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/en/terms.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/fr/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/fr/terms.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/ht/privacy.md
  tchalanet-web/libs/shared-assets/public/assets/public/pages/ht/terms.md
  tchalanet-web/libs/web/shell/src/lib/public-shell/public-footer.ts
Due: nx affected:lint --fix, prettier --write

fix(server): redact lottery proxy secret logs
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
Due: none

fix(server): apply tenant rls for processed events
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/persistence/ProcessedEventJdbcAdapter.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/idempotence/internal/persistence/ProcessedEventJdbcAdapterTest.java
Due: none

chore(lottery): remove provider proxy wiring
  .github/workflows/deploy-lottery-proxy-worker.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/full-validation.yml
  tchalanet-docs/docs-public/tirages-resultats/providers.md
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
  tchalanet-infra/cloudflare-worker-proxy/README.md
  tchalanet-infra/cloudflare-worker-proxy/src/index.js
  tchalanet-infra/cloudflare-worker-proxy/wrangler.toml
  tchalanet-infra/docs/operations/BACKUP-RESTORE.md
  tchalanet-infra/docs/operations/HETZNER.md
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-01-staging-provision.md
  tchalanet-infra/scripts/hcloud/staging-create.sh
  tchalanet-infra/scripts/remote/pg-backup.sh
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/LotteryProxyInterceptor.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryProperties.java
Due: prettier --write

feat(edge): prefix Slack messages with environment tag
  tchalanet-edge-service/src/app.ts
  tchalanet-edge-service/src/config/env.ts
  tchalanet-edge-service/src/modules/messages/adapters/slack/slack-message.sender.ts
  tchalanet-infra/compose/docker-compose-edge-service.yml
Due: nx affected:lint --fix, prettier --write

feat(server): add missouri lottery provider
  tchalanet-docs/docs-public/tirages-resultats/providers.md
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
  tchalanet-server/openspec/changes/add-missouri-lottery-provider/proposal.md
  tchalanet-server/openspec/changes/add-missouri-lottery-provider/tasks.md
  tchalanet-server/tchalanet-app/src/main/resources/application-uslottery.yaml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/DOMAIN_USLOTTERY.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/config/UsLotteryConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/mo/MissouriDrawResultsClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/mo/MissouriDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/mo/MissouriDrawResultsMapperTest.java
Due: prettier --write
