Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

feat(mobile): localize cashier sale completion
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/openspec/changes/cashier-sale-completion-v1/proposal.md
  tchalanet-mobile/openspec/changes/cashier-sale-completion-v1/specs/cashier-sale-completion/spec.md
  tchalanet-mobile/openspec/changes/cashier-sale-completion-v1/tasks.md
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_success_page_test.dart
Due: prettier --write

feat(mobile): complete ticket verification flow
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/openspec/changes/cashier-ticket-verification-v1/proposal.md
  tchalanet-mobile/openspec/changes/cashier-ticket-verification-v1/specs/cashier-ticket-verification/spec.md
  tchalanet-mobile/openspec/changes/cashier-ticket-verification-v1/tasks.md
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
Due: prettier --write

feat(mobile): complete cashier v0 flows
  tchalanet-mobile/README.md
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/docs/RELEASE.md
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/draw/data/models/draw_models.dart
  tchalanet-mobile/lib/features/draw/presentation/draw_result_label.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
  tchalanet-mobile/test/features/draw/draw_result_models_test.dart
Due: prettier --write

feat(mobile): complete cashier V0 flows (#361)
  tchalanet-mobile/README.md
  tchalanet-mobile/assets/i18n/en/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/fr/feature-seller-terminal.json
  tchalanet-mobile/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-mobile/docs/RELEASE.md
  tchalanet-mobile/lib/core/i18n/draw_identity_label.dart
  tchalanet-mobile/lib/core/network/api_exception.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/draw/data/models/draw_models.dart
  tchalanet-mobile/lib/features/draw/presentation/draw_result_label.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/openspec/changes/cashier-sale-completion-v1/proposal.md
  tchalanet-mobile/openspec/changes/cashier-sale-completion-v1/specs/cashier-sale-completion/spec.md
  tchalanet-mobile/openspec/changes/cashier-sale-completion-v1/tasks.md
  tchalanet-mobile/openspec/changes/cashier-ticket-history-v1/.openspec.yaml
  tchalanet-mobile/openspec/changes/cashier-ticket-history-v1/README.md
  tchalanet-mobile/openspec/changes/cashier-ticket-history-v1/proposal.md
  tchalanet-mobile/openspec/changes/cashier-ticket-history-v1/specs/cashier-ticket-history/spec.md
  tchalanet-mobile/openspec/changes/cashier-ticket-history-v1/tasks.md
  tchalanet-mobile/openspec/changes/cashier-ticket-verification-v1/proposal.md
  tchalanet-mobile/openspec/changes/cashier-ticket-verification-v1/specs/cashier-ticket-verification/spec.md
  tchalanet-mobile/openspec/changes/cashier-ticket-verification-v1/tasks.md
  tchalanet-mobile/test/architecture/architecture_guard_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_draw_label_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_success_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
  tchalanet-mobile/test/features/cashier/tickets/ticket_reprint_dialog_test.dart
  tchalanet-mobile/test/features/draw/draw_result_models_test.dart
Due: prettier --write

fix(pos): align mobile catalog contracts
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/core/sales/internal/infra/web/model/SellTicketRequestJsonTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/GlobalErrorHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/promotion_design.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolver.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/json/PageModelJsonFragmentRegistry.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketVerificationResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/publicdrawresults/PublicDrawResultViewMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/publicdrawresults/model/PublicDrawResultRow.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/draws/PosAvailableDrawResponseTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/publicdrawresults/PublicDrawResultViewMapperTest.java
Due: prettier --write

docs(mobile): archive completed POS specs (#359)
  tchalanet-mobile/openspec/changes/archive/2026-07-20-cashier-home-operational-surface/design.md
  tchalanet-mobile/openspec/changes/archive/2026-07-20-cashier-home-operational-surface/proposal.md
  tchalanet-mobile/openspec/changes/archive/2026-07-20-cashier-home-operational-surface/tasks.md
  tchalanet-mobile/openspec/changes/archive/2026-07-20-cashier-ticket-builder-surface/design.md
  tchalanet-mobile/openspec/changes/archive/2026-07-20-cashier-ticket-builder-surface/proposal.md
  tchalanet-mobile/openspec/changes/archive/2026-07-20-cashier-ticket-builder-surface/tasks.md
Due: prettier --write

fix(pos): align mobile catalog contracts (#362)
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/core/sales/internal/infra/web/model/SellTicketRequestJsonTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-server/tchalanet-common/src/main/java/com/tchalanet/server/common/web/error/GlobalErrorHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/promotion/promotion_design.md
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolver.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/json/PageModelJsonFragmentRegistry.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/model/PosTicketVerificationResponse.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/publicdrawresults/PublicDrawResultViewMapper.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/publicdrawresults/model/PublicDrawResultRow.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/pos/draws/PosAvailableDrawResponseTest.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/publicdrawresults/PublicDrawResultViewMapperTest.java
Due: prettier --write

fix(web): make private notifications mobile-safe
  tchalanet-web/apps/web-e2e/src/admin-portal/notification-mobile.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/private-shell.page.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notification-bell.component.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.scss
Due: nx affected:lint --fix, prettier --write

fix(web): make private notifications mobile-safe (#363)
  tchalanet-web/apps/web-e2e/src/admin-portal/notification-mobile.spec.ts
  tchalanet-web/apps/web-e2e/src/support/api-stub.ts
  tchalanet-web/apps/web-e2e/src/support/pages/private-shell.page.ts
  tchalanet-web/libs/notifications/src/lib/private/private-notification-bell.component.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.scss
Due: nx affected:lint --fix, prettier --write

fix(mobile): polish cashier v0 flows
  tchalanet-mobile/lib/features/cashier/home/data/services/terminal_stats_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_stats_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_service_test.dart
  tchalanet-mobile/test/features/draw/seller_terminal_results_page_test.dart
Due: none

fix(mobile): polish cashier v0 flows (#367)
  tchalanet-mobile/lib/features/cashier/home/data/services/terminal_stats_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_profile_page.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/seller_terminal_stats_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/print_ticket_action.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/draw/presentation/views/seller_terminal_results_page.dart
  tchalanet-mobile/test/features/cashier/home/seller_terminal_stats_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_sell_page_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_models_test.dart
  tchalanet-mobile/test/features/cashier/tickets/cashier_ticket_service_test.dart
  tchalanet-mobile/test/features/draw/seller_terminal_results_page_test.dart
Due: none

fix(server): green the full test suite after error-contract migration (#355)
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/contract/AdminSellerTerminalPricingProblemContractTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/core/sales/internal/infra/web/model/SellTicketRequestJsonTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/SalesPolicyPromotionSpringIntegrationTest.java
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/resultslot/internal/write/ResultSlotConfigValidatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pricing/internal/application/query/ResolveSellerTerminalOddsQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pricing/internal/application/query/ResolveSellerTerminalPayoutRuleQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/ConfirmPreparedSaleCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/RegenerateSalePreparationPromotionLineCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/result/RecordDrawTicketsResultCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
Due: none

fix(server): green the full test suite after error-contract migration (#355) (#368)
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/app/contract/AdminSellerTerminalPricingProblemContractTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/core/sales/internal/infra/web/model/SellTicketRequestJsonTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsServiceTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/SalesPolicyPromotionSpringIntegrationTest.java
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/resultslot/internal/write/ResultSlotConfigValidatorTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pricing/internal/application/query/ResolveSellerTerminalOddsQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/pricing/internal/application/query/ResolveSellerTerminalPayoutRuleQueryHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/ConfirmPreparedSaleCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/preparation/RegenerateSalePreparationPromotionLineCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/command/handler/result/RecordDrawTicketsResultCommandHandlerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/sales/internal/application/service/sell/SaleCommandValidatorTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pos/tickets/app/PosTicketsService.java
Due: none

feat(server): support provisional draw results
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/ConfirmDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultSlotSourceConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultSlotSourceConfigResolver.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssemblerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultSlotSourceConfigResolverTest.java
Due: none

chore(deps): weekly Dependabot review 2026-07-21
  .agents/dependabot-reports/2026-07-21.md
Due: prettier --write

feat(server): support provisional draw results (#370)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/ConfirmDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultSlotSourceConfig.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultSlotSourceConfigResolver.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/DrawResultPersistenceAssemblerTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/ResultSlotSourceConfigResolverTest.java
Due: none

fix(server): validate draw result provider flows
  tchalanet-docs/docs/02-functional/flows/draw-execution.md
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
  tchalanet-docs/mkdocs.yml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawResultAuditSpringIntegrationTest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningService.java
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningServiceTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/persistence/adapter/DrawResultWriterJpaAdapter.java
Due: prettier --write

docs: clarify provider result arrival delays
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
Due: prettier --write

fix(server): keep partial draw results provisional
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandlerStatusTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/HaitiProjectionServiceTest.java
Due: prettier --write

docs: document draw result quality status rules
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
Due: prettier --write

test(server): cover draw ticket lifecycle settlement
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawTicketLifecycleSpringIntegrationTest.java
Due: none

fix(server): reconcile tickets after draw result override
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawTicketLifecycleSpringIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/adapter/DrawLifecycleJpaAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/OverrideDrawResultCommandHandler.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationTemplateRenderer.java
Due: none

fix(server): keep tenant manual results provisional
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawResultAuditSpringIntegrationTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/command/RecordManualDrawResultCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/drawresult/TenantAdminDrawResultController.java
Due: none

fix(server): parse wrapped Ohio auth token
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioAuthClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioTokenProviderImpl.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioAuthClientTest.java
Due: none

fix(server): validate draw result provider flows (#371)
  tchalanet-docs/docs/02-functional/flows/draw-execution.md
  tchalanet-docs/docs/02-functional/flows/draw-result-provider-validation.md
  tchalanet-docs/mkdocs.yml
  tchalanet-server/tchalanet-app/src/main/resources/db/migration/V204__seed_core_game_draw.sql
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawResultAuditSpringIntegrationTest.java
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/integration/business/DrawTicketLifecycleSpringIntegrationTest.java
  tchalanet-server/tchalanet-catalog/src/main/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningService.java
  tchalanet-server/tchalanet-catalog/src/test/java/com/tchalanet/server/catalog/drawchannel/internal/write/DrawChannelProvisioningServiceTest.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/draw/internal/infra/persistence/adapter/DrawLifecycleJpaAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/api/command/RecordManualDrawResultCommand.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/OverrideDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/RecordManualDrawResultCommandHandler.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/drawresult/internal/infra/persistence/adapter/DrawResultWriterJpaAdapter.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioAuthClient.java
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioTokenProviderImpl.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/command/handler/FetchExternalResultsWindowCommandHandlerStatusTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/drawresult/internal/application/service/HaitiProjectionServiceTest.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/auth/OhioAuthClientTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/drawresult/TenantAdminDrawResultController.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationService.java
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/notification/internal/service/NotificationTemplateRenderer.java
Due: prettier --write

fix(web): show disabled draw result sources
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.ts
Due: nx affected:lint --fix, prettier --write

fix(server): map wrapped Ohio draw results
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapperTest.java
Due: none

fix(server): keep Ohio pick games strict
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapperTest.java
Due: none

fix(web): show disabled draw result sources (#372)
  tchalanet-server/tchalanet-core/src/main/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapper.java
  tchalanet-server/tchalanet-core/src/test/java/com/tchalanet/server/core/uslottery/internal/infra/external/oh/OhioDrawResultsMapperTest.java
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/components/draw-channel-source-badge/draw-channel-source-badge.component.ts
Due: nx affected:lint --fix, prettier --write

fix(web): show supported draw providers as inactive
  tchalanet-web/apps/admin-portal/src/app/features/draw-channels/data-access/admin-draw-channels-api.service.ts
Due: nx affected:lint --fix, prettier --write

fix(web): align tenant setup copy
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): align admin drawer Haitian copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
Due: prettier --write

fix(web): use santral in Haitian admin copy
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
Due: prettier --write

fix(web): refine Haitian Creole translations
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/domain.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-auth.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-public.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-seller-terminal.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-platform.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-public.json
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
