Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

fix(widgets): make KPI grid actually reach 2 columns on mobile
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/kpi-grid/kpi-grid.widget.scss
Due: prettier --write

fix(admin): translate active receipt template
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(admin): correct manual draw result entry and compact mobile draws UI (#423)
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/draw-result-drawer/draw-result-drawer.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/draw-result-drawer/draw-result-drawer.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-summary/generated-draws-summary.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/components/generated-draws-table/generated-draws-table.component.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws-api.service.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/data-access/admin-generated-draws.models.ts
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.scss
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
  tchalanet-web/libs/web/console/src/lib/domain/console-domain-types.ts
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.html
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/kpi-grid/kpi-grid.widget.scss
Due: nx affected:lint --fix, prettier --write

fix(errors): complete idempotency error contract
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/web/RequireIdempotencyInterceptor.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/idempotence/internal/web/RequireIdempotencyInterceptorTest.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/web/errors/src/lib/copy/error-i18n-contract.spec.ts
Due: nx affected:lint --fix, prettier --write

fix(errors): complete idempotency error contract (#428)
  tchalanet-server/tchalanet-platform/src/main/java/com/tchalanet/server/platform/idempotence/internal/web/RequireIdempotencyInterceptor.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/idempotence/internal/web/RequireIdempotencyInterceptorTest.java
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.html
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/settings/admin-config.page.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/errors.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/web/errors/src/lib/copy/error-i18n-contract.spec.ts
Due: nx affected:lint --fix, prettier --write

refactor(admin): trim dashboard to KPIs/charts/quick-actions, move config checks to setup checklist
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/contract/ActionItem.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardProvider.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssembler.java
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/libs/page-model/src/lib/widget/widget.contract.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.scss
Due: nx affected:lint --fix, prettier --write

refactor(admin): trim dashboard to KPIs/charts/quick-actions, move config checks to setup checklist (#429)
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/templates/private.dashboard.tenant_admin.template.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssemblerTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/contract/ActionItem.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardProvider.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssembler.java
  tchalanet-web/apps/admin-portal/src/app/features/setup/pages/complete-config/admin-complete-tenant-config.page.ts
  tchalanet-web/libs/page-model/src/lib/widget/widget.contract.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/component.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.html
  tchalanet-web/libs/widgets/src/lib/widgets/surface-admin/quick-actions/quick-actions.widget.scss
Due: nx affected:lint --fix, prettier --write

fix(web-e2e): load the Playwright config again by making it CommonJS
  tchalanet-web/apps/web-e2e/README.md
  tchalanet-web/apps/web-e2e/playwright.config.cts
  tchalanet-web/apps/web-e2e/tsconfig.json
  tchalanet-web/openspec/changes/web-nav-mobile-hardening-v1/tasks.md
Due: prettier --write

feat(web): name every page in the document title
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/apps/public-portal/src/app/app.config.ts
  tchalanet-web/apps/public-portal/src/app/features/public/public.routes.ts
  tchalanet-web/apps/web-e2e/src/public-portal/page-title.spec.ts
  tchalanet-web/libs/web/shell/README.md
  tchalanet-web/libs/web/shell/src/index.ts
  tchalanet-web/libs/web/shell/src/lib/title/tch-title.strategy.spec.ts
  tchalanet-web/libs/web/shell/src/lib/title/tch-title.strategy.ts
  tchalanet-web/openspec/changes/web-route-page-titles-v1/proposal.md
  tchalanet-web/openspec/changes/web-route-page-titles-v1/specs/web-page-title/spec.md
  tchalanet-web/openspec/changes/web-route-page-titles-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(infra): prevent Cloudflare Pages HTML transformation
  tchalanet-web/tools/build-cloudflare-pages.mjs
Due: none

fix(infra): prevent Cloudflare Pages HTML transformation (#432)
  tchalanet-web/tools/build-cloudflare-pages.mjs
Due: none

fix(auth): defer support session hydration
  tchalanet-web/libs/core/auth/src/lib/support/support-access.store.ts
Due: nx affected:lint --fix, prettier --write

fix(infra): align Firebase project credentials
  .github/workflows/README.md
  .github/workflows/mobile-distribute-staging.yml
  Makefile
  openspec/changes/firebase-project-cutover-v1/proposal.md
  openspec/changes/firebase-project-cutover-v1/tasks.md
  tchalanet-infra/Makefile
  tchalanet-infra/compose/docker-compose-api.yml
  tchalanet-infra/docs/operations/mobile-distribution-v0.md
  tchalanet-infra/docs/operations/runbooks/RB-00-secrets-checklist.md
  tchalanet-infra/docs/operations/runbooks/RB-03-mobile-distribution.md
  tchalanet-infra/envs/staging/api.env
  tchalanet-infra/scripts/local/setup-api-env.sh
  tchalanet-infra/scripts/remote/prepare-firebase-admin-credentials.sh
  tchalanet-infra/scripts/remote/push-infra-bkup.sh
  tchalanet-mobile/openspec/changes/provider-neutral-mobile-auth-runtime-v1/tasks.md
  tchalanet-server/.gitignore
  tchalanet-server/docs/conventions/identity-providers.md
  tchalanet-server/tchalanet-app/src/main/resources/application-local-ide.yaml
  tchalanet-server/tchalanet-app/src/main/resources/application.yaml
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/identity/internal/service/ExternalIdentityAppUserResolverTest.java
  tchalanet-server/testing/e2e/.env.example
Due: prettier --write

fix(web): keep draw identity readable on mobile
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.scss
Due: prettier --write

feat(web): give the console menu two levels on narrow screens
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/ui/components/src/index.ts
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/ui/components/src/lib/navigation/route-activity.ts
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
  tchalanet-web/libs/web/shell/README.md
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-navigation.spec.ts
  tchalanet-web/libs/web/shell/src/lib/title/tch-title.strategy.ts
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/proposal.md
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/specs/web-console-drawer/spec.md
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

test(web-e2e): observe the console drawer in a real browser
  tchalanet-web/apps/web-e2e/playwright.config.cts
  tchalanet-web/apps/web-e2e/src/mobile/admin-drawer.spec.ts
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): move the company and help entries to a drawer footer
  tchalanet-web/apps/admin-portal/src/app/app.config.ts
  tchalanet-web/apps/admin-portal/src/app/app.html
  tchalanet-web/apps/admin-portal/src/app/app.ts
  tchalanet-web/apps/platform-portal/src/app/app.config.ts
  tchalanet-web/apps/platform-portal/src/app/app.html
  tchalanet-web/apps/platform-portal/src/app/app.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-drawer.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/runtime-navigation.mapper.ts
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): rank drawer entries by section, not by child count
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

chore(ci): satisfy server and mobile format gates
  tchalanet-mobile/lib/core/network/api_notice.dart
  tchalanet-mobile/test/features/cashier/tickets/ticket_reprint_dialog_test.dart
  tchalanet-server/tchalanet-common/src/test/java/com/tchalanet/server/common/web/error/ErrorContractFixturesTest.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/ops/batch/OpsBatchLaunchFacade.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/pagemodel/dynamic/providers/tenantadmin/TenantAdminDashboardPayloadAssembler.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/overview/TenantSetupView.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssembler.java
  tchalanet-server/tchalanet-features/src/test/java/com/tchalanet/server/features/tenantadmin/readiness/TenantReadinessAssemblerTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/idempotence/internal/aspect/RequireIdempotencyAspectTest.java
  tchalanet-server/tchalanet-platform/src/test/java/com/tchalanet/server/platform/idempotence/internal/web/RequireIdempotencyInterceptorTest.java
Due: none

fix(web): stop the CDK focus trap from stacking the desktop sidebar
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.ts
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

refactor(web): replace the category card grid with a flat row list
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

chore(deps): weekly Dependabot review 2026-07-28
  .agents/dependabot-reports/2026-07-28.md
Due: prettier --write

fix(server): split tenant-admin navigation into operations/configuration sections
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
Due: prettier --write

fix(web): read the runtime drawer footer from the field the backend actually sends
  tchalanet-web/apps/web-e2e/playwright.config.cts
  tchalanet-web/libs/core/auth/src/lib/runtime/private-bootstrap.model.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/runtime-navigation.mapper.spec.ts
  tchalanet-web/libs/core/auth/src/lib/runtime/runtime-navigation.mapper.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/openspec/changes/web-console-drawer-two-levels-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(web): navigate on the sidenav row label, chevron only expands
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/superadmin/private_shell_superadmin.json
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/fragments/private/tenantadmin/private_shell_tenantadmin.json
  tchalanet-server/tchalanet-app/src/test/java/com/tchalanet/server/features/bootstrap/privateruntime/app/PrivateShellNavigationResolverTest.java
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/surface-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/surface-admin.json
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-navigation.model.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/proposal.md
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/specs/web-console-sidenav/spec.md
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(web): stop stacking two solid highlights on an active sidebar group
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
Due: nx affected:lint --fix, prettier --write

fix(web): actually cancel the group-link solid fill this time
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
Due: nx affected:lint --fix, prettier --write

revert(web): keep the whole-row-opens-panel behavior on mobile
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-layout.component.html
Due: nx affected:lint --fix, prettier --write

fix(web): stop hiding the landing page inside the mobile drawer panel
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.html
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.scss
  tchalanet-web/libs/ui/components/src/lib/drawer-nav/drawer-nav.ts
  tchalanet-web/libs/web/shell/src/lib/private-shell/private-shell-drawer.spec.ts
Due: nx affected:lint --fix, prettier --write

docs(openspec): reconcile sidenav-simplification spec with what shipped
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/proposal.md
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/specs/web-console-sidenav/spec.md
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/tasks.md
Due: prettier --write

test(web): e2e coverage for the sidenav label/chevron split and mobile panel
  tchalanet-web/apps/web-e2e/src/admin-portal/sidenav-desktop.spec.ts
  tchalanet-web/apps/web-e2e/src/mobile/admin-drawer.spec.ts
  tchalanet-web/libs/ui/components/src/lib/sidebar-nav/sidebar-nav.ts
  tchalanet-web/openspec/changes/web-console-sidenav-simplification-v1/tasks.md
Due: nx affected:lint --fix, prettier --write

fix(admin): show today's draws first, fix next-page enable state
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/draws/pages/overview/admin-generated-draws.page.ts
Due: nx affected:lint --fix, prettier --write

fix(admin): stop showing a scary outage message when today's report data just isn't consolidated yet
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/daily/report-daily.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/draws/report-draws.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/report/report.page.html
  tchalanet-web/apps/admin-portal/src/app/features/reports/pages/sellers/report-sellers.page.html
  tchalanet-web/libs/shared-assets/public/assets/i18n/en/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/fr/feature-admin.json
  tchalanet-web/libs/shared-assets/public/assets/i18n/ht/feature-admin.json
Due: nx affected:lint --fix, prettier --write

fix(web): stop the draw card text wrapping one character per line on mobile
  tchalanet-web/libs/web/console/src/lib/draw-slots/console-draw-slot-identity.component.scss
  tchalanet-web/libs/web/console/src/lib/draws/console-draws-table.component.scss
Due: prettier --write

Path conditions:
  nx affected:lint --fix: any of: *.{ts,html}
  prettier --write: ((any of: *.{ts,html}) or (any of: *.{scss,css})) or (any of: *.{md,json})
