Repository bhebb/tchalanet: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,html}": [
    "nx affected:lint --fix",
    "prettier --write"
  ],
  "*.{scss,css}": [
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat(mobile): add POS foundation — architecture, contracts, PKCE auth, dashboard
  tchalanet-mobile/analysis_options.yaml
  tchalanet-mobile/android/app/build.gradle.kts
  tchalanet-mobile/android/app/src/main/AndroidManifest.xml
  tchalanet-mobile/android/app/src/main/res/xml/network_security_config.xml
  tchalanet-mobile/docs/ARCHITECTURE.md
  tchalanet-mobile/docs/mobile/dependencies.md
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/core/config/app_config.dart
  tchalanet-mobile/lib/core/i18n/i18n_models.dart
  tchalanet-mobile/lib/core/settings/runtime_settings.dart
  tchalanet-mobile/lib/core/storage/secure_token_storage.dart
  tchalanet-mobile/lib/core/storage/token_storage.dart
  tchalanet-mobile/lib/design_system/theme/runtime_theme.dart
  tchalanet-mobile/lib/design_system/theme/tch_theme.dart
  tchalanet-mobile/lib/features/auth/data/models/auth_session.dart
  tchalanet-mobile/lib/features/auth/data/models/login_credentials.dart
  tchalanet-mobile/lib/features/auth/data/models/user_role.dart
  tchalanet-mobile/lib/features/auth/data/models/user_session.dart
  tchalanet-mobile/lib/features/auth/data/repositories/auth_repository.dart
  tchalanet-mobile/lib/features/auth/data/repositories/auth_repository_impl.dart
  tchalanet-mobile/lib/features/auth/data/services/auth_service.dart
  tchalanet-mobile/lib/features/auth/domain/auth_repository.dart
  tchalanet-mobile/lib/features/auth/presentation/login_page.dart
  tchalanet-mobile/lib/features/auth/presentation/view_models/auth_controller.dart
  tchalanet-mobile/lib/features/auth/presentation/views/forbidden_page.dart
  tchalanet-mobile/lib/features/auth/presentation/views/login_page.dart
  tchalanet-mobile/lib/features/pos/data/models/operational_context_view.dart
  tchalanet-mobile/lib/features/pos/data/models/sales_session_view.dart
  tchalanet-mobile/lib/features/pos/data/models/terminal_binding_view.dart
  tchalanet-mobile/lib/features/pos/presentation/views/pos_dashboard_page.dart
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
  tchalanet-mobile/pubspec.lock
  tchalanet-mobile/pubspec.yaml
  tchalanet-mobile/test/widget_test.dart
Due: prettier --write

chore(agents): update mobile workflow and remove stale spec review
  .agents/mobile-workflow.md
  .claude/spec-testing-skills-review.md
Due: prettier --write

fix(mobile): update widget tests for PKCE LoginPage; update VERSIONS.md
  VERSIONS.md
  tchalanet-mobile/test/widget_test.dart
Due: prettier --write

docs(mobile): add auth convention — PKCE flow, token storage, UserSession, guards
  tchalanet-mobile/docs/conventions/README.md
  tchalanet-mobile/docs/conventions/auth.md
Due: prettier --write

feat(mobile): implement i18n runtime T7 — local bundle, backend overrides, locale switch
  tchalanet-mobile/assets/i18n/en.json
  tchalanet-mobile/assets/i18n/fr.json
  tchalanet-mobile/docs/conventions/README.md
  tchalanet-mobile/docs/conventions/i18n.md
  tchalanet-mobile/lib/core/i18n/i18n_repository.dart
  tchalanet-mobile/lib/core/i18n/i18n_service.dart
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
  tchalanet-mobile/pubspec.yaml
Due: prettier --write

fix(mobile): correct i18n service to match real server contract
  tchalanet-mobile/docs/conventions/i18n.md
  tchalanet-mobile/lib/core/i18n/i18n_models.dart
  tchalanet-mobile/lib/core/i18n/i18n_repository.dart
  tchalanet-mobile/lib/core/i18n/i18n_service.dart
Due: prettier --write

docs(mobile): add theme convention — tokens, TchTheme, RuntimeTheme, usage rules
  tchalanet-mobile/docs/conventions/README.md
  tchalanet-mobile/docs/conventions/theme.md
Due: prettier --write

feat(mobile): implement theme runtime T8 — ThemeBuilder, ThemeNotifier, live ThemeData
  tchalanet-mobile/lib/app/app.dart
  tchalanet-mobile/lib/core/theme/theme_repository.dart
  tchalanet-mobile/lib/core/theme/theme_service.dart
  tchalanet-mobile/lib/design_system/theme/runtime_theme.dart
  tchalanet-mobile/lib/design_system/theme/theme_builder.dart
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
Due: prettier --write

docs(mobile): add theme convention — endpoints, tokens, ThemeBuilder, providers, lifecycle
  tchalanet-mobile/docs/conventions/theme.md
Due: prettier --write

feat(mobile): redesign login page and fix local URL config
  tchalanet-mobile/lib/core/config/app_config.dart
  tchalanet-mobile/lib/features/auth/presentation/views/login_page.dart
Due: none

feat(mobile): add ScreenSize to design system
  tchalanet-mobile/docs/conventions/theme.md
  tchalanet-mobile/lib/design_system/layout/screen_size.dart
Due: prettier --write

feat(mobile): apply ScreenSize to LoginPage — phone vs POS terminal layouts
  tchalanet-mobile/lib/features/auth/presentation/views/login_page.dart
Due: none

feat(mobile): add public draw results and next draw to login/home page
  tchalanet-mobile/lib/features/auth/presentation/views/login_page.dart
  tchalanet-mobile/lib/features/draw/presentation/view_models/draw_providers.dart
  tchalanet-mobile/test/widget_test.dart
Due: none

feat(mobile): cashier home screen — T9-A data layer + T10 UI + T11 components
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/design_system/components/online_badge.dart
  tchalanet-mobile/lib/design_system/components/pos_action_button.dart
  tchalanet-mobile/lib/design_system/components/stat_card.dart
  tchalanet-mobile/lib/features/cashier/home/data/models/cashier_home_models.dart
  tchalanet-mobile/lib/features/cashier/home/data/services/cashier_home_service.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/view_models/cashier_home_providers.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/pos/presentation/views/pos_stub_page.dart
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
Due: prettier --write

chore(mobile): apply cashier-home-v1 decisions from Slack Q&A
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
Due: prettier --write

feat(cashier): add GET /tenant/cashier/operational-context/options endpoint
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/operationalcontext/CashierOperationalContextController.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/operationalcontext/app/CashierOperationalContextService.java
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/operationalcontext/model/CashierOpContextOptionsView.java
Due: none

feat(cashier): T9-B operational context setup screen + server trust fix
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/core/network/api_client.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/interceptor/op_context_interceptor.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/models/op_context_options.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/services/cashier_op_context_service.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/data/storage/op_context_storage.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/presentation/view_models/op_context_setup_controller.dart
  tchalanet-mobile/lib/features/cashier/operationalcontext/presentation/views/cashier_setup_page.dart
  tchalanet-server/tchalanet-features/src/main/java/com/tchalanet/server/features/cashier/home/app/CashierHomeService.java
Due: none

feat(mobile): cashier home screen — T9-B data layer + T10 UI + T11 components
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/session/data/models/cashier_session_models.dart
  tchalanet-mobile/lib/features/cashier/session/data/services/cashier_session_service.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/view_models/cashier_session_controller.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/views/cashier_session_open_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
Due: prettier --write

feat(mobile): session open redesign + sell success + ticket detail + revised bottom nav
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/views/cashier_session_open_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/pos/presentation/views/pos_stub_page.dart
Due: none

feat(mobile): sell flow — draw/game catalog + sell screen + controller
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_sell_catalog_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_sell_catalog_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/view_models/sell_controller.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
Due: none

feat(mobile): verify (Scanner tab) + history + ticket detail wired
  tchalanet-mobile/lib/app/app_router.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/models/cashier_ticket_models.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
Due: none

chore(mobile): align sell/verify/history screens with design system tokens
  tchalanet-mobile/lib/design_system/components/online_badge.dart
  tchalanet-mobile/lib/design_system/tokens/tch_colors.dart
  tchalanet-mobile/lib/features/cashier/session/presentation/views/cashier_session_open_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_history_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_scan_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
Due: none

chore(mobile): surface hierarchy for POS terminals
  tchalanet-mobile/lib/design_system/components/stat_card.dart
  tchalanet-mobile/lib/design_system/theme/theme_builder.dart
  tchalanet-mobile/lib/features/cashier/home/presentation/views/cashier_home_page.dart
Due: none

feat(mobile): POS surface context + send receipt (SMS/WhatsApp/email/Slack dev)
  tchalanet-mobile/lib/app/app.dart
  tchalanet-mobile/lib/design_system/components/pos_action_button.dart
  tchalanet-mobile/lib/design_system/layout/screen_size.dart
  tchalanet-mobile/lib/features/cashier/tickets/data/services/cashier_ticket_service.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_sell_success_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/cashier_ticket_detail_page.dart
  tchalanet-mobile/lib/features/cashier/tickets/presentation/views/send_receipt_sheet.dart
Due: none

docs(mobile): complete sell flow architecture & implementation guide
  tchalanet-mobile/docs/SELL_FLOW.md
Due: prettier --write

docs(openspec): mark sell/verify/history/send receipt complete + archive deferred tasks
  tchalanet-mobile/openspec/changes/init-mobile-pos-foundation/tasks.md
Due: prettier --write

docs(openspec): update web + root tasks to reflect PR1 foundations
  openspec/changes/week-public-admin-minimal-dashboards/tasks.md
  tchalanet-web/openspec/changes/minimal-public-admin-widget-ui/tasks.md
Due: prettier --write

feat(web): align tch-portal on PageModelDoc + minimal admin dashboards (W1)
  openspec/changes/week-public-admin-minimal-dashboards/tasks.md
  tchalanet-server/openspec/changes/minimal-public-admin-widget-bff/tasks.md
  tchalanet-web/apps/tch-portal/public/assets/i18n/en.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht.json
  tchalanet-web/apps/tch-portal/src/app/app.routes.spec.ts
  tchalanet-web/apps/tch-portal/src/app/app.routes.ts
  tchalanet-web/apps/tch-portal/src/app/core/pagemodel/index.ts
  tchalanet-web/apps/tch-portal/src/app/core/pagemodel/page-model-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/tenant-admin-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/tenant-admin-dashboard.page.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/admin/tenant-admin-dashboard.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/README.md
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/label.pipe.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/page-model.component.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/page-model.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/shell/page-shell.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-host.component.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-host.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-registry.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-registry.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget.contract.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/feature-grid.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/hero.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/news-ticker.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/plans.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/platform-admin-api.service.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/super-admin-dashboard.page.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/platform/super-admin-dashboard.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-home.page.ts
  tchalanet-web/apps/tch-portal/src/app/shared/types/pagemodel.types.ts
  tchalanet-web/openspec/changes/minimal-public-admin-widget-ui/tasks.md
Due: nx affected:lint --fix, prettier --write

docs(openspec): mark W1 tasks complete across the 3 coordinated changes
  openspec/changes/week-public-admin-minimal-dashboards/tasks.md
  tchalanet-server/openspec/changes/minimal-public-admin-widget-bff/tasks.md
  tchalanet-web/openspec/changes/minimal-public-admin-widget-ui/tasks.md
Due: prettier --write

feat(web): add login/dashboard/logout actions to the public shell header
  tchalanet-web/apps/tch-portal/public/assets/i18n/en.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht.json
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/shell/page-shell.component.ts
Due: nx affected:lint --fix, prettier --write

feat(web): add public design system pagemodel widgets
  tchalanet-web/apps/tch-portal/public/assets/brand/tchalanet-app-icon.svg
  tchalanet-web/apps/tch-portal/public/assets/brand/tchalanet-logo-inverse.svg
  tchalanet-web/apps/tch-portal/public/assets/brand/tchalanet-logo-print.svg
  tchalanet-web/apps/tch-portal/public/assets/brand/tchalanet-logo.svg
  tchalanet-web/apps/tch-portal/public/assets/brand/tchalanet-points.svg
  tchalanet-web/apps/tch-portal/public/assets/i18n/en.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/fr.json
  tchalanet-web/apps/tch-portal/public/assets/i18n/ht.json
  tchalanet-web/apps/tch-portal/public/assets/public/ticket-verification-preview.svg
  tchalanet-web/apps/tch-portal/src/app/app.routes.ts
  tchalanet-web/apps/tch-portal/src/app/core/theme/scss/_generate-theme.scss
  tchalanet-web/apps/tch-portal/src/app/core/theme/scss/runtime-root.scss
  tchalanet-web/apps/tch-portal/src/app/core/theme/scss/runtime-vars.scss
  tchalanet-web/apps/tch-portal/src/app/core/theme/theme-runtime.store.ts
  tchalanet-web/apps/tch-portal/src/app/core/theme/theme-token-map.spec.ts
  tchalanet-web/apps/tch-portal/src/app/core/theme/theme-token-map.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/shell/page-shell.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-host.component.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-registry.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget-registry.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget.contract.spec.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widget.contract.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/hero.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/how-it-works.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/news-ticker.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/operator-cta.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/public-draw-results.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/rules-simulation.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/tchala-search.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/widgets/ticket-verification.widget.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-home.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-info.page.ts
  tchalanet-web/apps/tch-portal/src/index.html
  tchalanet-web/openspec/changes/public-design-system-pagemodel-widgets/design.md
  tchalanet-web/openspec/changes/public-design-system-pagemodel-widgets/proposal.md
  tchalanet-web/openspec/changes/public-design-system-pagemodel-widgets/specs/public-design-system-pagemodel-widgets/spec.md
  tchalanet-web/openspec/changes/public-design-system-pagemodel-widgets/tasks.md
Due: nx affected:lint --fix, prettier --write

feat(theme): update theme management and add error handling components
  tchalanet-server/tchalanet-app/src/main/resources/pagemodel/public.home.json
  tchalanet-web/.codex/config.toml
  tchalanet-web/.nx/cache/run.json
  tchalanet-web/.nx/workspace-data/eslint-2654242865465226088.hash
  tchalanet-web/.nx/workspace-data/file-map.json
  tchalanet-web/.nx/workspace-data/nx_files.nxt
  tchalanet-web/.nx/workspace-data/playwright-5186013267177752385.hash
  tchalanet-web/.nx/workspace-data/project-graph.json
  tchalanet-web/.nx/workspace-data/source-maps.json
  tchalanet-web/CLAUDE.md
  tchalanet-web/apps/tch-portal/src/app/app.config.ts
  tchalanet-web/apps/tch-portal/src/app/core/runtime/app-runtime.store.spec.ts
  tchalanet-web/apps/tch-portal/src/app/core/runtime/app-runtime.store.ts
  tchalanet-web/apps/tch-portal/src/app/core/theme/index.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/shell/page-shell.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-home.page.ts
  tchalanet-web/apps/tch-portal/src/app/shared/types/runtime.types.ts
  tchalanet-web/apps/tch-portal/src/styles.scss
  tchalanet-web/docs/conventions/theme.md
  tchalanet-web/libs/shared/theme/README.md
  tchalanet-web/libs/shared/theme/eslint.config.mjs
  tchalanet-web/libs/shared/theme/project.json
  tchalanet-web/libs/shared/theme/src/index.ts
  tchalanet-web/libs/shared/theme/src/registry/theme-presets.registry.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-api.service.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-dom.service.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-presets.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-runtime.store.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-switcher.component.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-token-map.spec.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme-token-map.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme.repository.ts
  tchalanet-web/libs/shared/theme/tools/generate-theme-registry.mjs
  tchalanet-web/libs/shared/theme/tsconfig.json
  tchalanet-web/libs/shared/ui/src/lib/tch-error-panel.ts
  tchalanet-web/libs/shared/ui/src/lib/tch-loading.ts
  tchalanet-web/opencode.json
  tchalanet-web/package.json
Due: nx affected:lint --fix, prettier --write

feat(public): implement public shell components and update routing
  tchalanet-web/.nx/cache/run.json
  tchalanet-web/.nx/workspace-data/eslint-2654242865465226088.hash
  tchalanet-web/.nx/workspace-data/file-map.json
  tchalanet-web/.nx/workspace-data/nx_files.nxt
  tchalanet-web/.nx/workspace-data/playwright-5186013267177752385.hash
  tchalanet-web/.nx/workspace-data/project-graph.json
  tchalanet-web/apps/tch-portal/src/app/app.routes.spec.ts
  tchalanet-web/apps/tch-portal/src/app/app.routes.ts
  tchalanet-web/apps/tch-portal/src/app/features/dashboard/shell/private-shell.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/pagemodel/shell/page-shell.component.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-check-ticket.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-home.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-info.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-result-detail.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-results.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/public-rules.page.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/shell/public-bottom-nav.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/shell/public-footer.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/shell/public-header.ts
  tchalanet-web/apps/tch-portal/src/app/features/public/shell/public-shell.component.ts
  tchalanet-web/apps/tch-portal/src/app/shared/types/pagemodel.types.ts
  tchalanet-web/libs/shared/theme/src/runtime/theme.types.ts
  tchalanet-web/libs/shared/theme/tsconfig.spec.json
  tchalanet-web/openspec/changes/minimal-public-admin-widget-ui/tasks.md
  tchalanet-web/tsconfig.base.json
Due: nx affected:lint --fix, prettier --write
